<td>
<%=image_tag('icons/folder.png') %>
<%= link_to h(sanitize(directory_name)), :action => 'file_manager', :id => @assignment.id, :path => File.join(@path, directory_name) %>
</td>

<td>
<%= h(directory.last_modified_date.strftime(LONG_DATE_TIME_FORMAT)) %>
</td>

<td>
<%= h(directory.user_id) %>
</td>
