<div class='section'>
  <% if @grade_entry_forms.empty? %>
    <p><%= t('grade_entry_forms.none') %></p>
  <% else %>
    <div class="table">
      <table>
        <thead>
        <tr>
          <th><%= GradeEntryForm.model_name.human %></th>
        </tr>
        </thead>
        <tbody>
        <% @grade_entry_forms.each do |grade_entry_form| -%>
          <tr>
            <td>
              <% link_text = grade_entry_form.short_identifier + ': ' + grade_entry_form.description %>
              <% if grade_entry_form.is_hidden %>
                <% link_text = t('assignments.hidden', assignment_text: link_text) %>
              <% end %>
              <%= link_to link_text,
                          view_summary_grade_entry_form_path(grade_entry_form.id),
                          data: { remote: true, id: grade_entry_form.short_identifier } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
