<script>
  function add_column() {
    var last_col = $('.grade_entry_item').last();
    var new_col = last_col.clone();
    var id_re = new RegExp(/([_\[])[0-9]+([_\]])/);
    var repl = '$1' + new Date().getTime() + '$2';

    // Replace "Remove" checkbox
    var remove_text = new_col.find('[for*="destroy"]').text();
    new_col.find('[id*="destroy"], [name*="destroy"], [for*="destroy"]')
           .remove();
    var a = $('<a>' + remove_text + '</a>');
    a.click(function() { new_col.remove(); return false; });
    new_col.find('p').append(a);

    new_col.find('input').each(function () {
      var d = $(this).attr('id');
      if (typeof d !== 'undefined') {
        $(this).attr('id', d.replace(id_re, repl));
      }
      d = $(this).attr('name');
      if (typeof d !== 'undefined') {
        $(this).attr('name',
                          $(this).attr('name').replace(id_re, repl));
      }
      if ($(this).attr('type') === 'text') {
        $(this).val('');
      } else if ($(this).attr('type') === 'checkbox') {
        $(this).val('0');
      }
    });
    new_col.find('label').each(function () {
      $(this).attr('for', $(this).attr('for').replace(id_re, repl));
    });
    $('#grade_entry_items').append(new_col);
  }

  $(document).ready(function() {
    // Set locale for language localisation with Moment.js
    moment.locale(I18n.t('date.format_string.short'));

    $('.datepicker').datepicker({
      numberOfMonths:   2,
      dateFormat:       I18n.t('date.format_string.datetimepicker'),
      monthNames:       I18n.t('date.month_names').slice(1), // Drop first null element
      dayNames:         I18n.t('date.day_names'),
      dayNamesMin:      I18n.t('date.abbr_day_names'),
      prevText:         I18n.t('time.prev'),
      nextText:         I18n.t('time.next')
    });
  });
</script>
