<%= javascript_include_tag 'flatpickr_config', nonce: true %>
<%= javascript_tag nonce: true do %>
  function add_column() {
    var last_col = $('.grade_entry_item').last();
    var new_col = last_col.clone();
    var id_re = new RegExp(/([_\[])[0-9]+([_\]])/);
    var repl = '$1' + new Date().getTime() + '$2';

    // Replace "Remove" checkbox
    var remove_text = new_col.find('[for*="destroy"]').text();
    new_col.find('[id*="destroy"], [name*="destroy"], [for*="destroy"]')
           .remove();
    var a = $('<a>' + remove_text + '</a>');
    a.attr('class', 'grade-entry-item-delete')
    new_col.append(a);

    new_col.find('input').each(function () {
      var d = $(this).attr('id');
      if (typeof d !== 'undefined') {
        $(this).attr('id', d.replace(id_re, repl));
      }
      d = $(this).attr('name');
      if (typeof d !== 'undefined') {
        $(this).attr('name',
                          $(this).attr('name').replace(id_re, repl));
      }
      if ($(this).attr('type') === 'text') {
        $(this).val('');
      } else if ($(this).attr('type') === 'checkbox') {
        $(this).val('0');
      }
    });
    new_col.find('label').each(function () {
      $(this).attr('for', $(this).attr('for').replace(id_re, repl));
    });
    $('#grade_entry_items').append(new_col);
    refresh_event_listeners();
  }

  function refresh_event_listeners() {
    $('.grade-entry-item-delete').click(function(e) {
      $(e.target).parents(".grade_entry_item").remove();
      e.preventDefault();
    })
  }

  $(document).ready(function() {
    Flatpickr(".datepicker", {})
  });
<% end %>
