<% grade_entry_forms = GradeEntryForm.where(is_hidden: false).order(:id) %>

<% if grade_entry_forms.empty? %>
  <p><%= t('grade_entry_forms.none') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
        <tr>
          <th><%= GradeEntryForm.model_name.human %></th>
          <th><%= GradeEntryForm.human_attribute_name(:date) %></th>
          <th><%= Result.model_name.human.pluralize %></th>
        </tr>
      </thead>
      <tbody>
        <% grade_entry_forms.each do |grade_entry_form| %>
          <% gef_text = "#{h(grade_entry_form.short_identifier)}: #{h(grade_entry_form.description)}" %>
          <% route = student_interface_grade_entry_form_path(grade_entry_form.id) %>
          <% render partial: 'grade_entry_forms/row', locals: { gef_text: gef_text,
                                                           route: route,
                                                           grade_entry_form: grade_entry_form} %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
