<% # Grade entry form edit properties page
%>

<div id="title_bar">
  <h1><%= t('grade_entry_forms.edit.title') + " " + @grade_entry_form.short_identifier %></h1>
  <p><%= t("grade_entry_forms.required_fields").html_safe %></p>
</div>
<%= render :partial => 'form' %>
