<div class='title_bar'>
  <h1><%= t('grade_entry_forms.edit.title') + ' ' + @grade_entry_form.short_identifier %></h1>
</div>

<p><%= t('grade_entry_forms.required_fields').html_safe %></p>

<%= render partial: 'form' %>
