<td>
    <span class="link"><%= student.user_name %></span>
</td>
<td>
    <%= "#{student.first_name} #{student.last_name}" %>
</td>
<td>
  <% if !student.section.nil? %>
    <%= student.section.name %>
  <% end %>
</td>
<td>
  <% if grade_entry_student %>
    <%= render partial: "marks_graders/manage/member",
               formats: [:html], handlers: [:erb],
               locals: {
                 student: student,
                 grade_entry_student: grade_entry_student
               } %>
  <% end %>
</td>
