<td>
<span class="link"><%= h(student.user_name) %></span>
</td>
<td><%= h("#{student.first_name} #{student.last_name}") %></td>

<td>
  <% if !student.section.nil? %>
    <%= h(student.section.name) %>
  <% end %>
</td>

<td>
  <% if !grade_entry_form.grade_entry_students.nil? and !grade_entry_form.grade_entry_students.find_by_user_id(student.id).nil? %>
    <%= render :partial => "marks_graders/manage/member",
      :locals => {:student => student, :grade_entry_form => grade_entry_form } %>
  <% end %>
</td>


