<div id="title_bar">
<h1>Manage Users</h1>
</div>
<div class="wrapLeft">
<h2>Create a new TA</h2>

<%= render :partial => "layouts/userform", :locals => { :controller => 'tas', :action => 'create'} -%>
</div>
