<% content_for :title do %>
  <%= t('tas.edit') %>
<% end %>

<div class='pane-wrapper'>
  <div class='pane'>
    <div id='grader_permission_pane'>
      <%= render partial: 'grader_permissions/grader_permission_pane',
                 locals: { controller: 'tas',
                           action: 'edit' }%>
    </div>
  </div>
</div>
