<div class='title_bar'>
  <h1><%= t('graders.manage_graders') %></h1>
</div>

<div class='wrapLeft'>
  <h2><%= I18n.t('graders.edit_grader') %></h2>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'tas',
                       action: 'edit' } %>
</div>

