<div id="title_bar">
<h1><%=h I18n.t("graders.manage_graders") %></h1>
</div>
<div class="wrapLeft">
<h2><%=h I18n.t("graders.edit_grader") %></h2>
<%= render :partial => "layouts/userform",
           :locals => { :controller => 'tas', :action => 'update'} %>
</div>

