<div id="title_bar">
<h1>Manage Graders</h1>
</div>
<div class="wrapLeft">
<h2>Edit a Grader</h2>
<%= render :partial => "layouts/userform", :locals => { :controller => 'tas', :action => 'update'} %>
</div>

