<div class='title_bar'>
  <h1><%= I18n.t('graders.create_new_grader') %></h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'tas',
                       action: 'create'} %>
</div>
