<% content_for :title, t('tas.new') %>

<div class='pane-wrapper'>
  <div id=new_grader_pane>
    <%= render partial: 'layouts/userform',
               locals: { controller: 'tas',
                         action: 'create'} %>
  </div>
  <div class='pane'>
    <div id='grader_permission_pane'>
      <%= render partial: 'grader_permissions/grader_permission_pane' %>
    </div>
  </div>
</div>
