<li id='new_criterion'>
	<%= form_for @criterion,
    url: assignment_criteria_path(assignment_id: assignment.id,
                                  criterion_type: @criterion_type),
    method: :post,
    remote: true do |f| %>
    <div id='new_criterion_error' style='display:none;' class='error'></div>
    <%= label_tag 'new_criterion_prompt',
		  t('criteria.name') %><br>
    <%= f.text_field :name,
		     size: 15,
		     id: 'new_criterion_prompt' %><br>
    <%= f.submit t('criteria.save'), data: { disable_with: t('working') }%>
  <% end %>
</li>
