<div id="download">
  <h2><%= I18n.t("groups.download.download_grader_maps") %></h2>
  <%= link_to t("groups.download.download_grader_groups_csv"),
    {:controller=>"graders", :action=>"download_grader_groupings_mapping", :id=> @assignment.id}, :onclick => "modalDownload.close();" %>
  <br /> <br />
  <%= link_to t("groups.download.download_grader_criteria_csv"),
    {:controller=>"graders", :action=>"download_grader_criteria_mapping", :id=> @assignment.id}, :onclick => "modalDownload.close();" %>
  <br />
  <br />
  <button onclick="modalDownload.close(); return false;"><%= I18n.t('cancel') %>
  </button>
</div>