<% if @assignment.group_name_displayed == true%>
    <h3> <%= h(grouping.group.group_name) %></h3>
<% end %>
<%# If the student is the inviter %>
<% if grouping.inviter.id == @student.id and !grouping.is_valid? %>
      <%= link_to_remote "<b>Delete your group</b>", :method =>
	  'delete', :url => {:action => 'delete_group', :id =>
@assignment.id, :grouping_id => grouping.id},
	  :html => { :class => 'remove_group', :title => 'Delete this
	  group'},
	  :confirm => 'Are you sur you want to delete your group?'%>
<% end %>

<% # If the group not yet the right amount of members, display
   # the information%>
<% if !grouping.is_valid? %>
    <p class="warning"> There is not enought members in this
	      group yet!</p>
<% elsif grouping.student_membership_number == @assignment.group_max %>
    <p class="fine"> Group complete </p>
<% end %>

<% # For each member of this group, we display the
   # informations we have on them %>
 <ul>
   <% grouping.student_memberships.each do |member|%>
       <%= render :partial => "groups/student_manage/member", :locals => {:grouping => grouping, :member => member} %>
       <% @students.delete(member.user.id) if @students %>
   <% end -%> 
 </ul>

<% # if the student is the inviter, and the student can still
	      # invite, display a link to invite %>
<% if grouping.inviter.id == @student.id and
grouping.student_membership_number < @assignment.group_max%>
  <% if @assignment.student_invite_until.nil? or Time.now < @assignment.student_invite_until %>
     <%= button_to_function "Invite", 'invite(); return false;'%>
  <% end %>
<% end %>
	 
