<%= fields_for :note do |f| %>
  <p>
    <%= f.label :noteable_id, Assignment.model_name.human %>
    <%= f.select :noteable_id, @assignments.map { |item| [item.short_identifier, item.id] } %>
  </p>
<% end %>
