<% annots.each do |annot| %>
  <li class="<%= cycle('annotations1', 'annotations2') %>">
  
    <p class="lineNumber"><%=link_to_function "Line #{annot.line_start} to #{annot.line_end}", "focus_source_code_line(#{annot.line_start})"%></p>
    <p class="annotationContent" id="annotation_text_content_display_<%=h(annot.annotation_text.id)%>">
    <%=h(escape_javascript(CGI.unescape(annot.annotation_text.content)))%>
    </p>
    
  </li>
<% end %>
