<div id="peer_reviews">
  <% prs.each do |pr| %>
    <%= link_to("Review " + pr.id.to_s, {controller: 'results',
                                         action: 'view_marks',
                                         assignment_id: assignment.id,
                                         submission_id: submission.id,
                                         id: pr.result_id}) %>
  <% end %>
</div>