<div id="peer_reviews">
  <p id='peer_review_selector_label'>
    <%= @current_user.student? ? "Reviews made on your submission:" : "This reviewer's reviews: " %>
  </p>

  <div id='peer_review_selector' class='dropdown'>
    <a><%= "Review " + (prs.index(current_pr) + 1).to_s %></a>
    <ul>
      <% prs.each_with_index do |pr, i| %>
        <li> <%= link_to("Review " + (i + 1).to_s,
                      view_marks_assignment_result_path(assignment.id, pr.result_id)) %> </li>
      <% end %>
    </ul>

    <div class='arrow_down'></div>
  </div>

  <%= link_to("View TA Result",
              view_marks_assignment_submission_result_path(assignment.id, submission.id,
                                                              submission.get_latest_result.id),
               id: 'original_result_link') %>
</div>