<div id='remark_request_edit'>
  <%= form_for submission,
               url: { controller: 'results',
                      action: 'update_remark_request',
                      id: submission.id,
                      assignment_id: assignment.id },
               remote: true do |f| %>
    <%= f.text_area :remark_request, cols: 50, rows: 10,
                    id: 'remark_request_text_area',
                    onkeydown: 'enableRemarkRequestButtons();' %>

    <div>
      <%= f.submit t(:save_changes),
                   disabled: true,
                   id: 'remark_request_save',
                   data: { disable_with: t(:working) },
                   name: 'save' %>
      <%= f.submit t('results.remark.submit'),
                   id: 'remark_request_submit',
                   data: { confirm: t('results.remark.submit_confirm'),
                           disable_with: t(:working) },
                   name: 'submit' %>
    </div>
  <% end %>
</div>
