<div id="remark_request_edit">
  <% remote_form_for submission, :url => {:action => 'update_remark_request', :id => submission.id, :assignment_id => assignment.id} do |f| %>
    <%= f.text_area :remark_request, :cols => 50, :rows => 5, :id => 'remark_request_text_area', :onkeypress => "$('remark_request_save').enable();" %>
    <div>
      <%= f.label t(:submit_request) %>
      <%= f.check_box :submit_request, :checked => false, :onclick => "$('remark_request_save').enable();" %>
      <%= f.submit t(:save_changes), :disabled => true, :id => "remark_request_save" %>
    </div>
  <% end -%>
</div>
