<div id="pane_holders">
  <div id="code_pane">
    <ul id="code_and_annotations_tabs" class="subsection_tabs">
       <li class="tab"><a href="#code_holder">Source Code</a></li>
       <li class="tab"><a href="#annotations_summary">Annot. Summary</a></li>
    </ul>  
    <div id="code_holder" class="tabbedArea">

      <div class="clear"></div>
      <div id="codeviewer">
      </div> <!-- codeviewer --> 
      
    </div> <!-- End of Code holder -->
  
    <div id="annotations_summary" class="tabbedArea">    

      <h3>Overall Comments</h3>
      
      <p><%=simple_format(h(result.overall_comment))%></p>

      <h3>Current Annotations</h3>
      <p>Current annotations across all submission files. Click on the line number to jump to the location in the file.</p>
    
      <ul id="annotation_summary_list">
      </ul>
      
    </div> <!-- Annotations Summary -->
  </div> <!-- Code Pane -->
  
  <!-- Divider  -->
  <div id="pane_divider">
  </div>
  <!-- End Divider -->
 
  <div id="mark_pane" class="float_left">
    <ul id="mark_tabs" class="subsection_tabs">
      <li class="tab"><a href="#mark_viewer">Marks</a></li>
      <li class="tab"><a href="#summary_viewer">Summary</a></li>
    </ul>  
    <div id="mark_viewer" class="tabbedArea">
      <div id="mark_criteria_pane">
        <ul id="mark_criteria_pane_list">
          <%# also need to render the mark per criteria (if exist) %>
          <% @mark_criteria.each do |mark_criterion| -%>
          <%= render :partial => "results/student/student_#{@assignment.marking_scheme_type}_criterion_li", :locals => {:mark_criterion => mark_criterion, :result => result, :mark=>marks_map[mark_criterion.id]} %>
            <% end -%>
          </ul> <!-- Criteria Pane List -->
       </div> <!-- Criteria Pane -->
       
    </div>  <!-- Criteria Viewer -->
  
    <div id="summary_viewer" class="marks_summary_pane tabbedArea">
    <%= render :partial => "results/student/student_summary", :locals => {:mark_criteria => @mark_criteria, :marks_map => marks_map, :assignment => assignment, :result => result, :extra_marks_points => extra_marks_points, :extra_marks_percentage => extra_marks_percentage}%>
    </div>
  <div id="annotation_holder">
  </div>
  
</div> <!-- pane_holders -->
