<li id='<%= "mark_criterion_#{mark_criterion.id}" %>' class='flexible_criterion'>
  <%= render partial: 'results/common/flexible_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark,
                       view: 'student'} %>
</li>
