<li id="<%= "flexible_criterion_#{mark_criterion.id}" %>">
  <%= render partial: 'results/common/flexible_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark } %>
</li>
