<li id="<%= "rubric_criterion_#{mark_criterion.id}" %>">
  <%= render partial: 'results/common/rubric_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark } %>
</li>
