<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'></div>

    <div id='drag'></div>

    <div id='right-pane'>
      <div class='tab-pane flex-pane' id='mark_pane'>
        <ul>
          <li><a href='#mark_viewer'><%= Mark.model_name.human.pluralize %></a></li>
          <li><a href='#summary_viewer'><%= t('results.summary') %></a></li>
        </ul>

        <div id='mark_viewer' class='flex-col'></div>

        <div id='summary_viewer' class='marks_summary_pane tabbedArea flex-col'>
          <%= render partial: 'results/student/student_summary',
                     locals: { mark_criteria: @mark_criteria,
                               marks_map: marks_map,
                               old_marks_map: old_marks_map,
                               assignment: assignment,
                               result: result,
                               old_result: old_result,
                               extra_marks_points: extra_marks_points,
                               extra_marks_percentage: extra_marks_percentage } %>
        </div>

        <div id='annotation_holder'></div>
      </div>
    </div>
  </div>
</div>
