version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: monthly
    time: "10:00"
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
    time: "10:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: react-table
    versions:
    - "> 6.9.2"
  - dependency-name: webpack
    versions:
    - 5.19.0
    - 5.24.2
  - groups:
      babel:
        patterns:
          - "@babel*"
      fortawesome:
        patterns:
          - "@fortawesome*"
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: monthly
    time: "10:00"
  ignore:
    - dependency-name: markus_exam_matcher
