# Ignore unnecessary mac files
**/.DS_Store

# git dir
.git/

tmp/
public/

config/database.yml
config/local_environment_override.rb
config/autotest_api_keys/

# Files created by sass
.sass-cache

# Files created by rcov/simplecov
test/coverage
test/coverage.data

# Files created by tests
lib/repo/test/svn_repos/svn_authz

# Patch
*.diff
*.patch

# Vim swap files
*.swp

# Temporary and backup files
*~

# MarkUs Review poster tool credentials file
.markusdev-creds

# Eclipse generated project file
.project

# Ignore dummy file used to tell .rvmrc to use specific ruby instead of project
# wide default
.use-ruby-*

# RubyMine generated project folder
.idea

# Ignore files for Vagrant instance
.vagrant

# Ignore redis dump file
.dump.rdb
dump.rdb

# npm-related files
public/packs
public/packs-test
public/javascripts
node_modules

# simplecov gem
coverage/

# byebug gem
.byebug_history

# python files
**/venv/
**/__pycache__/

# If this file is pre-generated, for Windows and WSL 2 (see Wiki docker setup instructions)
app/javascript/routes.js
