# Files ignored by git

config/database.yml
config/local_environment_override.rb

# Bundle and log folder
log/
.bundle/

# Patch
*.diff
*.patch

# Sqlite databases
*.db
*.sqlite3

# Vim swap files
*.swp

# Temporary and backup files
*~

# MarkUs Review poster tool credentials file
.markusdev-creds

# Eclipse generated project file
/.project
