# Files ignored by git
# Ignore unnecessary mac files
.DS_Store

/config/database.yml
/config/local_environment_override.rb

# Data, app documentation, log and bundle folder
/data/
/log/
/tmp/
/doc/app/
/.bundle/
/vendor/bundle

# Files created by sass
.sass-cache

# Files created by rcov/simplecov
/test/coverage
/test/coverage.data

# Patch
*.diff
*.patch

# Vim swap files
*.swp

# Temporary and backup files
*~

# MarkUs Review poster tool credentials file
.markusdev-creds

# Eclipse generated project file
/.project

# Ignore dummy file used to tell .rvmrc to use specific ruby instead of project
# wide default
.use-ruby-*

# RubyMine generated project folder
.idea

# Ignore files for Vagrant instance
.vagrant

# Ignore redis dump file
.dump.rdb
dump.rdb

# npm-related files
/public/packs
/public/packs-test
/public/javascripts
/app/assets/builds/*
!/app/assets/builds/.keep
/node_modules
.pnp.*

# If this file is pre-generated, for Windows and WSL 2 (see Wiki docker setup instructions)

app/javascript/routes.js
# js-routes v2.2.0 always generates a Typescript definition file, but we aren't using Typescript
app/javascript/routes.d.ts

# simplecov gem
coverage/

# byebug gem
.byebug_history

# python files
venv/
__pycache__/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# local docker compose overrides
docker-compose.override.yml
compose.override.yaml

# Optional VSCode container configuration
.devcontainer
