repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
        -   id: check-illegal-windows-names
        -   id: check-json
            exclude: |
              (?x)^(
                spec/fixtures/files/.*
              )$
        -   id: check-merge-conflict
        -   id: check-yaml
            exclude: |
              (?x)^(
                spec/fixtures/files/.*
              )$
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  -   repo: https://github.com/rbubley/mirrors-prettier
      rev: v3.5.3
      hooks:
        - id: prettier
          types_or: [javascript, jsx, css, scss, html]
  -   repo: https://github.com/thibaudcolas/pre-commit-stylelint
      rev: v16.20.0
      hooks:
        - id: stylelint
          additional_dependencies: [
              "stylelint@16.11.0",
              "postcss-scss@4.0.9",
              "stylelint-config-sass-guidelines@12.1.0",
              "postcss@8.4.49",
            ]
          args: ["--fix"]
          types_or: ["css", "scss"]
          exclude: |
            (?x)^(
              app/assets/stylesheets/application.css|
              app/assets/stylesheets/common/_reset.scss
            )$
  - repo: https://github.com/rubocop/rubocop
    rev: v1.75.8
    hooks:
      - id: rubocop
        args: ["--autocorrect"]
        types: ["ruby"]
        exclude: |
          (?x)^(
            db/migrate/.*|
            db/schema.rb|
            lib/repo/test/.*|
            Vagrantfile
          )$
        additional_dependencies:
          - rubocop-rails:2.27.0
          - rubocop-performance:1.23.0
          - rubocop-factory_bot:2.26.1
          - rubocop-rspec:3.2.0
          - rubocop-rspec_rails:2.30.0
          - rubocop-capybara:2.21.0

exclude: vendor

ci:
  autoupdate_schedule: monthly
