repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        -   id: check-yaml
            exclude: |
              (?x)^(
                spec/fixtures/files/.*
              )$
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  -   repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
        - id: prettier
          types_or: [javascript, jsx, css, scss, html]
  -   repo: https://github.com/thibaudcolas/pre-commit-stylelint
      rev: v16.3.1
      hooks:
        - id: stylelint
          additional_dependencies: [
              "stylelint@16.1.0",
              "postcss-scss@4.0.9",
              "stylelint-config-sass-guidelines@11.0.0",
              "postcss@8.4.34",
            ]
          args: ["--fix"]
          types_or: ["css", "scss"]
          exclude: |
            (?x)^(
              app/assets/stylesheets/application.css|
              app/assets/stylesheets/common/_reset.scss
            )$
  - repo: https://github.com/rubocop/rubocop
    rev: v1.62.1
    hooks:
      - id: rubocop
        args: ["--autocorrect"]
        types: ["ruby"]
        exclude: |
          (?x)^(
            db/migrate/.*|
            db/schema.rb|
            lib/repo/test/.*
          )$
        additional_dependencies:
          - rubocop-rails:2.19.1
          - rubocop-performance:1.17.1

exclude: vendor

ci:
  autoupdate_schedule: monthly
