repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        -   id: check-yaml
            exclude: |
              (?x)^(
                spec/fixtures/files/.*
              )$
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  -   repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.0-alpha.0
      hooks:
        - id: prettier
          types_or: [javascript, jsx, css, scss, html]
  -   repo: https://github.com/thibaudcolas/pre-commit-stylelint
      rev: v14.13.0
      hooks:
        - id: stylelint
          additional_dependencies: [
              "stylelint@14.11.0",
              "postcss-scss@4.0.4",
              "stylelint-config-sass-guidelines@9.0.1",
              "stylelint-config-prettier@9.0.3",
              "postcss@8.4.16",
            ]
          args: ["--fix"]
          types_or: ["css", "scss"]
          exclude: |
            (?x)^(
              app/assets/stylesheets/application.css|
              app/assets/stylesheets/common/_reset.scss
            )$
  - repo: https://github.com/rubocop/rubocop
    rev: v1.36.0
    hooks:
      - id: rubocop
        language_version: 2.7.0
        args: ["--autocorrect"]
        types: ["ruby"]
        exclude: |
          (?x)^(
            db/migrate/.*|
            db/schema.rb|
            lib/repo/test/.*
          )$
        additional_dependencies:
          - rubocop-rails:2.13.2

exclude: vendor

ci:
  autoupdate_schedule: monthly
