services:
  app: &app
    build:
      context: .
      dockerfile: ./.dockerfiles/Dockerfile
      target: dev
    image: markus-dev:1.2.0
    tmpfs:
      - /tmp
    stdin_open: true
    tty: true
    env_file:
      - .dockerfiles/.env
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
    networks:
      - default
      - markus_dev
    depends_on:
      - postgres
      - redis

  deps-updater: &deps-updater
    <<: *app
    entrypoint: ".dockerfiles/entrypoint-dev-deps-updater.sh"
    profiles: ["manual"]  # Prevent service from starting automatically
    environment:
      - PLAYWRIGHT_BROWSERS_PATH=/app/tmp/pw-browsers
    volumes:
      - .:/app:cached
      - .dockerfiles/:/app/.dockerfiles
      - bundle:/bundle
      - node_modules:/app/node_modules
      - python:/app/venv
      - tmp:/app/tmp

  rails: &rails
    <<: *app
    image: markus-dev-rails:1.2.0
    entrypoint: .dockerfiles/entrypoint-dev-rails.sh
    command: bundle exec rails server -b 0.0.0.0
    environment:
      - RAILS_RELATIVE_URL_ROOT=/csc108
      - PGDATABASE=markus_development
      - PGDATABASETEST=markus_test
      - MARKUS_URL=http://host.docker.internal:3000 # used by the tasks in autotest.rake
      - MARKUS__REPOSITORY__SSH_URL=ssh://markus@localhost:2222/~/csc108
      - CAPYBARA_SERVER_PORT=${CAPYBARA_SERVER_PORT:-3434}
      - CAPYBARA_SERVER_HOST=${CAPYBARA_SERVER_HOST:-0.0.0.0}
      - PLAYWRIGHT_BROWSERS_PATH=/app/tmp/pw-browsers
    extra_hosts:
      - localhost:host-gateway
    ports:
      - '3000:3000'
      - '3336:3336'
    volumes:
      - app_data:/app/data/development
      - repos:/app/data/development/repos
      - bundle:/bundle
      - tmp:/app/tmp
      - node_modules:/app/node_modules
      - log:/app/log
      - python:/app/venv
      - .:/app:cached
    depends_on:
      - postgres
      - redis
      - resque
      - resque-scheduler
      - webpack
      - ssh

  ssh:
    <<: *rails
    image: markus-dev-ssh:1.2.0
    volumes:
      - log:/home/markus/log
      - repos:/home/markus/csc108
      - .dockerfiles/:/app/.dockerfiles
      - ./lib/repo:/app/lib/repo
    environment:
      - TZ=America/Toronto
    command: /usr/sbin/sshd -D -e
    user: root
    extra_hosts: {}
    ports:
      - '2222:22'
    entrypoint: .dockerfiles/entrypoint-dev-ssh.sh
    depends_on: []

  resque: &resque
    <<: *rails
    image: markus-dev-resque:1.2.0
    command: bundle exec rails resque:work QUEUE=* TERM_CHILD=1
    depends_on:
      - redis
    ports: []

  resque-scheduler:
    <<: *resque
    image: markus-dev-resque-scheduler:1.2.0
    command: bundle exec rails resque:scheduler

  postgres:
    image: postgres:14
    volumes:
      - postgres:/var/lib/postgresql/data
      - log:/root/log:cached
      - tmp:/app/tmp
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_INITDB_ARGS="-A md5"
    ports:
      - '35432:5432'

  redis:
    image: redis:7
    volumes:
      - redis:/data
    ports:
      - 6379

  webpack:
    <<: *app
    image: markus-dev-webpack:1.2.0
    command: npm run build-dev
    volumes:
      - bundle:/bundle
      - node_modules:/app/node_modules
      - .:/app:cached
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - RAILS_ENV=${RAILS_ENV:-development}
      - PGDATABASE=markus_development
      - PGDATABASETEST=markus_test

volumes:
  app_data:
  repos:
  postgres:
  redis:
  bundle:
  node_modules:
  tmp:
  log:
  python:

networks:
  markus_dev:
    name: markus_dev
