version: '3.7'

services:
  app: &app
    build:
      context: .
      dockerfile: ./.dockerfiles/Dockerfile
      args:
        RUBY_VERSION: '2.5.3'
        PG_MAJOR: '10'
        NODE_MAJOR: '11'
        YARN_VERSION: '1.13.0'
        BUNDLER_VERSION: '1.17.3'
    image: markus-dev:1.0.0
    tmpfs:
    - /tmp

  backend: &backend
    <<: *app
    stdin_open: true
    tty: true
    volumes:
    - .:/app:cached
    - rails_cache:/app/tmp/cache
    - bundle:/bundle
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    - .dockerfiles/.psqlrc:/root/.psqlrc:ro
    environment:
    - NODE_ENV=development
    - RAILS_ENV=${RAILS_ENV:-development}
    - REDIS_URL=redis://redis:6379/
    - DATABASE_URL=postgres://postgres:postgres@postgres:5432
    - BOOTSNAP_CACHE_DIR=/bundle/bootsnap
    - WEBPACKER_DEV_SERVER_HOST=webpacker
    - WEB_CONCURRENCY=1
    - HISTFILE=/app/log/.bash_history
    - PSQL_HISTFILE=/app/log/.psql_history
    - EDITOR=vi
    - RAILS_RELATIVE_URL_ROOT=/csc108
    - SEED_AUTOTEST=false
    depends_on:
    - postgres
    - redis

  runner:
    <<: *backend
    command: /bin/bash
    ports:
    - '3000:3000'

  rails:
    <<: *backend
    entrypoint: .dockerfiles/entrypoint-dev.sh
    command: rails server -b 0.0.0.0
    ports:
    - '3000:3000'
    depends_on:
      - resque
      - webpacker

  resque:
    <<: *backend
    command: rails resque:work QUEUE=* TERM_CHILD=1

  postgres:
    image: postgres:10
    volumes:
    - .psqlrc:/root/.psqlrc:ro
    - postgres:/var/lib/postgresql/data
    - ./log:/root/log:cached
    environment:
    - PSQL_HISTFILE=/root/log/.psql_history
    ports:
    - '35432:5432'

  redis:
    image: redis:3.2-alpine
    volumes:
    - redis:/data
    ports:
    - 6379

  webpacker:
    <<: *app
    command: ./bin/webpack-dev-server
    ports:
    - '3035:3035'
    volumes:
    - .:/app:cached
    - bundle:/bundle
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    environment:
    - NODE_ENV=${NODE_ENV:-development}
    - RAILS_ENV=${RAILS_ENV:-development}
    - WEBPACKER_DEV_SERVER_HOST=0.0.0.0

volumes:
  postgres:
  redis:
  bundle:
  node_modules:
  rails_cache:
  packs:

