version: '3.7'

services:
  app: &app
    build:
      context: .
      dockerfile: ./.dockerfiles/Dockerfile
      target: dev
      args:
        UBUNTU_VERSION: focal
        RUBY_VERSION: '2.7'
        PG_MAJOR: '12'
        NODE_MAJOR: '18'
        BUNDLER_VERSION: '2.3.17'
        PYTHON_VERSION: '3.9'
        USER: 'markus'
    image: markus-dev:1.0.1
    tmpfs:
      - /tmp
    stdin_open: true
    tty: true
    env_file:
      - .dockerfiles/.env
    environment:
      - NODE_ENV=development
      - RAILS_ENV=development
    networks:
      - default
      - markus_dev
    depends_on:
      - postgres
      - redis

  rails: &rails
    <<: *app
    entrypoint: .dockerfiles/entrypoint-dev-rails.sh
    command: bundle exec rails server -b 0.0.0.0
    environment:
      - RAILS_RELATIVE_URL_ROOT=/csc108
      - PGDATABASE=markus_development
      - PGDATABASETEST=markus_test
      - MARKUS_URL=http://host.docker.internal:3000 # used by the tasks in autotest.rake
      - MARKUS__REPOSITORY__SSH_URL=ssh://markus@localhost:2222/~/csc108
      - CAPYBARA_SERVER_PORT=${CAPYBARA_SERVER_PORT:-3434}
      - CAPYBARA_SERVER_HOST=${CAPYBARA_SERVER_HOST:-0.0.0.0}
    extra_hosts:
      - localhost:host-gateway
    ports:
      - '3000:3000'
    volumes:
      - app_data:/app/data/development
      - repos:/app/data/development/repos
      - bundle:/bundle
      - tmp:/app/tmp
      - node_modules:/app/node_modules
      - log:/app/log
      - python:/app/venv
      - .:/app:cached
    depends_on:
      - postgres
      - redis
      - resque
      - resque-scheduler
      - webpack
      - ssh

  ssh:
    <<: *rails
    volumes:
      - log:/home/markus/log
      - repos:/home/markus/csc108
      - .dockerfiles/:/app/.dockerfiles
      - ./lib/repo:/app/lib/repo
    environment:
      - TZ=America/Toronto
    command: /usr/sbin/sshd -D -e
    user: root
    extra_hosts: []
    ports:
      - '2222:22'
    entrypoint: .dockerfiles/entrypoint-dev-ssh.sh
    depends_on: []

  resque: &resque
    <<: *rails
    entrypoint: .dockerfiles/entrypoint-dev-wait-for-install.sh
    command: bundle exec rails resque:work QUEUE=* TERM_CHILD=1
    depends_on:
      - redis
    ports: []

  resque-scheduler:
    <<: *resque
    command: bundle exec rails resque:scheduler

  postgres:
    image: postgres:12.11
    volumes:
      - postgres:/var/lib/postgresql/data
      - log:/root/log:cached
      - tmp:/app/tmp
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_INITDB_ARGS="-A md5"
    ports:
      - '35432:5432'

  redis:
    image: redis:5.0.14-alpine
    volumes:
      - redis:/data
    ports:
      - 6379

  webpack:
    <<: *app
    entrypoint: .dockerfiles/entrypoint-dev-webpack.sh
    command: npm run build-dev
    volumes:
      - bundle:/bundle
      - node_modules:/app/node_modules
      - .:/app:cached
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - RAILS_ENV=${RAILS_ENV:-development}
      - PGDATABASE=markus_development
      - PGDATABASETEST=markus_test

volumes:
  app_data:
  repos:
  postgres:
  redis:
  bundle:
  node_modules:
  tmp:
  log:
  python:

networks:
  markus_dev:
    name: markus_dev
