# TODO: replace requirements files with Pipfile file (when it is stable and supported by pip)
# TODO: Replace commit hash after @ with better solution or fix the requirements checker in python.rb
markus_exam_matcher @ git+https://github.com/MarkUsProject/markus-exam-matcher.git@9421c813190df7a7b3869de6180da9a64e446d39
