<ul class="annotation_label_list" >
  <% if annotation_category.annotation_labels.size == 0: %>
    There are no annotations in this category
  <% end %>
  
  <% annotation_category.annotation_labels.each do |annotation_label| %>
  <li id="annotation_label_<%=annotation_label.id%>" onClick="add_existing_annotation(<%=annotation_label.id%>); hide_annotation_label_lists(); return false;" onMouseDown="return false;" title="<%=annotation_label.content%>">
  <%=truncate(annotation_label.content, 40, '...')%>
  </li>
  <% end %>       
</ul>
