<ul id="annotation_categories">
  <!-- First, output the list of annotation categories -->
  <% @annotation_categories.each do |annotation_category| %>
  <li class="annotation_category" id="annotation_category_<%=annotation_category.id%>" onClick="return false;" onMouseDown="return false;">

  <%=annotation_category.name %>

  <div id="annotation_label_list_<%=annotation_category.id%>" style="display:none;" onClick="return false;" onMouseDown="return false;">

<%= render :partial => "annotation_list", :locals => {:annotation_category => annotation_category}%>

  </li>
  <% end %>
</ul>    

