body {
  background-color: $lighter-blue;
  color: $dark-grey;
  font: 400 14px/1.2 $fonts;
  transition: background-color $time-quick;

  @include breakpoint(tiny) {
    background-color: $white;
  }
}

::selection {
  background-color: $blue;
}

.hidden {
  display: none;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear-alignment {
  clear: both;
}

/* Main content */

#content {
  background: $white;
  border-bottom: 1px solid $blue;
  padding: $dimen-vertical $dimen-horizontal;

  @include breakpoint(mobile) {
    margin-top: 3.5em;
    padding: $dimen-vertical $dimen-horizontal-mobile;
  }
}

.wrapper {
  margin-top: 1em;
}

.ui-datepicker-current {
  display: none !important;
}
