<table class='extra_marks_pane_list'>
  <thead>
    <th><%= t('marker.marks.comment') %></th>
    <th><%= t('marker.marks.mark') %></th>
    <th></th>
  </thead>
  <tbody id='extra_marks_list' >
     <% extra_marks_points.each do |extra_mark| -%>
       <%= render partial: 'results/common/extra_mark',
                  locals: { extra_mark: extra_mark,
                            result_id:result_id,
                            marker: marker } %>
     <% end -%>
  </tbody>
  <% if marker %>
    <tbody>
      <tr>
        <td colspan='3'>
          <%= link_to t('marker.marks.add_extra_mark'),
            'javascript:void(0);',
            onclick: "if (document.getElementById('add_extra_mark_prompt') != null) {
              document.getElementById('add_extra_mark_prompt').down('input').focus();
            } else {
              jQuery.ajax({
                url: '" + add_extra_mark_assignment_submission_result_path + "',
                type: 'GET'
              });
            }"%>
         </td>
      </tr>
    </tbody>
  <% end %>
</table>

