<div class='flexible_criterion_title_div_level'
     onclick="<%="focus_mark_criterion(#{mark_criterion.id})"%>">
  <%= (mark_criterion.name) %>
</div>

<div class='mark_flexible'>
  <%= text_field_tag('mark_' + mark.id.to_s, mark.mark,
                     size: 4,
                     class: 'mark_grade_input',
                     data: {id: mark_criterion.id},
                     'data-action' => url_for(action: :update_mark,
                                              mark_id: mark.id)) %>
  /&nbsp; <%= mark_criterion.max.to_s%>
</div>