<strong class="title_div_level">
  <%= link_to mark_criterion.name,
              'javascript:void(0);',
              onclick: 'return false;',
              class: 'criterion_link' %>
</strong>

<div id="<%="mark_criterion_title_#{mark.id}_mark"%>"
     class='criterion_description'
     data-id='<%= mark_criterion.id %>'>
</div>

<div class='clear'></div>
