<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeStarterCodeFileManager(document.getElementById('starter-code-file-manager'),
        {
          assignment_id: <%= @assignment.id %>,
          repo_url: '<%= File.join(MarkusConfigurator.markus_config_repository_external_base_url,
                                   Assignment::STARTER_CODE_REPO_NAME) %>',
          groupsExist: <%= @assignment.groups.size == 0 ? 'false' : 'true' %>,
        }
      );
    });
  </script>
<% end %>

<div id='starter-code-file-manager'></div>
