<p id="assignment_file_<%=h(assignment_file.id)%>">
  <%= link_to 'x ', 
              { :action => "remove_assignment_file", :id => assignment_file.id },
              :remote => true %>
  <%= h(assignment_file.filename) %>
</p>

