<p class="grader_distribution"><%= I18n.t(:grader_distribution ) %></p>

<% if assignment.tas.empty? %>
  <%= link_to I18n.t(:assign_graders),
              assignment_graders_path(assignment) %>
<% else %>
  <ul>
    <% assignment.tas.each do |ta| %>
      <li><%= "#{ta.first_name} #{ta.last_name}" %></li>
    <% end %>
  </ul>
<% end %>
