<p class="grader_distribution"><%= t(:grader_distribution) %></p>
<% if assignment.tas.empty? %>
  (<%= link_to t('graders.manage_graders'), assignment_graders_path(assignment) %>)
<% else %>
  (<%= link_to t('graders.all_graders'), { controller: 'graders',
                                             action: 'grader_summary',
                                             assignment_id: assignment.id }
  %>)
<% end %>

