<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.BatchTestRunTable = makeBatchTestRunTable(document.getElementById('batch_test_run_table'), {
        assignment_id: <%= @assignment.id %>,
        detailed: <%= @current_user.admin? || @current_user.ta? ||
                      @current_user.is_reviewer_for?(@assignment.pr_assignment, @result) %>
      });
    })
  </script>
<% end %>

<div id='batch_test_run_table'></div>
