<div class='title_bar'>
  <h1><%= @assignment.is_peer_review? ?
              t('assignment.edit') + ' ' + t('results.review_for') + @assignment.parent_assignment.short_identifier :
              t('assignment.edit') + @assignment.short_identifier %></h1>
</div>

<% if @assignment.is_peer_review? %>
  <%= render partial: 'peer_review_form' %>
<% else %>
  <%= render partial: 'form', formats: [:html], handlers: [:erb] %>
<% end %>
