<div id="title_bar"><h1>Grade Assignments</h1></div>
<div class="wrapLeft">

<%= render :partial => "layouts/assignments", 
  :locals => { :controller => 'submissions', :action => 'browse' } -%>
</div>


