<div id="title_bar"><h1>Grade Assignments</h1></div>
<div class="wrapLeft">
  <%= render :partial => "assignments/list_manage", 
    :locals => { :controller => 'submissions', :action => 'browse' } -%>
  <div class="section">
    <%= render :partial => "api/key_display", :locals => { :user => @current_user } %>
  </div>
</div>
