
<div id="title_bar"><h1>Manage Assignments 
<%= link_to I18n.t(:add_new),  :controller => 'assignments', :action => 'new' %> </h1></div>

<%= render :partial => "layouts/assignments", 
  :locals => { :controller => 'assignments', :action => 'edit' } -%>

