
<div id="title_bar"><h1>Manage Assignments 
 </h1></div>

<div class="wrapLeft">

<%= link_to I18n.t(:add_new),  :controller => 'assignments', :action => 'new' %>
<%= render :partial => "layouts/assignments", 
  :locals => { :controller => 'assignments', :action => 'edit' } -%>
</div>

