<% @is_scanned = params[:scanned].present? %>

<div class='title_bar'>
  <h1><%=
    if @is_scanned
      t(:create_new_scanned_assignment)
    else
      t(:create_new_assignment)
    end
  %></h1>
</div>

<%= render partial: 'form', formats: [:html], handlers: [:erb] %>

