<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeStarterFileManager(
        document.getElementById('starter_file_manager'),
        {
          assignment_id: <%= @assignment.id %>
        }
      );
    });
  </script>

  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div id='starter_file_manager'></div>
