<% content_for :title, "Statistics" %>
<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
    makeAssignmentStatistics(document.getElementById('statistics-react'),
    { course_id: <%= @current_course.id %>, assessment_id: <%= @assignment.id %> });
    })
  <% end %>
<% end %>

<div id='statistics-react'></div>
