<% content_for :title, t('menu.home') %>

<% upcoming, past = @current_role.visible_assessments
                                 .order(:due_date, :id)
                                 .partition { |a| a.upcoming(@current_role) } %>
<div class='section'>
  <h3><%= t('assignments.due_date.upcoming') %></h3>
  <%= render partial: 'assessments/list', locals: { assessments: upcoming, upcoming: true } %>
</div>

<div class='section'>
  <h3><%= t('assignments.due_date.past') %></h3>
  <%= render partial: 'assessments/list', locals: { assessments: past, upcoming: false } %>
</div>
