<div id="title_bar"><h1>Submit Your Assignment</h1></div>
<div class="wrapLeft">
<%= render :partial => "assignments/list", 
  :locals => { :controller => 'assignments', :action => 'student_interface' } -%>
</div>
