<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeAssignmentSummaryTable(
        document.getElementById('assignment_summary_table'),
        {
          assignment_id: <%= @assignment.id %>,
          is_admin: <%= @current_user.admin? %>
        }
      );
    });
  </script>
<% end %>

<% content_for :additional_headings do %>
  <% if @current_user.ta? %>
    <span class='menu_bar'></span>
    <%= t('submissions.how_many_marked',
          num_marked: @assignment.get_num_marked(@current_user.id),
          num_assigned: @assignment.get_num_assigned(@current_user.id)) %>
  <% end %>
<% end %>


<div id='assignment_summary_table'></div>
