
    <div id="file_<%= index %>">
      <% fields_for "files[#{index}]", file do |f| -%>
      <p>
        <%= link_to_remote 'x ', :url => 
          { :action => 'remove_file', :index => index } %>
        <%= f.text_field :filename %>
        <%= f.hidden_field :id %>
        
      </p>
      <% end -%>
    </div> 
