<% content_for :title, t('admins.manage_admins') %>

<div class='wrapper'>
  <h2><%= t('admins.edit_admin') %></h2>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'admins',
                       action: 'edit' } %>
</div>
