<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeAdminTable(document.getElementById('admins_table'));
    })
  </script>
<% end %>

<% content_for :title do %>
  <span class='title-help users_admins_help'>
    <p class='help-message-title users_admins_help'>
      <%= t('admins.help.manage_admins') %>
    </p>
  </span>
<% end %>

<% @heading_buttons = [
  { link_text: t('admins.new'),
    link_path: new_admin_path }
] %>

<div id='admins_table'></div>
