<% content_for :head do %>
  <%= render partial: 'admins_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<% content_for :title do %>
  <%= t('admins.manage_admins') %>
  <span class='title-help users_admins_help'>
    <p class='help-message-title users_admins_help'>
      <%= t('admins.help.manage_admins') %>
    </p>
  </span>
<% end %>

<% @heading_buttons = [
  { link_text: t(:add_new_admin),
    link_path: new_admin_path }
] %>

<div id='admins_table'></div>
