<div class='title_bar'>
  <h1><%= t('admins.create_new_admin') %></h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'admins',
                       action: 'create'} %>
</div>
