<% content_for :title do %>
  <h1><%= t('admins.create_new_admin') %></h1>
<% end %>

<div class='wrapper'>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'admins',
                       action: 'create' } %>
</div>
