<% content_for :title, t('admins.create_new_admin') %>

<div class='wrapper'>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'admins',
                       action: 'create' } %>
</div>
