<% content_for :title, t('admins.new') %>

<div class='wrapper'>
  <%= render partial: 'layouts/userform',
             locals: { controller: 'admins',
                       action: 'create' } %>
</div>
