<% content_for :head do %>
  <%= javascript_include_tag 'Students/edit' %>
<% end %>

<% content_for :title, t('students.edit') %>

<%= render partial: 'student_form',
           locals: { action: 'update' } %>

<h3><%= GracePeriodDeduction.model_name.human.pluralize %></h3>
<div id='grace_period_deductions'>
  <%= render partial: 'grace_period_deductions',
             locals: { grace_period_deductions: @user.grace_period_deductions } %>
</div>
