<script type='text/jsx'>
  /** @jsx React.DOM */

  var GradersManager = React.createClass({
    getInitialState: function() {
      return {assign_to_criteria: false,
        groups: [],
        graders: [],
        sections: []
      }
    },
    criteriaCheckboxClicked: function(event) {
      var dataLoad = { value: event.currentTarget.checked};
      jQuery.ajax({
        method: 'POST',
        url: 'graders/set_assign_criteria',
        data: dataLoad,
        success: function(data) {
          this.refresh();
        }.bind(this)
      });
    },
    componentWillMount: function() {
      this.refresh();
    },
    refresh: function() {
      //must collect data for both tables
     //1st element: true false (use criteria?_)
      //2nd elemnet: info for graders table
      //3rd element: info for groups table + criteria(if)
      jQuery.ajax({
        method: 'GET',
        url: 'graders',
        dataType: 'json',
        success: function(data) {
          console.log(data);
          this.setState({
            assign_to_criteria: data[0],
            sections: data[1],
            graders: data[2],
            groups: data[3]
          });
        }.bind(this)
      });
    },
    render: function() {
      if (this.state.assign_to_criteria) {
        return (
          <div>
          <input type='checkbox'
            checked={this.state.assign_to_criteria}
            onChange={this.criteriaCheckboxClicked} />
          <p>Assign graders to criteria</p>
          <GradersManagerWithCriteria refresh={this.refresh} graders={this.state.graders} 
            groups={this.state.groups} sections={this.state.sections} />
          </div>
        );
      } else {
        return (
          <div>
            <input type='checkbox'
              checked={this.state.assign_to_criteria}
              onChange={this.criteriaCheckboxClicked} />Assign Graders to Criteria
            <GradersManagerNoCriteria refresh={this.refresh} graders={this.state.graders}
          groups={this.state.groups} sections={this.state.sections} />
        </div>
        );
      }
    }
  });
</script>
