<script type='text/jsx'>
  /** @jsx React.DOM */

  // The buttons for random_assign, assigning and unsassigning
  GradersActionsColumn = React.createClass({
    performAction: function(event) {
      var action = event.currentTarget.getAttribute('id');
      this.props.performAction(action);
    },
    render: function() {
      return (
        <div className={'centreColumn'}>
          <div id='icons'>
            <img id='random_assign'
              src='/assets/random_arrow.png'
              alt='<%= j raw I18n.t('groups.randomly_assign_graders') %>'
              onClick={this.performAction}
            />
            <br/>
            <img id='assign'
              src='/assets/add_arrow.png'
              alt='<%= j raw I18n.t('add_graders') %>'
              onClick={this.performAction}
            />
            <br/>
            <img id='unassign'
              src='/assets/remove_arrow.png'
              alt='<%= j raw I18n.t('remove_graders') %>'
              onClick={this.performAction}
            />
          </div>
        </div>
      );
    }
  });
</script>
