<% content_for :title do %>
  <% if @assignment.is_peer_review? %>
    <%= link_to "#{@assignment.parent_assignment.short_identifier}: #{PeerReview.model_name.human}",
                browse_course_assignment_submissions_path(@assignment.course_id, @assignment.id) %>
  <% else %>
    <%= link_to "#{@assignment.short_identifier}: #{@assignment.description}",
                browse_course_assignment_submissions_path(@assignment.course_id, @assignment.id) %>
  <% end %>
<% end %>

<% @assignment.tas.each do |ta| %>
  <div class="ta-grade-distribution-graph-wrapper">
    <%= render partial: 'graders/ta_grade_distribution_graph',
               locals: { assignment: @assignment, tas: [ta] } %>
  </div>
<% end %>
