<td>
  <%=image_tag('icons/page_white_text.png') %>
  <%= link_to file.name, :action => 'download', :id => @assignment.id, :revision_number => @revision_number, :file_name => file.name, :path => @path, :grouping_id => @grouping.id %>
</td>
<td>
  <%= I18n.l(file.last_modified_date, :format => :long_date) %>
</td>
<td>
  <%= file.user_id %>
</td>
