<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui', 'jquery-ui-timepicker-addon' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon',
                             'PeriodDeltaChain/PeriodDeltaChain',
                             'localize_date'%>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.autotestManagerComponent = makeAutotestManager(document.getElementById('autotest-manager'),
        { assignment_id: <%= @assignment.id %>});
    });
  </script>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div id='autotest-manager'></div>
