<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      window.autotestManagerComponent = makeAutotestManager(document.getElementById('autotest-manager'),
        { course_id: <%= @current_course.id %>, assignment_id: <%= @assignment.id %>});
    });
  <% end %>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div id='autotest-manager'></div>
