<div class="test_script_options">
	
	<%= form.fields_for :test_script, test_script do |f| %>

		<%= f.label "TEST", f.object.script_name %>

		    <%= f.label :run_on_request, I18n.t("automated_tests.script_option.run_on_request"), :class => "checkbox_label" %>
    		<%= f.check_box :run_on_request %>

	<% end %>

</div>