<%# Note - this view has been removed for now.
    Future work can be done to restore this view, but will need
    a lot of work. %>
<% content_for :head do %>
  <%= javascript_include_tag 'create_assignment',
                             'collapse_toggle',
                             'testframework_config' %>

<% end %>

<div class='title_bar'>
  <h1><%= t('automated_tests.automated_tests') %></h1>
</div>

<%= render partial: 'form' %>
