<% content_for :head do %>
  <%= javascript_include_tag 'create_assignment' %>
<% end %>

<div class='title_bar'>
  <h1><%= t('automated_tests.automated_tests') %></h1>
</div>

<%= render partial: 'form' %>
