<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeInstructorTable(document.getElementById('instructors_table'), {course_id: <%= @current_course.id %>, is_admin: <%= @current_user.admin_user? %>});
    })
  <% end %>
<% end %>

<% content_for :title do %>
  <div class='title-help'>
    <p>
      <%= t('instructors.help.manage_instructors') %>
    </p>
  </div>
<% end %>

<% @heading_buttons = [
  { link_text: t('instructors.new'),
    link_path: new_course_instructor_path(@current_course) }
] %>

<div id='instructors_table'></div>
