/* =================================================================================
  ANNOTATION SUMMARY RELATED STYLES
===================================================================================*/

/****************************************************
  Annotations highlight; two colours, one for single comment
  one for overlapping comment
 ****************************************************/
.annotations1 {  background-color: #FFFCC4; }
.annotations2 { background-color: #FFFF99; }

/****************************************************
  Link to line number in Annotations Summary
 ****************************************************/
.lineNumber { margin: 0 0 10px 0; }
  .lineNumber a {
    padding: 0 20px 0 0;
  }

/****************************************************
  Style for the actual annotations content
*****************************************************/
.annotationContent, .manageAnnotations {
  font: normal 0.85em "Verdana", sans-serif;
  font-style: italic;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
}

#student_selector {
  -moz-border-radius: 5px;
  background: #ECECEC;
  border: 1px solid #ddd;
  padding: 2px 10px;
  margin: 0 0 10px 0;
}

  #student_selector .left, #student_selector .middle, #student_selector .right { float: left; }
  #student_selector .left {
    text-align: left;
    width: 20%;
  }
  #student_selector .middle {
    text-align: center;
    width: 60%;
  }
  #student_selector .right {
    text-align: right;
    width: 20%;
  }

#file_selector {
  margin: 20px 0 10px 0;
}

.dp-highlighter .annotation_highlighted_text {
  background-color: #FFFF99;
  color: #000000;
}
.dp-highlighter .annotation_highlighted_text_overlap {
  background-color: #DDDD55;
  color: blue;
}
.annotation_text_display {
  -moz-border-radius: 5px;
  border: 2px solid #ccc;
  background: #F6F6F6;
  padding: 15px;
  position: absolute;
  width: 400px;
}
#annotation_menu {
  -moz-border-radius: 5px;
  background: #B7D3EC;
	padding: 5px;
  margin: 0 0 10px 0;
}
#annotation_categories {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#new_annotation_button {
  float: left;
  margin: 0;
}

.edit_remove_annotation_button {
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #464646;
  margin: 5px;
  font-size: 0.85em;
  min-width: 0px;
  padding: 3px 10px 3px 10px;
}

li.annotation_category {
/*  margin: 0 0 0 5px;*/
  padding: 3px 5px;
  float:left;
  background: #fff;
  border: 2px #ccc solid;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  color: #464646;
  font-weight: bold;
}
.annotation_category:hover {
  cursor: pointer;
  color: #000;
}
.annotation_text_list {
  position: absolute;
  background: #DDDDDD;
  width: 300px;
  height: 350px;
  overflow: auto;
  border: 1px solid #000000;
  margin: 0;
  padding: 0;
}
.annotation_text_list li {
  background: #FFFFFF;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 5px;
  color: #464646;
}
.annotation_text_list li:hover {
  cursor: pointer;
  color: #000;
  background: #FFFCC4;
}

/* =================================================================================
  GENERAL LAYOUT STYLES
  #pane_holder
     #code_pane
        tabs => see livepipe/tabs.css
        #code_holder
            #annotations_menu
            #codeviewer
        #annotations_summary
            #annotation_summary_list
                #annotations1, #annotations2
     #pane_divider
     #mark_pane
        tabs => see livelipe/tabs.css
        #rubric_viewer
            #rubric_tools
            #rubric_criteria_pane
                #rubric_criteria_pane_list
        #summary_viewer .marks_summary_viewer
            #summary_criteria_pane
                #summary_citeria_pane_list
            #extra_marks_pane
        #annotations_holder
===================================================================================*/

#pane_holders {
  overflow: hidden;
}

  #pane_divider {
    background: #EEEEEE url(/images/handle.png) no-repeat 50%;
    float:left;
    width: 4px;
    margin: 0 2px 10px 2px;
    height: 722px;
    background-color: DDDDDD;
    cursor: col-resize;
  }

  #code_pane, #mark_pane {
    -moz-border-radius: 5px;
    background: #ECECEC;
    border: 1px solid #ddd;
    float: left;
    margin: 0 0 10px 0;
    padding: 10px;
    height: 700px;
  }
  #code_pane {
    width: 60%;
   /* width: 536px;*/
  }

  #mark_pane {
   width: 34%;
    /*width: 370px;*/
  }

    #mark_viewer, #summary_viewer, #annotations_summary {
      height: 650px;
      overflow: auto;
    }
    #code_holder {
     padding: 0px;
    }

      #sel_box {
       border-style: dashed;
       border-color: red;
       border-width: thin;
       display: none;
       position: absolute;
      }

      #image_preview {
       display: block;
      }

      .annotation_holder {
       position: absolute;
       opacity: 0.2;
       filter: alpha(opacity=20);
       background: orange;
       border: solid;
       border-color: black;
      }

#toolbar {
  -moz-border-radius: 5px;
  background: #EDEDED;
  padding: 5px;
  margin:  0 0 20px 0;
}

.code_scroller {
  height: 550px;
  overflow: auto;
  margin: 0;
  padding: 0 0 0 50px !important;
}

.image_container {
  overflow: auto;
  height: 650px;
  width: auto;
}


#create_annotation_dialog textarea {
  width: 300px;
  height: 50px;
}

#mark_criteria_pane_list {
  height: 100%;
  overflow: auto;
}

.modal {
  background-color:#fff;
  padding:12px;
  border:1px solid #333;
}

.window {
  background-image:url("/stylesheets/window_background.png");
  background-position:top left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:10px;
  font-family:"Lucida Grande",Verdana;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  min-width:150px;
  min-height:100px;
}

.window .window_contents {
  margin-top:10px;
  width:100%;
  height:100%;
}

.window .window_header {
  text-align:center;
}

.window .window_title {
  margin-top:-7px;
  margin-bottom:7px;
  font-size:11px;
  cursor:move;
}

.window .window_close {
  display:block;
  position:absolute;
  top:4px;
  left:5px;
  height:13px;
  width:13px;
  background-image:url("/stylesheets/window_close.gif");
  cursor:pointer;
  cursor:hand;
}

/* Annotation summary list styles */

ul#annotation_summary_list {
  border-top: 1px solid #ddd;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

  #annotation_summary_list li {
    border-bottom: 1px solid #DADADA;
    padding: 5px 10px;
  }

  #annotations_summary_list a {
    color: blue;
  }

/* CSS for grading view */
/* Rubric Criteria - TO CHANGE! defaults to original rubric css for now! */
.padding_left {
  padding-left:30px
}

.padding_left_old {
  padding-left:30px;
  background-color:#FDFEBC;	
}

#mark_criteria_pane_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 10px;
}

.mark_tools {
    text-align:center;
}

/* ================ CRITERION STYLES ============== */
    #old_summary_criteria_pane {
      display: none;	
    }

  .mark_criterion_holder_A {
    background: #EDEDED;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
  }

  .mark_criterion_holder_B {
    background: #FFFFFF;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
  }

  .assigned {
    border: 4px solid #B7D3EC;
}

  .mark_criterion_title {
    cursor: pointer;
  }

    .mark_criterion_title_div_level {
        font-size: 12px;
    }
  .mark_criterion_holder_selected, .mark_level {
    background: #CCCCFF;
  }

.mark_criterion_level {
    color:black;
    font-size:10px;
    background:none;
}
.mark_reset {
	color:black;
    font-size:10px;
    background:none;
	float:right;
	cursor: pointer;
}
.mark_criterion_level_selected {
    font-size:10px;
    background-color:#FFFFCC;
}

.mark_criterion_level_container {
    margin-left:20px;
    margin-top: 10px;
}

.mark_criterion_level_container table {
    border-collapse:collapse;
    border:1px solid #DADADA;
    padding: 4px;
    background: #fff;
}

.mark_criterion_level_container td {
    border-top:1px solid #DADADA;
    border-bottom:1px solid #DADADA;
    padding: 4px;
    font-size: 1.1em;
    background: #fff;
}
.mark_grade_input{
	font-size:1.0em;
	margin:1px 1px 4px;
	min-width:0;
	padding:2px;
}

  .editing {
        background: #f9ffb1;
        border: 1px dashed #d6de78;
  }


#selected_criterion_name {
        font-weight: bold;
}

.clear {
        clear: both;
}
/*
.error {
    width: 350px;
}*/

/* Extra Mark holder */

.extra_mark_holder, .link {
    background: #FBFBFB;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
    min-width: 5px;
  }

  .extra_mark_title_div {
    cursor: pointer;
  }

  .extra_mark_holder_selected {
    background: #CCCCFF;
  }

  .extra_mark_delete {
        float: right;
  }

  .extra_marks_pane {
  font-size:12px;
  border: 1px solid #DADADA;
  }

  .extra_marks_pane_list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DADADA;
  }

/* criterion summary holder */

 .marks_summary_pane {
  font-size:12px;
 }

  .mark_summary_holder {
    border-bottom: 1px solid #DADADA;
    background: #FBFBFB;
    padding: 5px;
  }

  .mark_summary_holderA {
    background: #EDEDED;
    padding-left: 5px;
   }

  .mark_summary_holderB {
    background: #FFFFFF;
    padding-left: 5px;
   }

  .marks_summary_pane_list {
    margin: 0;
    padding: 0;
  }

.marks_summary_pane_list th {
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#B7D3EC;
}

.mark_subtotal {
  font-size:12px;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.mark_total {
  font-size:12px;
  font-weight:bold;
  padding: 10px;
}


