#header {
    padding: 5px;
    background-color: #464646;
    color: #fff;
    min-height: 28px;
    line-height: 200%;
}

#main_menu {
    margin: 3px;
    float: left;
}

#course {
    float: right;
}  

div#user_info a {
    color: #ccc;
    background-color: #464646;
    text-decoration: none;
}

div#user_info a:hover {
    color: #fff;
    background-color: #464646;
}

#working {
  background: #AA0000;
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
}
