/* Taken from WordPress login page */

* { margin: 0; padding: 0; }

body {
	border-top-width: 30px;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

form {
	margin-left: 8px;
	padding: 16px 16px 40px 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


#logo {
    display: block;
    height: 66px;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: -0px;
    width: 400px;
    font-size: 20px;
    
}


#login form .submit input {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 3px 5px;
	border: none;
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: default;
	text-decoration: none;	
	margin-top: -6px;
}

form p { margin-bottom: 24px; }

h1 a {
	background: url(../images/logo-login.gif) no-repeat;
	width: 292px;
	height: 66px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 10px;
	display: block;
}

#login { width: 292px; margin: 7em auto; }

.login-error {
	margin: auto auto 16px 0;
	/*border-width: 1px;
	padding: 12px;*/
        color: #FF0000;
        font-size: 10px;
        font-weight: bold;
        width: 350px;
}

.login-info {
	margin: auto auto 16px 0;
	/*border-width: 1px;
	padding: 12px;*/
        color: #FE720A;
        font-size: 10px;
        font-weight: bold;
        width: 350px;
}

#user_password, #user_login {
        color:  #555555;
	font-size: 20px;
	width: 97%;
	padding: 3px;
	margin-right: 6px;
}

label {
    font-size: 11px;
}
