/* Core Elements */

body {
    background-color: #fff; 
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana, Arial,  sans-serif;
    font-size: 0.8em;
}

.clear {
   clear: both;
}

button{
  background: #ccc;
  border: 1px solid #333;
}

a {
   color: #003366;
   text-decoration: none;
   font-family: Georgia, "Times New Roman", sans-serif;
   text-transform: capitalize;
}

a:hover {
   color: #ee6415;
   text-decoration: none;
}


/* Header */
#header{
  padding: 3px;
  border-bottom: 1px solid #000;
}

#user_info{
  float: right;
  margin-right: 3px;
}


#logo{
  height: 40px;
  display: block;
}

/* Title Bar*/

#title_bar h1{
   font-family: Georgia, "Times New Roman", sans-serif;
   font-size: 24px;
   font-style: italic;
   color: #464646;
}

#title_bar input, #title_bar a{
  background: none;
  color: #003366;
  border: none;
}

#title_bar input:hover, #title_bar a:hover{
  background: none;
  color: #EE6415;
  border: none;
}


/* menu */
#menu{
  display: block;
  padding: 5px;
}

#menu a, #sub_menu a {
  width: 150px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}

#sub_menu li{
   display: inline-block;
   width: 150px;
}

#sub_menu li li{
   display: block;
   text-align: center;
   text-transform: capitalize;
}

#menu {
   border: 2px solid #ccc;
}


/* Global Action*/
.global_action{
  float: right;
}

/* Toggle action */
#toggle_actions{
  font-size: 0.9em;
  font-family: Georgia, "Times New Roman", sans-serif
}

/* table */
table{
  width: 100%;
  border: none;
}

thead, tfoot{
  height: 30px;
  background: #DFDFDF;
  boder: none;
  text-align: left;
}

th{
  margin: 0px;
  padding: 0px;
  color: #464646;
  font-weight: bold;
  border: none;
}


td{
   vertical-align: top;
   border: none;
   border-bottom: 1px solid #ccc;
   margin: 0;
   padding: 0;
}

.table_menu{
   visibility: hidden;
   display: block;
   padding-left: 10px;
}

.table_menu a, .table_menu button{
   color: #003366;
   font-size: 0.9em;
   font-family: Georgia, "Times New Roman", sans-serif;
   text-decoration: none;
   cursor: pointer;
   font-weight: normal;
   background: none;
   border: none;
   padding: 2px;
   margin: 1px;
}

.table_menu button:hover, .table_menu a:hover{
   color: #ee6415;
}

.table_menu button.delete:hover, .table_menu a.delete:hover{
   color: red;
}

.table_menu button.valid:hover, .table_menu a.valid:hover{
   color: green;
}


td:hover .table_menu{
  visibility: visible;
}

.link{
   font-weight: bold;
   color: #003366;
   text-transform: capitalize;
}

/* groups table*/
#checkbox{
  width: 2em;
  padding: 0;
}

#group_members{
  width: 40%;
}

#group_graders{
  width: 15%;
}

#group_name{
   width: 30%;
}

/* flash messages, & warning */
.error{
  text-align: center;
  border: 1px solid #ff0000;
  padding: 3px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background: #FFFFE0;
}

.group form {
   margin: 0;
}

.fail-no-img {
   width: 250px;
   font-size: 80%;
}

#create_group_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 1px solid #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#rename_group_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 1px solid #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#assignment_group_use_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 1px solid #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.p_modal{
  margin-top: 5px;
  border-top: 1px solid #000000;
  padding-top: 10px;

}

#rubric_pane{
   float: left;
}

.float_left{
   float: left;
}

.float_right {
   float: right;
}

.bonus_deduction {
  padding: 5px;
  background-color: #B7D3EC; 
}

#standby_highlighting {
   background: yellow;
   font-size: 2em;
   padding: 5px;
   margin: 5px;
}

.hidden_student {
  background: #FFFFAA;
}

/* menu déroulant sur la droite */
.left_section:hover .left_section_container{
  display: block;
}

.left_section_container{
  display: none;
}

.colLeft{
  float: left;
  width: 80%;
}

.colRight{
   float: right;
   width: 20%;
   text-size: 0.1 em;
}

.accordion {
  position: relative;
}

.accordion-toggle {
   position: relative;
   z-index: 10;
   cursor: pointer;
}

.accordion-toggle-active{
   overflow: hidden;
   background: #aaa;
}





/* Login */

#loggedOut{
   margin: auto;
   width: 50%;
}

#login .section{
   margin: auto;
   width: 75%;
}

#login label{
   display: inline-block;
   padding: 20px;
   min-width: 100px;
}

#login input{
  display: inline-block;
  min-width: 150px; 
  margin: 10px;
}
