/* Core Elements */

body {
	background-color: #fff;
	margin: 0;
	margin-bottom: 3em;
	padding: 0;
	font-family: "Lucida Grande", Verdana, Arial,  sans-serif;
	font-size: 0.8em;
}

.clear {
   clear: both;
}

button{
   min-width: 100px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #464646;
  padding: 3px 5px;
  margin: 5px;
  font-size: 1em;
}

button:hover{
   color: #000;
}

a {
   color: #003399;
   text-decoration: none;
   font-family: Georgia, "Times New Roman", sans-serif;
   font-size: 1em;
   font-style: normal;
   font-weight: normal;
}

h2 a, h3 a, h4 a {
   padding-left: 5px;
   font-size: 12px;
}
a:hover {
   color: #ee6415;
   text-decoration: none;
   background: inherit;
}

a.delete{
	color: #ee6415;
}

a.delete:hover{
  color: red;
}

a.rubric_criterion_link {
	font-weight: bold;
	color: #000000
}

h1{
   font-family: "Myriad", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana;
   font-size: 24px;
   color: #464646;
}


h4{
   color: #464646;
   font-style: italic;
   padding-bottom: 3px;
   padding-left: 3px;
   border-bottom: 1px solid #ccc;
}


/* Header */
#header{
  padding: 3px;
  border-bottom: 1px solid #000;
  min-width: 60em;
}

#user_info{
  float: right;
  margin-right: 3px;
}

#logout_area {
  position: relative;
  right: 5px;
  top: -6px;
}

#user_name{
  padding-bottom: 3px;
  position: relative;
}

#logo{
   margin: 5px 10px 10px 10px;
   font-size: 14px;
}

#logo a{
  padding: 5px;
  font-size: 14px;
  font-family: Lucida;
}

.wrapLeft{
  padding: 0 1.3em;
  min-width: 75%;
}
.wrapRight{
  padding: 0 1.3em;
  min-width: 75%;
}

.wrapLeftGroups{
  padding: 0 1.5em;
  min-width: 75%;
}
.wrapRightGroups{
  padding: 0 1.5em;
  min-width: 75%;
}

.colsLeftHeavy{
  min-width: 78.125em;
}
/* Title Bar*/

#title_bar{
   padding-left: 15px;
}

#title_bar h1, .title_bar h1{
   font-family: "Myriad", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana;
   font-size: 24px;
   color: #464646;
}

#title_bar input, #title_bar a, .sub_title a{
  background: none;
  color: #003399;
  border: none;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0 4px;
  font-family: Lucida;
  min-width: 5px;
  cursor: pointer;
  }

#title_bar span.menu_bar{
  background: none;
  color: #464646;
  border: none;
  font-size: 0.5em;
  font-weight: bold;
}


.sub_title a {
   font-size: 0.7em;
}

#title_bar input:hover, #title_bar a:hover{
  background: none;
  color: #EE6415;
  border: none;
}

#new_files input{
	width: 300px;
}

/* menu */
#menu{
  display: block;
  padding: 0 0 0 130px;
  margin-top: -30px;
  border-bottom: 2px solid #464646;
  min-width: 70em;
}

#sub_menu, #sub_sub_menu{
  display: block;
  min-width: 70em;
}

#sub_menu li{
   float: left;
   width: 140px;
}

#sub_sub_menu li{
  float: left;
}

#sub_menu li.visible_dropdown {
  width: 170px;
}

#menu a, #sub_menu a, #sub_sub_menu a {
  width: 130px;
  height: 25px;
  padding-top: 7px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin: -2px 0px;
  font-family: "Lucida Grande", Verdana, Arial,  sans-serif;
  font-size: 12px;
}

#menu a {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  background: #ccc;
  color: #003366;
}

#sub_menu_active a {
   background-color: White;
   color: #464646;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;

}

#sub_menu a, #sub_sub_menu a {
   margin-top: 5px;
   color: #464646;
}

#sub_menu a {
   color: White;
}

#menu_active a{
   background: #464646;
   color: #fff;
   border: 2px #464646 solid;
}

#sub_menu_active a{
   background: White;
   color: #464646;
}

#sub_sub_menu_active a{
   background: #464646;
   color: White;
   -moz-border-radius-topleft: 10px;
   -moz-border-radius-topright: 10px;
   -webkit-border-top-left-radius: 10px;
   -webkit-border-top-right-radius: 10px;
}

#sub_menu li li, #sub_sub_menu li li{
   display: block;
   text-align: center;
   margin: 0;
   padding: 0;
}

#sub_menu ul, #sub_sub_menu ul{
   margin: 0;
   padding: 0;
   min-height: 35px;
   display: block;
   list-style: none;
}

#sub_menu ul.dropdown{
  visibility: hidden;
  background: #fff;
  margin: 0px 0px 0 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #464646;
  padding: 0 15px;
  min-width: 15em;
  z-index: 1
}

#sub_menu ul.dropdown li{
   float: none;
   display: block;
}

#sub_menu ul.dropdown a{
   text-align: left;
   padding-bottom: 4px;
}

#sub_menu ul.dropdown a:hover{
	text-decoration: underline;
	color: #003399;
}

#sub_menu, #sub_sub_menu{
   background: #464646;
   padding-left: 10px;
   overflow: hidden;
   white-space: nowrap;
}

#sub_sub_menu {
  background: White;
  border-bottom: 2px solid #464646;
}

.level1{
   padding: 7px 70px 0px 40px;
}

#sub_menu li.level2 a{
  display: block;
  padding: 2px;
  margin: 0;
  width: 15em;
  height: 14px;
  color: #464646;
}

#drop_down_current_assignment{
  display: block;
  padding: 2px;
  margin: 0;
  width: 15em;
  height: 14px;
  color: #464646;
  text-align: left;
  font-weight: bold;
}

span#choose_an_assignment{
   background-color: #fff;
   -moz-border-radius: 15px;
   -webkit-border-radius: 10px;
   border: 2px solid #464646;
   min-width: 15.5em;
   height: 1.1em;
   padding: 0.1em 1em;
   display: inline-block;
   font-weight: bold;
   text-align: center;
}

/* Global Action*/
.global_action{
  float: left;
  padding: 20px 0px 0px 0px;
}

.global_action_top{
  float: left;
  padding: 20px 0px 0px 0px;
}

.global_action_bottom{
  float: left;
  padding: 0px;
}

.global_action_left {
  float: left;
  padding: 10px 0px;
}

/* switch view*/
.switch_view{
  float: right;
  padding: 20px 0px 0 0;
}

/* Toggle action */
#toggle_actions{
  font-size: 0.9em;
  font-family: Georgia, "Times New Roman", sans-serif;
}

#toggle_actions a{
  padding: 0px 4px;
}

/* Drop down menu, select, input etc...*/
input, .button, .button_2{
  min-width: 100px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #464646;
  padding: 3px 5px;
  margin: 5px;
}

.rubric_level_input{
  width: 35%;
  margin-bottom: 1.2em;
  margin-top: 2em;
}

.fit_to_space{
  min-width: 0px;
  width: 90%;
}

.image_input{
  min-width: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: transparent;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.inline_checkbox{
	  min-width: 0px;
}

.button_2{
   margin-top: 0px;
   margin-bottom: 10px;
   padding-bottom: 50px;
}

.link_button{
  position: relative;
  top: 11px;
  min-width: 100px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #464646;
  padding: 4px 25px;
  margin: 5px;
  font-size: 0.85em;
}

.button{
  padding: 4px 25px;
}

.button_link{
    font-size: 1.13em;
    padding: 5px 25px;
}

.FilterTable_selectable, .inline_checkbox,
.FilterTable_students_selectable, .FilterTable_graders_selectable,
.FilterTable_groupings_selectable, .FilterTable_criteria_selectable {
  min-width: 0px;
}


input[disabled]{
  background: #DDDDDD;
  color: #AAAAAA;
}
input[disabled]:hover {
  background: #DDDDDD;
  color: #AAAAAA;
}

select{
   padding: 0 2px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border: 2px solid #ccc;
   background: none;
}

input:hover, .button:hover{
  border-color: #A7B8BE;
  color: #000;
}

input:focus{
  border-color: #003366;
  color: #000;
}


label, .label{
   float: left;
   display: block;
   min-width: 150px;
   padding-top: 3px;
   margin-top: 5px;
   padding-left: 5px;
   font-weight: bold;
}

label.radio_label, label.checkbox_label, label.inline_label{
   float: none;
   display: inline;
   min-width: 0px;
   padding-top: 0px;
   margin-top: 0px;
   padding-left: 0px;
   font-weight: normal;
}

label.textbox_label{
   float: none;
   display: inline;
   min-width: 0px;
   padding-top: 0px;
   margin-top: 0px;
   padding-left: 0px;
   font-weight: normal;
   vertical-align: top;
}

label.bold_inline_label{
   float: none;
   display: inline;
   min-width: 0px;
   padding-top: 0px;
   margin-top: 0px;
   padding-left: 0px;
}

fieldset {
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border: 2px solid #ccc;
   margin-bottom: 2.5em;
}

legend{
   color: #464646;
   font-style: italic;
   font-weight: bold;
   margin: 0 0.5em;
   padding: 0 0.4em;

}

textarea {
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border: 2px solid #ccc;
   padding: 5px;
}

.rubric_text_area {
  height: 3em;
  width: 55%;
  min-width: 235px;
}

textarea:hover {
  border: 2px solid #464646;
}

textarea:focus{
   border-color: #003366;
}
/* table */
.filter_selected{
  color: #000;
  font-weight: bold;
}

a.filter_selected:hover{
  color: #000;
  font-weight: bold;
  cursor: default;

}


table{
  width: 100%;
  border-collapse: collapse;
  margin: 4px 0;
}

thead, tfoot{
  height: 30px;
  background: #DFDFDF;
  text-align: left;
}

th, tfoot tr td{
  margin: 0px;
  padding: 0px;
  color: #464646;
  font-weight: bold;
  border: none;
}


td{
   vertical-align: top;
   border: none;
   border-bottom: 1px solid #ccc;
   margin: 0;
   padding: 0;
}

td.note {
  padding: 5px;
  text-align: left;
}

tbody tr:hover {
   background: #ECECEC;
}

.table_menu{
   padding-left: 10px;
}

.table_menu a, .table_menu button{
   color: #003399;
   font-size: 0.8em;
   font-family: Georgia, "Times New Roman", sans-serif;
   text-decoration: none;
   cursor: pointer;
   font-weight: normal;
   background: none;
   border: none;
   padding: 2px;
   margin: 1px;
   min-width: 5px;
}

.table_menu button:hover, .table_menu a:hover{
   color: #ee6415;
}

.table_menu button.delete:hover, .table_menu a.delete:hover{
   color: red;
}

.table_menu button.valid:hover, .table_menu a.valid:hover{
   color: green;
}


tr:hover .table_menu{
  visibility: visible;
}

.link{
   font-weight: bold;
   color: #003399;
   cursor: pointer;
   padding: 0.1em;
}



/*student's table*/
tr.student_hidden{
  font-style: italic;
}

/* Grades table cell (user name, first name, last name) */
td.grades_table_cell {
  width: 10%;
}

/* Grades table checkbox */
td.grades_table_checkbox, th.student_total {
	width: 7%;
	text-align: center;
}

/* Grade */
td.grade {
  width: 5%;
  text-align: center;
}

td.grade input {
	min-width: 5%;
}

/* Question total in grades table */
th.out_of {
  text-align: center;
	min-width: 80px;
}


/* A student's total mark in grades table */
td.student_total {
  text-align: center;
}

td.student_total input {
  min-width: 7%;
  border: none;
  background-color: transparent;
  text-align: left;
  color: #000000;
}

td.student_total input:hover {
  min-width: 7%;
  border: none;
  background-color: transparent;
  text-align: left;
  color: #000000;
}

/* groups table*/
#checkbox{
  width: 2em;
  padding: 0;
}

#FilterTable_header_members{
  width: 55%;
}

#FilterTable_header_graders{
  width: 20%;
}

#FilterTable_header_valid{
   width: 2.5%;
}


#FilterTable_header_name{
   width: 35%;
}

#FilterTable_manage_graders_header_name{
   width: 32%;
}

#FilterTable_manage_graders_header_members{
  width: 40%;
}

#FilterTable_manage_graders_header_section{
  width: 12%;
}

#FilterTable_manage_graders_header_coverage, #FilterTable_header_coverage{
  width: 8em;
}

input#extra_mark_description{
  width: 50%;
}

#add_extra_mark_prompt label{
  min-width: 20%;
}

.summary_block {
  float: right;
  padding: 5px;
  line-height: 1.6em;
  border: 1px solid #ccc;
  margin: 5px 5px;
  min-width: 50%;
}

.total_extra_points_label, #total_extra_points{
  font-style: italic;
  margin: 2px 0;
  padding: 2px;
}

.status_inviter{
   font-style: italic;
   font-weight: bold;
}

.status_pending{
   font-style: italic;
}


.mark_total{
   font-style: italic;
   font-weight: bold;
   font-size: 1.4em;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   background-color: #EFEFEF;
   border: 1px solid #ACACAC;
   padding: 10px;
   margin: 10px;
}

.final_mark{
   font-size: 1.4em;
   float: right;
}

#current_total_mark_div {
  padding-left: 5px;
}

/* flash messages, & warning */
.success {
  text-align: left;
  border: 1px solid #458B00;
  padding: 3px 30px;
  background: #BDFCC9 url(../images/icons/accept.png) no-repeat;
  background-position: 7px;
  margin: 5px;
}

.error, .errorExplanation{
  text-align: left;
  border: 1px solid #E6DB55;
  padding: 3px 3em;
  margin: 1em 4em 1em 4em;
  background: #FFFFE0 url(../images/icons/exclamation.png) no-repeat;
  background-position: 7px;
  margin: 5px;
}

.error h2, .errorExplanation h2{
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 0;
  margin: 0px;
}

.error p, .errorExplanation p{
  font-size: 1em;
  padding: 0.2em 0;
  margin: 0px;
}

.error ul, .errorExplanation ul{
  font-size: 1em;
  margin: 0px;
}

.notice{
  background: #FFFFE0;
  border: 1px solid #E6DB55;
  padding: 3px 30px;
  margin: 5px;
}

.information{
  border: 1px solid #0047FF;
  padding: 3px 30px;
  background: #EFEFEF url(../images/icons/information.png) no-repeat;
  background-position: 7px;

}

.warning {
  border: 1px solid #E6DB55;
  padding: 3px 30px;
  background: #FFFFE0 url(../images/icons/error.png) no-repeat;
  background-position: 7px;

}

.group form {
   margin: 0;
}

.fail-no-img {
   width: 250px;
   font-size: 80%;
}

/* Modal windows*/

#control_overlay{
  background: #000;
}

#create_group_dialog, #create_annotation_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 2px solid #464646;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#rename_group_dialog, #upload_dialog, #download_dialog, #notes_dialog,
#groups_coverage_dialog, #grader_criteria_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 1px solid #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   max-height: 80%;
   max-width: 80%;
   overflow: auto;
}

#assignment_group_use_dialog, #add_member_dialog, #invite_dialog {
   background: white;
   padding: 0 10px 0 10px;
   border: 1px solid #000000;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#about_dialog {
  background: white;
  border: 1px solid #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 600px;
  height: 600px;
}

#about_dialog #about_text {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 550px;
  height: 500px;
  overflow: scroll;
  padding: 10px;
}

#about_dialog #about_close {
  position: absolute;
  bottom: 20px;
  left: 300px;
  width: 100px;
  margin-left: -50px;
}

#role_switch_dialog {
  background-color:#fff;
  padding:10px;  
  border:10px solid #333;  
}

#about_icon, #switch_role_icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 2px;
  position: relative;
  top: 0.3em;
}

#about_dialog a {
  text-transform: none;
}

.p_modal{
  margin-top: 5px;
  border-top: 1px solid #000000;
  padding-top: 10px;

}

#mark_pane, #annotation_pane {
   float: left;
}

.float_left{
   float: left;
}

.float_right {
   float: right;
}
.cursor_hand {
	float: left;
	cursor: pointer;
}
.bonus_deduction {
  padding: 5px;
  background-color: #B7D3EC;
}

#standby_highlighting {
   background: yellow;
   font-size: 2em;
   padding: 5px;
   margin: 5px;
}

.hidden_student {
  background: #FFFFAA;
}

/* accordeon menu */
.left_section:hover .left_section_container{
  display: block;
}

.left_section_container{
  display: none;
}

#notes_dialog div.notes_existing {
	width: 250px;
	height: 255px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #ccc;
	overflow: auto;
	word-wrap: break-word;
	float: left
}
#notes_dialog div.notes_wrapper {
	display: table;
}
#notes_dialog div.notes_wrapper_row {
	display: table-row-group;
}
div.float_right {
	float: right;
}
div.float_left {
	float: left;
}


.colLeft{
  float: left;
  width: 75%;
}

.colRight{
   float: right;
   width: 24%;
}

.colLeftGroups{
  float: left;
  width: 38%;
  margin-right: -17px;
}

.colRightGroups{
  float: right;
  width: 62%;
  margin-left: -17px;
}

.colLeftGraders{
  float: left;
  width: 35%;
  margin-right: -17px;
}

.colRightGraders{
  float: right;
  width: 65%;
  margin-left: -17px;
}

.centreColumn{
  position: relative;
  top: 110px;
  right: 0;
  overflow: hidden;
}

.centreColumnGraders{
  position: relative;
  top: 110px;
  right: 0;
  overflow: hidden;
}


.pane{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #ECECEC;
  border: 1px solid #ddd;
  margin: 0 0 10px 0;
  padding: 10px;
}

.headingButtons{
  position: absolute;
  right: 0px;
  padding: 0 1.3em;
  margin-top: -2em;
}

.globalActionIconsTop, .globalActionIconsBottom{
  background: #DFDFDF;
  width: 60px;
  margin-bottom: -5px;
  margin-top: -5px;
  padding-left: 5px;
  padding-right: 5px;
}

.globalActionIconsTop{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

.globalActionIconsBottom{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}


/* Login screen styling (uses its own layout) */
#login {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 320px;
  border: solid Black 1px;
  top: 50%;
  margin-top: -200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
}

#login label{
   display: inline-block;
   padding: 5px;
   min-width: 100px;
   margin-left: 25px;
}

#login input{
  min-width: 150px;
  margin-left: 20px;
  padding: 5px;
}

#login input.indent_button {
  margin-left: 155px;
}

div#login-greeting {
  position: absolute;
  font-weight: bold;
  right: 20px;
  margin-top: -16px;
  background-color: #fff;
  color: #ccc;
  padding: 8px;
}

div#login-course {
  text-align: center;
  position: relative;
  font-weight: bold;
  width: 70%;
  background-color: #fff;
  left: 15%;
  margin-bottom: 20px;
}

div#login-image img {
  position: relative;
  width: 250px;
  margin-top: 20px;
  left: 50%;
  margin-left: -125px;
  margin-bottom: 20px;
}

div#login div#login-content {
  position: relative;
  bottom: 0px;
}

div#login div.error {
  text-align: center;
  margin-top: -15px;
}

/* Student Interface: Assignment View*/

.block {
   width: 95%;
   padding: 0px;
   margin: 10px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border: 1px solid #ccc;
}

.block h2{
   background: #DFDFDF;
   margin: 0;
   padding: 5px 10px;
   font-size: 1.1em;
   border-bottom: 1px solid #ccc;
   color: #464646;
   }

.block h3, .section h3, #section h3{
   font-family: "Georgia";
   font-style: italic;
   font-weight: normal;
   font-size: 0.9em;
   color: #464646;
   border-bottom: 1px solid #ccc;
   padding-bottom:3px;
   padding-left: 3px;
}

.block_content{
  padding: 10px;
}

.block_line{
   display: block;
   margin: 5px;
   border-top: 1px solid #ccc;
}

.sub_block{
  margin: 0px 15px;
}

div.sub_block span.prop_label{
  display: block;
  min-width: 150px;
  float: left;
  font-weight: bold;
}

div.sub_block span.box{
  display: block;
}

#member_inviter{
   font-weight: bold;
}

.membership_status_pending{
   font-style: italic;
}

.membership_status_rejected{
   font-style: italic;
   color: #464646;
}


span.info_red, span.info {
   font-family: "Tahoma";
   font-size: 1em;
   line-height: 1.5em;
}


span.info_red{
  color: #ee6415;
}

span.info_number{
   font-size: 1.5em;
   font-family: "Georgia";
   margin-right: 5px;
   line-height: 1.5em;
}

span.info_date{
   font-size: 1.2em;
   font-family: "Georgia";
   margin-right: 5px;
   line-height: 1.5em;
}


.section .info_date{
   margin-left: 10px;
   color: #464646;
   font-style: italic;
}

a.assignment_list{
  font-size: 1.2em;
  display: inline-block;
  min-width: 15em;
}

span.title{
  font-family: Georgia;
  display: block;
  font-style: italic;
  color: #464646;
  font-size: 0.9em;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  margin-bottom: 5px;

}

/* Submissions table */
td#thinking_table_row {
 text-align: center;
}


.ap_filters {
  float: right;
  padding: 5px;
}
.ap_page_links {
  float: right;
}
.ap_selector {
  float: left;
}
#ap_select_all_div {
  border: 1px solid #000000;
  background: #FFFFE0;
  text-align: center;
  padding: 5px;
}
#ap_select_full_div {
  border: 1px solid #000000;
  background: #FFFFE0;
  text-align: center;
  padding: 5px;
}

.ap_prev_link {
  margin-right: 15px;
}

.ap_next_link {
  margin-left: 15px;
}

th.ap_sorting_by {
  color: #000;
  background-image: url(../images/icons/bullet_arrow_up.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.3em;
}

th.ap_sorting_by a {
  color: #000;
  font-weight: bold;
  background: none;
}

th.ap_sorting_by_desc {
  color: #000;
  background-image: url(../images/icons/bullet_arrow_down.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.3em;
}

.ap_nav_box {
  width: 100%;
  border: 1px solid #DDDDDD;
  padding: 5px 0px;
}

/* end Submissions table */

/* Submission's file_manager*/
th#FilterTable_header_filename{
  width: 30%;
}

th#FilterTable_header_last_modified_date {
  width: 20%;
}

th#FilterTable_header_revision_by{
  width: 20%;
}

th#FilterTable_header_delete_file, td#FilterTable_footer_delete_file {
  text-align: center;
}

th#FilterTable_header_filename:hover,
th#FilterTable_header_revision_number:hover,
th#FilterTable_header_revision_by:hover,
th.FilterTable_sortable:hover,
tfoot tr td:hover
{
  cursor: pointer;
  color: #000;
}

th.FilterTable_sorting_by,
tfoot tr td.FilterTable_sorting_by {
  color: #000;
  background-image: url(../images/icons/bullet_arrow_up.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.3em;
}

th.FilterTable_sorting_by_reverse,
tfoot tr td.FilterTable_sorting_by_reverse
{
  color: #000;
  background-image: url(../images/icons/bullet_arrow_down.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 1.3em;
}


th, td, tfoot tr td{
  padding-left: 5px;
}

tfoot tr td {
  vertical-align: middle;
}

td a{
  text-transform: none;
}

td.delete_row {
  text-align: center;
}

td.grade_entry_form_results_name {
  width: 27%;
}

td.grade_entry_form_result {
	width: 40%;
}

/* Grader's view*/

#file_selector button{
  min-width: 8px;
}

/* floating object */
.column_floatRight{
   float: right;
   width: 49%;
}

.column_floatLeft{
   float: left;
   width: 49%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.invisible_list {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#working {
  background: red;
  color: white;
  position: absolute;
  right: 0px;
}

a.icon_remove {
  width: 20px;
  height: 20px;
  text-indent: -90000px;
  background: no-repeat url('../images/icons/cancel.png');
}

a.icon_remove:hover {
  text-indent: -9000px;
  background: no-repeat url('../images/icons/cancel.png');
}

a img{
  border: none;
}

/* Rubric Criteria view*/

/* Float right was causing issues */
div.align_text_right {
  text-align: right;
  width: 100%;
}

.rubric_level_header {
  margin-bottom: -3em;
}

#rubric_criteria_pane, #flexible_criteria_pane, #annotation_category_pane {
   float: left;
}

#flexible_criteria_pane, #annotation_category_pane	{
   padding: 0px 2%;
}

#rubric_criteria_pane .criteria_fieldset, #flexible_criteria_pane .criteria_fieldset, #annotation_category_pane .annotation_categories_fieldset{
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border: 2px solid #ccc;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#rubric_criteria_pane ul, #flexible_criteria_pane ul{
  margin: 0;
  padding: 0;
}
#annotation_category_pane ul{
  padding: 1em;
  margin: 0;
  list-style: none;
}

#rubric_levels_pane_list, #annotation_category_pane_list{
   padding-left: 10px;
}

.weight_bump_button{
  width: 10px;
  padding: 0px 9px;
  min-width: 10px;
}

.criterion_input_weight{
   width: 18px;
   padding: 2px 9px;
}

.level_textarea_description{
   width: 90%;
}

#rubric_criteria_list_title_bar, #flexible_criteria_list_title_bar, .annotation_categories_list_bar{
  margin-bottom: 5px;
  padding-bottom: 5px;
  min-height: 15px;
}

#flexible_edition_pane, #annotations_pane{
   width: 66%;
   float: right;
   margin-right: 2em;
   border: 2px solid #ccc;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
}

#rubric_levels_pane {
   border: 2px solid #ccc;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   margin-left: 300px;
}

#rubric_levels_pane h2, #flexible_edition_pane h2, #annotations_pane_menu h2{
  padding-left:10px;
}

#rubrics_help, #annotations_help{
  padding: 0 10px 10px 10px;
  font-style: italic;
  line-height: 1.6em;
}

#rubrics_help h2{
  padding: 0 10px;
  color: #464646;
}

#rubrics_help h3{
  color: #464646;
}


.criterion_holder_selected{
  background: #ccc;
}

#rubric_criteria_pane ul, #flexible_criteria_pane ul{
   list-style: none;
}

#rubric_criteria_pane li, #flexible_criteria_pane li{
   width: 100%;
   border-top: 1px solid #ccc;
   min-height: 35px;
   padding: 2px 0px;
}

.mark_tools input{
   min-width: 0px;
   font-size: 0.8em;
   margin: 1px;
   margin-bottom: 4px;
   padding: 2px;
}

#annotation_category_pane_list li{
   width: 100%;
   border-top: 1px solid #ccc;
   min-height: 25px;
   padding: 2px 0px;
}


.criterion_handle{
  padding-left: 3px;
  cursor: move;
  float:left;
}

.criterion_title_div, .annotation_category_title{
   padding: 2px 2px 0 10px;
   float: left;
}

.criterion_arrow{
	float: right;
	padding-left: 3px;
}

.criterion_weight, .criterion_max {
   float: right;
   padding: 2px 4px 0 2px;
}

.delete_criterion a img{
	border: none;
}

.main_rubric_criteria_edit, .main_flexible_criteria_edit, #flexible_criteria_preview{
   background: #F8F8F8;
   margin: 10px;
   padding: 10px;
   border: 2px solid #ccc;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
}

.main_rubric_criteria_edit {
  width: 280px;
   margin-bottom: -16em;
}

.rubric_criteria_levels{
   margin-right: 1em;
   margin-left: 340px;
}

#flexible_criteria_preview h3 {
   margin: 0px 0px 10px 0px;
}

#flexible_criteria_preview ul li {
   list-style: disc outside none;
   padding: 0px;
}

#flexible_criteria_preview ol li {
   list-style: decimal outside none;
   padding: 0px;
}

.criterion_description_preview {
   background-color: #fff;
   padding: 10px;
   border: solid 2px #ccc;
}

input.criterion_input_name{
   background: #fff;
   width: 25em;
   text-align: left;
}

.criteria_edit_total_mark{
   font-style: italic;
}

#rubric_levels_pane_menu li, #flexible_edition_pane_menu li{
   padding-bottom: 1em;
   list-style: none;
}

/* Annotation category*/

#annotation_list_holder{
  padding: 0 1em;
}

#annotation_list_holder h2{
  margin: 0;
}


ul#annotation_list{
  list-style: none;
}

ul#annotation_list li{
  border-bottom: 1px solid #ccc;
}


#annotation_list textarea{
   width: 90%;
}

.annotation_texts_size{
   color: #464646;
   font-style: italic;
   margin-left: 5px;
   font-size: 0.9em;
}
/* Admin interface: Assignment View*/
.disable {
  font-style: italic;
  color: #464646;
}

.assignment_info{
  font-style: italic;
  font-size: 0.9em;
}

fieldset.period p{
   margin: 0px;
   padding: 0px;
}

.PeriodDeltaChain{
  padding-left: 10em;
  font-style: italic;
  font-size: 0.9em;
}

.PeriodDeltaChain_ToTime{
   font-weight: bold;
   padding: 0 10px;
}

.PeriodDeltaChain_FromTime{
   font-weight: bold;
  padding: 0 10px;

}

span.due_date{
  display: block;
  font-style: italic;
  color: #464646;
  font-size: 0.9em;
  padding-left: 5px;
  margin-bottom: 5px;
}

fieldset.period{
  margin: 10px 0px;
}

#penalty_periods, #grace_periods, #penalty_decay_periods {
   margin-left: 5em;
   width: 80%;
}

#grade_entry_items {
	width: 45%;
}

.grace_periods_link, .penalty_decay_periods_lin, .penalty_periods_link{
  margin: 2em;
  font-size: 0.9em;
}

#rubric_viewer #criteria_pane{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#rubric_viewer table{
  background:#fff;
  padding: 4px;
}

#rubric_viewer table tr{
  background:#fff;
  padding: 4px;
}

.fieldWithErrors label{
   font-style: italic;
}

.fieldWithErrors input{
  border: 2px #E6CB55 solid;
}

fieldset.disabled{
  background-color: #eee;
  font-style: italic;
}

.disabled label, .disabled span, .disabled p{
  font-style: italic;
  color: #464646;
}

.invalid {
  color: #FF0000;
}

.hidden {
  display: none;
}

#api_key_box {
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  overflow: auto;
}

div#test_results_controls {
  display: inline;
  margin-left: 30px;
}

form#grader_view_file_selector_form {
  display: inline;
}

pre#test_result_content {
  font-size: 1.3em;
}

/* For the passed due date in dashboard. */
.red {
  color: Red;
}

.graph_layout{
	margin-top:20px;
	margin-left:20px;
	width:500px;
	height:350px;
}

/* Language chooser styles */
#lang_chooser {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding-left: 5px;
}

#lang_chooser select {
  border: none;
  font-size: smaller;
}

/* Dashboard Assignment Summary */
.assignment_summary {
	display: table;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	border-style: none;
	background-color: #f4f4f4;
}

.assignment_summary .left {
	float: left;
	display: block;
	width: 400px;
}

.assignment_summary .right {
	float: left;
	display: inline-block;
	width: auto;
	margin-left: 15px;
}

.assignment_summary .title {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	color: #0a67ad;
}

.assignment_summary .due_date {
	font-weight: bold;
}

.assignment_summary .due_date .after {
	color: red;
}

.assignment_summary .due_date .before {
	color: green;
}

.assignment_summary table tr td {
	padding-right: 10px;
	border-bottom: none;
}

.assignment_summary ul {
	margin-top: 0px;
	list-style-type: square;
}

.assignment_summary .grader_distribution {
	margin-bottom: 0px;
}

#section_due_dates_type_form {
    margin-top: 10px;
}

.section_due_date_form {
    margin-left: 60px;
}

.bluff-tooltip {
	background: #fff;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}

.bluff-tooltip span.label {
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
}

.bluff-tooltip span.data {
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
}

.bluff-tooltip span {
	display: none;
}

#curent_time{
  padding: 10px 0px 10px 0px;
}
