<h3><%= I18n.t(:api_key) %></h3>
<div id="api_key_box">
  <% if !user.api_key.nil? %>
	  <div id="api_key"><%= user.api_key %></div>
		  <% form_remote_tag :url => { :action => "reset_api_key", :controller => "main"} do %>
	      	<%= submit_tag I18n.t(:reset_api_key) %>
	    <% end %>
  <% else %>
	  <%= I18n.t(:api_key_unavailable) %>
  <% end %>
</div>