<%
# Erb template for inserting a member into a group for managing groups
%>
<% grouping.ta_memberships.each do |member| %>
  <span id="<%= "mbr_#{member.id}" %>">
    <% id = "grader_memberships_#{member.id}" %>
    <%=
      check_box_tag(
        'grader_memberships[]', member.id, false,
        id: id, class: 'inline_checkbox',
        onclick: "$('grouping_select_' + #{grouping.id}).checked = true;"
      )
    %>
    <%=  label_tag id, member.user.user_name, class: 'inline_label' %>
  </span>
<% end %>
