<%
# Erb template for inserting a member into a group for managing groups
%>

<span id="<%= "asc_#{association.id}" %>">
  <% id = "criterion_graders_#{association.id}" %>
  <%=
    check_box_tag(
      'criterion_graders[]', association.id, false,
      id: id, class: 'inline_checkbox',
      onclick: "$('criterion_select_' + #{criterion.id}).checked = true;"
    )
  %>
  <%= label_tag id, association.ta.user_name, class: 'inline_label' %>
</span>
