<%
# Erb template for inserting a member into a group for managing groups
%>

<span id="<%= "asc_#{association.id}" %>">
  <% #association.criterion not eager loaded!  and association.ta also not eager loaded! %>
  <%= check_box_tag "#{association.criterion.id}_#{association.ta.user_name}", true, false, :class => 'inline_checkbox', :onclick => "$('criterion_select_' + #{association.criterion.id}).checked = true;"%>
  <%=  label_tag "#{association.criterion.id}_#{association.ta.user_name}", association.ta.user_name, :class => 'inline_label' %>
</span>

