<h2><%= @grader.user_name %></h2>
<% assigned = @grader.get_criterion_associations_by_assignment(@assignment)%>
<b><%= t('criteria.title') %>:</b>
<br>
<% assigned.each do |association| %>
  <%= association.criterion.name %>
  <br>
<% end %>
<br>
<button onclick="modal_criteria.close();"><%= I18n.t('close') %>
</button>
