<li class="<%= active_id == assignment.id ? 'active' : '' %>">
  <% link_text = assignment.short_identifier %>
  <% link_text = formatted_assessment_visibility_label(assignment, link_text) %>

  <%= link_to link_text,
              switch_course_assignment_path(@current_course, assignment.id),
              title: assignment.description %>
</li>
