<% #requires locals: model - the object that may have an error and flash_message (optional) %>
<% if model.errors.any? %>
  <div class="errorExplanation" id="errorExplanation" >
    <% if flash_message %>
      <h2><%= flash_message %></h2>
    <% end %>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>