<li class="<%= active_id == grade_entry_form.id ? 'active' : '' %>">
  <% link_text = grade_entry_form.short_identifier %>
  <% if grade_entry_form.is_hidden %>
    <% link_text = t('assignments.hidden', assignment_text: link_text) %>
  <% end %>

  <%= link_to link_text,
              switch_course_grade_entry_form_path(@current_course, grade_entry_form.id),
              title: grade_entry_form.description %>
</li>
