$(function() {
  $('#alert-div').html("<div class='alert alert-info'> Processing <span class='fa fa-spinner fa-spin'></span> </div> ");
  return $.poll(function(retry) {
    return $.getJSON("<%= job_message_path(@current_job.job_id) %>", function(data) {
      if (data) {
        if (data.status === "succeeded") {
          $('#alert-div').html("<div class='alert alert-success'> Finished Processing. Reloading...  </div> ");
          return setTimeout((function() {
            window.location.replace("<%= root_url %>".slice(0, -1) + data.message)
          }), 1500);
        } else if (data.status === "failed") {
          return $('#alert-div').html("<div class='alert alert-danger'> Processing failed: " + data.message + "</div>");
        } else {
          return retry();
        }
      } else {
        return retry();
      }
    });
  });
});