<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title><%= code + " " + HttpStatusHelper::ERROR_CODE[code] %></title>
  <%= stylesheet_link_tag 'main.css', :media => 'all' %>
</head>
<body>
  <h1><%= code + " " + HttpStatusHelper::ERROR_CODE[code] %></h1>
  <p><%= message %></p>
</body>
</html>
