<ul id="group_<%= group.id %>" onclick="<%="focus_group(#{group.id})"%>">
  <% group.memberships.all(:include => :user).each do |member| %>
    <li><%= member.user.user_name %></li>
    <% # Delete all the students in a group so that we can identify who isn't in a group
      @students.delete(member.user.id)  
    %>
  <% end -%>
</ul>
