<%= content_for :modal_id, 'download_dialog' %>
<%= content_for :modal_title, t('download') %>

<%= content_for :modal_content do %>

  <section id="download_dialog_body"></section>
  <section class='dialog-actions'>
    <input type='reset' id="download" value='<%= t(:cancel) %>'>
  </section>
<% end %>
