<div>

<%= render :partial => "results/marker/marker_summary", :locals =>
{:rubric_criteria => @rubric_criteria, :marks_map => @marks_map,
:assignment => @assignment, :result => @result, :extra_marks => @extra_marks}%>

</div>



