<div id='result_summary' class='flex-col'>
  <%= render partial: 'results/student/student_panes',
             locals: { result: @result,
                       assignment: @assignment,
                       submission: @submission,
                       old_result: @old_result } %>
</div>
