<div id='result_summary'>
  <%= render partial: 'results/student/student_panes',
             locals: { extra_marks_points: @extra_marks_points,
                       extra_marks_percentage: @extra_marks_percentage,
                       result: @result,
                       mark_criteria: @mark_criteria,
                       marks_map: @marks_map,
                       old_marks_map: @old_marks_map,
                       assignment: @assignment,
                       submission: @submission,
                       old_result: @old_result,
                       files: @files,
                       feedback_files: @feedback_files} %>
</div>
