<script>
  function rotate() {
    PDFView.rotatePages(180);
  }
  var index = 0;
  var files = <%= raw @error_files %>;

  function getFile(filename) {
    checkLastFile();
    $('#copy_number').val('')
    $('#page_number').empty()
    $.ajax({
      method: 'GET',
      url: 'download_error_file_path',
      dataType: 'text',
      data: {
        assignment_id: <%= @assignment.id %>,
        file_name: filename
      },
      success: function (data) {
        webViewerLoad(data);
      },
      error: function (err) {
        console.log(err);
      }
    });
  }

  function checkLastFile() {
    if (files.length <= 1) {
      $('#next_file').addClass('disable');
      $('#previous_file').addClass('disable');
      return true;
    }
    return false;
  }

  function nextFile() {
    if (index < files.length - 1) {
      index += 1;
    } else {
      index = 0;
    }
    if (!checkLastFile()) {
      getFile(files[index]);
    }
  }

  function previousFile() {
    if (index > 0) {
      index -= 1;
    } else {
      index = files.length - 1;
    }
    if (!checkLastFile()) {
      getFile(files[index]);
    }
  }

  function getPages(value) {
    $('#page_number').empty();
    if(value !== null){
      $.ajax({
        method: 'GET',
        url: 'error_pages',
        dataType: 'json',
        data: {
          exam_number: value
        },
        success: function (data) {
          $('#page_number').append('<option disabled selected value></option>');
          data.forEach(function(page) {
            $('#page_number').append('<option>' + page + '</option>');
          });
        },
        error: function (err) {
          console.log(err);
        }
      });
    }
  }

  $(document).ready(function () {
    $('#upside_down').click(function () {
      rotate();
    });

    $('#copy_number').on('keyup', function () {
      getPages($('#copy_number').val());
    });

    getFile(files[0]);

    var error_groups = [];

    $('#copy_number').autocomplete({
      source: <%= raw @incomplete_groups.to_json %>,
      minLength: 0,
      select: function (e, ui) {
        getPages(ui.item.value);
      }
    });

    $('#info_form').submit(function(e) {
      e.preventDefault();
      // grabbing existing user input data such as copy number, page number, and exam template
      var fix_error = $(this).serializeArray().reduce(function(obj, item) {
        obj[item.name] = item.value;
        return obj;
      }, {});
      // appending checkbox data to determine whether we should flip the PDF or not
      fix_error['upside_down'] = document.getElementById('upside_down').checked;
      // appending filename to existing form data
      var filename = files[index];
      fix_error['filename'] = filename;
      $.ajax({
        method: 'POST',
        url: '<%= fix_error_assignment_exam_template_path(id: @exam_template.id) %>',
        dataType: 'text',
        data: {
          fix_error: fix_error
        },
        success: function (data) {
          files.splice(index, 1);
          index -= 1;
          nextFile();
          $('#copy_number').focus();
        },
        error: function (err) {
          console.log(err);
        }
      })
    });
  });
</script>
