$(document).ready(function() {
  window.modal_create_new   = new ModalMarkus('#create_new_template');
  window.modal_create_new_division = new ModalMarkus('#create_new_division');
});

function add_template_division(exam_template_id) {
    var exam_template_id = parseInt(exam_template_id);
    var new_id = new Date().getTime();
    var input_id = 'exam_template_template_divisions_attributes' + new_id;
    var new_division_row = `
        <li id="${input_id}_holder">
          <span class="label">
            <input type="text" required="required" name="exam_template[template_divisions_attributes][${new_id}][label]">
          </span>
          <span class="start">
            <input type="number" required="required" name="exam_template[template_divisions_attributes][${new_id}][start]">
          </span>
          <span class="end">
            <input type="number" required="required" name="exam_template[template_divisions_attributes][${new_id}][end]">
          </span>
          <span class="delete">
            <a onclick="remove_template_division(\'${input_id}\'); return false;">
              <%= t(:remove) %>
            </a>
          </span>
        </li>
      `;
    $('.template-division-section').append($(new_division_row));
}

function remove_template_division(input_id) {
    $('#' + input_id + '_holder').remove();
}

