<%= content_for :modal_id, 'create_new_template' %>
<%= content_for :modal_title, t('exam_templates.create.add_new') %>
<%= content_for :modal_content do %>
  <div id="create_new_template_content"></div>
<% end %>
