<div id="create-template-division-modal-content" hidden>
  <p><%= t('exam_templates.create.create_template_help_html') %></p>
  <div class="create-template-division-modal-area">
    <%= render partial: 'template_division_pane',
               locals: { f: f, exam_template: nil }%>
  </div>
  <section class='dialog-actions'>
    <input id="create-template-division-previous" class='create-template-view-change' type='button' value='Previous'/>
    <%= f.submit t(:save),
                 name: 'submit',
                 data: { disable_with: t('working') },
                 class: 'button' %>
    <input type='reset' value='<%= t(:cancel) %>'/>
  </section>
</div>
