<div id="create-template-division-modal-content" hidden>
  <%= render partial: 'template_division_pane',
             locals: { f: f, exam_template: nil }%>
  <section class='dialog-actions'>
    <input id="create-template-division-previous" class='create-template-view-change' type='button' value='Previous'/>
    <input id="create-template-division-next" class='create-template-view-change' type='button' value='Next'/>
    <input type='reset' value='<%= t(:cancel) %>'/>
  </section>
</div>
