<div class='listings sortable'>
  <header>
    <span><%= ExamTemplate.model_name.human %></span>
  </header>

  <ul id='exam_template_pane_list'>
    <%= render partial: 'exam_template', collection: @exam_templates %>
  </ul>
</div>
<div class="listings separate-listing">
  <li>
    <%= link_to t('exam_templates.split.title'),
                view_logs_course_assignment_exam_templates_path(@current_course, @assignment),
                remote: true %>
  </li>
</div>
