<li id='exam_template_<%= exam_template.id %>'>
  <i class="fa-solid fa-grip-vertical icon-left"></i>
  <span>
    <%= link_to truncate(exam_template.name, length: 30),
                edit_course_exam_template_path(@current_course, exam_template),
                remote: true %>
  </span>
</li>
