<h2><%= t('exam_templates.split.title') %></h2>
<%= render partial: 'split_form' %>
<fieldset>
  <legend>
    <span>
      <%= SplitPdfLog.model_name.human.pluralize %>
    </span>
  </legend>
  <div id="exam_scan_log_table"></div>
</fieldset>
