<div class='listings sortable'>
  <header>
    <span><%= ExamTemplate.model_name.human %></span>
  </header>

  <ul id='exam_template_pane_list'>
    <% @exam_templates.each do |exam_template| %>
      <%= render partial: 'exam_template',
                 locals: { exam_template: exam_template } %>
    <% end %>
  </ul>
</div>
<div class="listings separate-listing">
  <li>
    <%= link_to t('exam_templates.split.title'),
                view_logs_course_assignment_exam_templates_path(@current_course, @assignment),
                remote: true %>
  </li>
</div>
