<%= form_for [@current_course, exam_template],
             url: generate_course_exam_template_path(@current_course, exam_template),
             remote: true do |f| %>
  <div class="inline-labels">
    <%= f.label t('exam_templates.generate.copies_label') %>
    <input type="number" name="numCopies" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="15">

    <%= f.label t('exam_templates.generate.index_label') %>
    <input type="number" name="examTemplateIndex" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="15">
  </div>
  <p><%= submit_tag t('exam_templates.generate.generate') %></p>
<% end %>
