<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'>
      <div class='tab-pane flex-pane' id='code_pane'>
        <h4><%= link_to "Download Exam Template", {:controller => "exam_templates", :action => "download"} %></h4><br>
        <h4>Number of pages: <%= num_pages %></h4>
        <h4>Name of file: <%= filename %></h4>

        <div id='code_holder' class='flex-col'>
          <div id='sel_box'></div>
        </div>
      </div>
    </div>
  </div>
</div>
