<div class='title_bar'>
  <h1>
    <%= t('exam_templates.exam_templates') %>
  </h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'student_panes',
             formats: [:html],
             handlers: [:erb],
             locals: { exam_template: @exam_templates.find_by(assignment: @assignment) }%>
</div>
