<div class='title_bar'>
  <h1>
    <%= t('exam_templates.exam_templates') %>
  </h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'student_panes',
             formats: [:html],
             handlers: [:erb],
             locals: { files: @files,
                       num_pages: @num_pages,
                       filename: @filename,
                       template_divisions: @template_divisions }%>
</div>
