<% content_for :title, "#{SplitPdfLog.model_name.human.pluralize} - #{@assignment.short_identifier}" %>

<% content_for :head %>
<%= javascript_tag nonce: true do %>
  document.addEventListener('DOMContentLoaded', () => {
    makeExamScanLogTable(document.getElementById('exam_scan_log_table'),
                         {course_id: <%= @current_course.id %>, assignment_id: <%= @assignment.id %>});
  });
<% end %>

<% @heading_buttons = [
  { link_text: t('exam_templates.back_to_exam_templates_page'),
    link_path: course_assignment_exam_templates_path(@current_course, @assignment) }]
%>

<div id="exam_scan_log_table"></div>
