
<h1><%=h "Groups for Assignment " + @assignment.name %></h1>

<p>

format: <code><%= "[group members...],[last submission time],[grace days used]" %></code><br />
Epoch time <b><%= Submission.get_version(Time.at(0)) %></b> is used if a group has not submitted anything yet.
<p>

<% for s in @groups -%>
  <%= s.join(",") %><br />
<% end -%>