
<h3>Select an assignment to modify:</h3>

<ul>
<% for assignment in @assignments %>
  <li>
    <%= link_to assignment.name, 
        :controller => 'assignments',
        :action => 'edit', 
        :id => assignment  %>
  </li>
<% end %>
</ul>

<h3>Or <%= link_to 'Create a new assignment', 
  :controller => 'assignments', :action => 'new', :id => nil %></h3>


