
<h3><span style="color:blue">Select an assignment</span></h3>

<ul>
<% for assignment in @assignments %>
  <li>
    <%= link_to assignment.name, 
        :controller => 'assignments',
        :action => 'edit', 
        :name => assignment.name  %>
  </li>
<% end %>
</ul>

<h3>Or <%= link_to 'Create a new assignment', :controller => 'assignments', :action=>'create' %></h3>


