
<h1>Welcome, <%=h @user.first_name %></h1>

<h3>What would you like to do?</h3>

<% if @user.admin? -%>
<div id="admin_task">
<ul>
  <li><%= link_to 'Manage student list', :controller => 'students' %></li>
  <li><%= link_to 'Manage assignments', :controller => 'assignments' %></li>
</ul>
</div>
<% end -%>

<% if @user.student? -%>
<div id="student_task">
<ul>
  <li><%= link_to 'Submit an assignment', :controller => 'submissions', :action => 'assignments' %></li>
</ul>
</div>
<% end -%>