
<h1>Welcome, <%=h @user.first_name %></h1>

<h3>What would you like to do?</h3>

<% if @user.admin? -%>
<div id="admin_task">
<ul>
  <li><%= link_to 'Manage student list', :action => 'students' %></li>
</ul>
</div>
<% end -%>

<div id="student_task">
<ul>
  <li><%= link_to 'Submit an assignment', :action => 'submit' %></li>
</ul>
</div>