<div class='pane-wrapper small-bottom-margin'>
  <div class='pane'>
    <% if assignment.assignment_files.exists? %>
      <p>
        <%= Assignment.human_attribute_name(:assignment_files) %>
      </p>
      <ul>
        <% assignment.assignment_files.each do |assignment_file| %>
          <li><%= assignment_file.filename %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <% if assignment.only_required_files%>
        <%= t('submissions.student.only_required_files') %>
      <% end %>
    </p>
    <p>
      <%= t('submissions.student.maximum_file_size', file_size: Settings.max_file_size / 1000000) %>
    </p>
  </div>
</div>
