<p>
  <a id="zip_download_link"
     href="<%= download_zipped_file_assignment_submissions_url(assignment_id: assignment_id) %>">
    <%= I18n.t('poll_job.download_submissions_complete') %>
  </a>
</p>
