
<tr id="<%= 'filename_' + params[:filename] %>">
  <td class="icon"><%= image_tag 'icon_file.png' %></td>
  <td class="unsubmitted"><%= params[:filename] %></td>
  <td class="unsubmitted">Not yet submitted (required)</td>
  <td></td>
  <td></td>
</tr>
