.tabbedContainer {
  -moz-border-radius: 5px;
  background: #ECECEC;
  border: 1px solid #ddd;
  margin: 0;
  padding: 10px;
}

.tabbedArea {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background: #fff;
  padding: 10px;
}

ul.subsection_tabs {
	border-bottom: 1px solid #fff;
  list-style: none;
  height: 27px;
	padding: 0;
  margin: 0;
}

ul.subsection_tabs li.tab {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: #B7D3EC;
	float: left;
	margin: 0 1px 0 0;
	text-align: center;
}

ul.subsection_tabs li.tab a {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
	display: block;
	padding: 2px 10px;
	color: #666;
}

ul.subsection_tabs li.tab a:hover {
	color:#fff;
}

ul.subsection_tabs li.tab a.active {
	background: #fff;
}

ul.subsection_tabs li.source_code {
	float:right;
}
