
<h1><%=h @title %></h1>

<ul>
<% for assignment in @assignments %>
  <li>
    <%= link_to assignment.name, 
        :controller => controller, 
        :action => action, 
        :id => assignment  %>
  </li>
<% end %>
</ul>