
<%=h flash[:notice] %>
<div class="header">
<%= link_to "Main Page", :controller => 'checkmark', :action => 'index' %>
<%= link_to "Log out", :controller => 'checkmark', :action => 'logout' %>
</div>