rails:
  time_zone: Eastern Time (US & Canada)
  active_job:
    queue_adapter: resque
  assets:
    prefix: /assets
  active_record:
    verbose_query_logs: false
  force_ssl: false
  cache_store: redis_cache_store
  session_store:
    type: cookie_store
    args:
      key: _markus_session_<%= ENV.fetch('RAILS_RELATIVE_URL_ROOT') { '' }.gsub('/', '') %>
      path: <%= ENV.fetch('RAILS_RELATIVE_URL_ROOT') { '/' } %>
      expire_after: 1 # days
      secure: false
      same_site: lax
  action_mailer:
    delivery_method: test
    default_url_options:
      host: 'localhost:3000'
    asset_host: 'http://localhost:3000'
    perform_deliveries: false
    deliver_later_queue_name: ~
  action_controller:
    default_url_options:
      host: 'localhost'
      port: '3000'
  action_cable:
    web_socket_allowed_request_origins: <%= %w[] %>

puma:
  workers: 3
  min_threads: 0
  max_threads: 5
  worker_timeout: 60

jupyter_server:
  hosts: []

queues:
  default: DEFAULT_QUEUE

redis:
  url: 'redis://localhost:6379/1'

validate_ip: false
validate_custom_status_message: {}

logout_redirect: DEFAULT

repository:
  type: git
  url: 'http://www.example.com/markus/git'
  ssh_url: 'git@example.com/csc108'
  is_repository_admin: true

session_timeout: 1800

enable_key_storage: true

student_csv_order:
  - user_name
  - last_name
  - first_name
  - section_name
  - id_number
  - email

end_user_csv_order:
  - user_name
  - last_name
  - first_name
  - id_number
  - email

logging:
  enabled: true
  rotate_by_interval: false
  rotate_interval: daily
  size_threshold: 1024000000
  old_files: 10
  tag_with_usernames: true

# resque-scheduler configuration: https://github.com/resque/resque-scheduler#static-schedules
# See also: https://github.com/resque/resque-scheduler/issues/613#issuecomment-351484064
# Warning: this setting only works if you are using resque to manage background jobs.
resque_scheduler:
  CleanTmpJob:
    class: ActiveJob::QueueAdapters::ResqueAdapter::JobWrapper
    queue: DEFAULT_QUEUE
    every: 2d
    # never: "* * * * * *"  # replace every: with never: if you want to run the job manually
    args:
      job_class:  CleanTmpJob
      arguments:
        - 5184000  # 60 days, in seconds
autotest:
  student_test_buffer_minutes: 60

scanned_exams:
  enable: true

exception_notification:
  enabled: false
  sender: markus-exception-notification@example.com
  sender_display_name: MarkUs Exception Notifier
  email_prefix: '[MarkUs Exception Notification] '
  recipients:
    - markus-admin@example.com

rails_performance:
  enabled: true
  duration: 180

file_storage:
  default_root_path: <%= ::Rails.root %>/data/<%= ::Rails.env %>/

rmd_convert_enabled: false

resque:
  permitted_hosts: [".localhost", ".internal"]
upload:
  max_body_size: 10485760
