<h2><%= I18n.t('groups.rename_group.title') %></h2>
<% form_tag( 
     rename_group_assignment_group_path(@assignment.id, @grouping_id),
     :remote => true ) do -%>
  <fieldset>
  <%= label_tag "new_groupname", I18n.t('groups.rename_group.group_name') %>
  <input type="text" maxlength="30" id="new_groupname" name="new_groupname">
  </fieldset>
  <p class="p_margin">
    <%= submit_tag I18n.t('groups.rename_group.title') %>
    <%= button_to_function I18n.t('cancel'), 'modal_rename.close()' %>
  </p>
<% end %>
