<table class="extra_percentage_pane_list">
  <thead>
    <tr>
      <th><%= ExtraMark.human_attribute_name(:description) %></th>
      <th><%= ExtraMark.human_attribute_name(:extra_mark) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="extra_percentage_list" >
     <% extra_marks_percentage.each do |extra_percentage| -%>
       <%= render partial: "results/marker/extra_percentage", locals: {extra_percentage: extra_percentage, result_id:result_id} %>
     <% end -%>
   </tbody>
</table>

