<%#
# Erb template for inserting a new extra mark into an assignment grade
%>

<tr id="<%= "extra_mark_#{extra_mark.id}" %>">
  <td>
    <%=extra_mark.description%>
  </td>
  <td>
    <%=extra_mark.extra_mark %>
  </td>
  <td>
    <%= link_to_remote I18n.t("remove"), :url => {:action => "remove_extra_mark", :id => extra_mark.id}, :confirm => I18n.t("marker.marks.confirm_remove_mark") %>
  </td>
</tr>
