<%#
# Erb template for inserting a new extra mark into an assignment grade
%>

<tr id="<%= "extra_mark_#{extra_mark.id}" %>">
  <td>
    <%=extra_mark.description%>
  </td>
  <td>
    <%=extra_mark.extra_mark %>
  </td>
  <td>
    <%= button_to I18n.t("remove"),
         remove_extra_mark_assignment_submission_result_path(id: extra_mark.id),
         class: "table-button", data: { confirm: I18n.t("marker.marks.confirm_remove_mark") },
         remote: true %>
  </td>
</tr>
