<table class="extra_marks_pane_list">
  <thead>
    <th><%= I18n.t("marker.marks.comment") %></th>
    <th><%= I18n.t("marker.marks.mark") %></th>
    <th></th>
  </thead>
  <tbody id="extra_marks_list" >
     <% extra_marks_points.each do |extra_mark| -%>
       <%= render partial: "results/marker/extra_mark", locals: {extra_mark: extra_mark, result_id:result_id} %>
     <% end -%>
   </tbody>
   <tbody>
     <tr>
       <td colspan="3">
         <%= link_to I18n.t("marker.marks.add_extra_mark"),
               'javascript:void(0);',
               onclick: "if (document.getElementById('add_extra_mark_prompt') != null) {
                 document.getElementById('add_extra_mark_prompt').down('input').focus();
               } else {
                 jQuery.ajax({
                   url: '" + (@current_user.student? ?
                                add_extra_mark_assignment_result_path :
                                add_extra_mark_assignment_submission_result_path) + "',
                   type: 'GET'
                 });
               }"%>
        </td>
     </tr>
   </tbody>
</table>

