<table class="extra_marks_pane_list">
  <thead>
    <tr>
      <th><%= ExtraMark.human_attribute_name(:description) %></th>
      <th><%= ExtraMark.human_attribute_name(:extra_mark) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="extra_marks_list" >
     <% extra_marks_points.each do |extra_mark| -%>
       <%= render partial: "results/marker/extra_mark", locals: {extra_mark: extra_mark, result_id:result_id} %>
     <% end -%>
   </tbody>
   <tbody>
     <tr>
       <td colspan="3">
         <%= link_to t('helpers.submit.create', model: ExtraMark.model_name.human),
               'javascript:void(0);',
               onclick: "if (document.getElementById('add_extra_mark_prompt') != null) {
                 document.getElementById('add_extra_mark_prompt').down('input').focus();
               } else {
                 $.ajax({
                   url: '" + (@current_user.student? ?
                                add_extra_mark_assignment_result_path :
                                add_extra_mark_assignment_submission_result_path) + "',
                   type: 'GET'
                 });
               }"%>
        </td>
     </tr>
   </tbody>
</table>

