<table class="extra_marks_pane_list">
  <thead>
    <th>Comment</th>
    <th>Mark</th>
    <th></th>
  </thead>
  <tbody id="extra_marks_list" >
     <% extra_marks_points.each do |extra_mark| -%>
       <%= render :partial => "results/marker/extra_mark", :locals => {:extra_mark => extra_mark, :result_id=>result_id} %>
     <% end -%>
   </tbody>
   <tbody>
     <tr>
       <td colspan="3"><%= link_to_function "Add Extra Mark", %| if($('add_extra_mark_prompt') != null) {
          $('add_extra_mark_prompt').down('input').select();
          $('add_extra_mark_prompt').down('input').focus();
        } else {
        #{remote_function :url => {:action => "add_extra_mark", :id => result_id}, :method => 'get'}
        }|%>
        </td>
     </tr>
   </tbody>
</table>

