<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'></div>
    <div id='drag'></div>
    <div id='right-pane'></div>

    <!-- Annotation pane-->
    <div id='annotation_holder'></div>

    <!-- Modal element -->
    <aside class='dialog' id='annotation_dialog'></aside>
  </div>
</div>
