<div id="overall_comment">
  <div id="overall_comment_edit">
    <%= form_for result,
                 remote: true,
                 url: { action: 'update_overall_comment',
                        id: result.id },
                 html: { method: :post } do |f| %>
      <%= f.text_area :overall_comment,
                      cols: 50,
                      rows: 5,
                      id: 'overall_comment_text_area' %>
      <%= f.submit t(:save_changes),
                   disable_with: t('working'),
                   id: 'overall_comment_submit' %>
    <% end %>
  </div>
</div>
