<div id="overall_remark_comment_edit">
    <%= form_for result,
          :url => { :controller => 'results',
            :action => 'update_overall_remark_comment',
            :id => result.id,
            :submission_id => result.submission_id },
          :html => { :method => :post },
          :remote => true do |f| %>
    <%= f.text_area :overall_comment,
		    :cols => 50,
		    :rows => 5,
		    :id => 'overall_remark_comment_text_area',
		    :onkeypress => "$('overall_remark_comment_submit').enable();" %>
    <div>
      <%= f.submit t(:save_changes),
      	   :disable_with => I18n.t('working'),
		   :disabled => true,
		   :id => "overall_remark_comment_submit" %>
    </div>
  <% end -%>
</div>
