<div id="overall_remark_comment_edit">
    <%= form_for result,
          url: { controller: 'results',
            action: 'update_overall_comment',
            id: result.id,
            submission_id: result.submission_id },
          html: { method: :post },
          remote: true do |f| %>
    <%= f.text_area :overall_comment,
		    cols: 50,
		    rows: 5,
		    id: 'overall_remark_comment_text_area',
		    onkeypress: "jQuery('#overall_remark_comment_submit').prop('disabled',false);" %>
    <div>
      <%= f.submit t(:save_changes),
                   disabled: "disabled",
                   id: 'overall_remark_comment_submit' %>
    </div>
  <% end -%>
</div>