<div id="remark_request">
  <div id="remark_request_text">
    <%= h(submission.remark_request) %>
  </div>
  <div id="overall_comments">
    <h3><%= I18n.t("marker.overall_comments") %></h3>
    <% if !submission.remark_result.released_to_students %>
      <div id="overall_comments_edit">
        <%= render :partial => 'results/marker/overall_comment', :locals => {:result => submission.remark_result} %>
      </div>
    <% else %>
      <div id="overall_comments_show">
        <%= h(submission.remark_result.overall_comment) %>
      </div>
    <% end %>
  </div>
</div>