<% unless assessments.nil? %>
  <div class='assignment_summary'>
    <h2>
      <%= link_to t('course_summary.title'), course_summaries_path %>
    </h2>

    <div id='weighted_course_summary_graph'>
      <%= render partial: 'weighted_course_summary_graph', locals: { assessments: assessments,
                                                                     marking_schemes: marking_schemes } %>
    </div>
  </div>
<% end %>
