<%= content_for :head do %>
  <%= render partial: 'course_summaries_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<%= content_for :title, t('course_summaries.title') %>

<%
  @heading_buttons = [
    { link_text: t('marking_schemes.title'),
      link_path: marking_schemes_path }
  ]
  if @current_user.admin?
    @heading_buttons += [
      { link_text: t(:download_csv_grade_report),
        link_path: download_csv_grades_report_course_summaries_path }
    ]
  end
%>

<div id='course_summaries_table'></div>
