<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeCourseSummaryTable(document.getElementById('course_summaries_table'),
                             { student: <%= @current_user.student? %> });
    });
  </script>
<% end %>

<%= content_for :title, t('course_summary.title') %>

<%
  @heading_buttons = [
    { link_text: MarkingScheme.model_name.human.pluralize,
      link_path: marking_schemes_path }
  ]
  if @current_user.admin?
    @heading_buttons += [
      { link_text: t('download_the', item: t('course_summary.grade_report')),
        link_path: download_csv_grades_report_course_summaries_path }
    ]
  end
%>

<div id='course_summaries_table'></div>
