<%= content_for :head do %>
  <%= render partial: 'course_summaries_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    Summary
  </h1>
  <div class='heading_buttons'>
    <%= link_to t(:marking_schemes), "marking_schemes/" %>
  </div>
</div>

<div class='wrapLeft'>
    <div id='course_summaries_table'></div>
</div>