<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeCourseSummaryTable(document.getElementById('course_summaries_table'),
                             { student: <%= @current_user.student? %> });
    });
  </script>
<% end %>
<% if @current_user.student? %>
  <h1><%= t('activerecord.models.mark.other') %></h1>

  <canvas id='term_marks' width='500px' height='450px'></canvas>

  <script>
    // Set up graph
    $(document).ready(function () {
      let ctx = document.getElementById('term_marks').getContext('2d');

      // Set up data
<!--      let data = {-->
<!--        labels: Array.apply(null, Array(21)).map(function (_, i) {-->
<!--          return i * 5;-->
<!--        }),-->
<!--        datasets: [{-->
<!--          data: <%#= assignment.assignment_stat.grade_distribution_array %>-->
<!--        }]-->
<!--      };-->
      let data = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
          datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [0, 10, 5, 2, 20, 30, 45]
        }, {
            label: 'My Second dataset',
            backgroundColor: 'rgb(74,97,208)',
            borderColor: 'rgb(51,120,173)',
            data: [4, 14, 9, 4, 20, 34, 40]
          }]
      };
      var options = {
        tooltips: {
          callbacks: {
            title: function (tooltipItems) {
              var baseNum = parseInt(tooltipItems[0].xLabel);
              if (baseNum === 0) {
                return '0-5';
              }
              else {
                return (baseNum + 1) + '-' + (baseNum + 5);
              }
            }
          }
        }
      };

      // Draw it
      new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
      });
    });
  </script>
<% else %>
  <%= content_for :title, t('course_summary.title') %>

  <%
    @heading_buttons = [
      { link_text: MarkingScheme.model_name.human.pluralize,
        link_path: marking_schemes_path }
    ]
    if @current_user.admin?
      @heading_buttons += [
        { link_text: t('download_the', item: t('course_summary.grade_report')),
          link_path: download_csv_grades_report_course_summaries_path }
      ]
    end
  %>
<% end %>
<div id='course_summaries_table'></div>
