<% grade_entry_form.grade_entry_students.find_by_user_id(student.id).tas.each do |ta| %>
	<% ta_user = User.find(ta.id) %>
	<span id="<%= "mbr_#{ta.id}" %>">
	  <%= check_box_tag "#{student.id}_#{ta_user.user_name}", true, false,
        :class => 'inline_checkbox', :onclick =>
        "$('student_select_' + #{student.id}).checked = true;"%>
	  <%= label_tag "#{student.id}_#{ta_user.user_name}", ta_user.user_name,
        :class => 'inline_label' %>
	</span>
<% end %>
