<div id="rubric_form">
  <%= form_for criterion, url: assignment_criterion_path(id: criterion.id),
               method: :patch, remote: true do |criterion_form| %>
    <%= criterion_form.fields_for :levels, criterion_form.object.levels.order(:mark) do |level_form| %>
      <%= render partial: 'rubric_criteria/rubric_criterion_level',
                 locals: { level_form: level_form } %>
    <% end %>
  <% end %>
</div>
