<div id='rubric_levels_top'></div>
<% criterion.levels.each_with_index do |level, rubric_level_index| %>
  <%= render partial: 'rubric_criteria/rubric_criterion_level',
             locals: {criterion: criterion,
                      level: level,
                      rubric_level_index: rubric_level_index,
                      f: f} %>
<% end %>

