<div id="rubric_form">
  <%= form_for criterion, url: course_criterion_path(@current_course, criterion),
               method: :patch, remote: true do |criterion_form| %>
    <%= criterion_form.fields_for :levels, criterion_form.object.levels.order(:mark) do |level_form| %>
      <%= render partial: 'rubric_criteria/rubric_criterion_level',
                 locals: { level_form: level_form, marks_released: marks_released } %>
    <% end %>
  <% end %>
</div>
