<div id='rubric_levels_top'></div>
<% (0...RubricCriterion::RUBRIC_LEVELS).each do |rubric_level_index| %>
  <%= render partial: 'rubric_criteria/rubric_criterion_level',
             locals: {criterion: criterion,
                      rubric_level_index: rubric_level_index,
                      f: f} %>
<% end %>

