<% api_key = @current_user.api_key.nil? ? @current_user.reset_api_key : @current_user.api_key %>
<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
    makeAdminCourseList(document.getElementById('admin_courses_list'), { apiKey: "<%= api_key %>"});
    });
  <% end %>
<% end %>
<div class='float-right'>
  <%= link_to "Create Course",
              '#',
              { class: 'button' } %>
</div>

<h2><%= 'Courses' %></h2>
<div id='admin_courses_list'></div>
