<div class='listings sortable'>
  <header>
    <span><%= t('management') %></span>
  </header>

  <ul>
    <li>
      <%= link_to Course.model_name.human.pluralize,
                  admin_courses_path,
                  remote: true %>
    </li>
  </ul>
</div>
