<div class='listings sortable'>
  <header>
    <span><%= t('markus_management') %></span>
  </header>

  <ul id='markus_settings_pane_list'>
    <li>
      <%= link_to 'Courses',
                  admin_courses_path,
                  remote: true %>
    </li>
  </ul>
</div>
