<% content_for :title, t('site_manager') %>

<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
    makeAdminCourseList(document.getElementById('admin_courses_list'));
    });
  <% end %>
<% end %>
<!-- TODO: Update this page and replace this text -->
<h2>
  Admin views are currently under construction.
  As you are an admin, visiting other MarkUs web pages at the moment routes may result in errors.
  Please continue to use the MarkUs API while we get the Admin view up and running.
</h2>

<div id='admin_courses_list'></div>
