<% content_for :title, t('site_manager') %>

<div class='pane-wrapper'>
  <div id='markus_management_pane' class="markus-management-pane-wrapper">
    <%= render partial: 'markus_info_pane' %>
  </div>

  <div class='pane'>
    <div id='editing_pane_menu'>
      <%= render partial: 'courses_list' %>
    </div>
  </div>
</div>
