<% content_for :title, t('markus_administration') %>

<div class='pane-wrapper'>
  <div class="markus-administration-pane-wrapper">
    <%= render partial: 'markus_info_pane' %>
  </div>

  <div class='pane'>
    <div id='management_pane_menu'>
      <%= render partial: 'courses_list' %>
    </div>
  </div>
</div>
