<% content_for :title, t('courses.view_courses') %>

<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeCourseList(document.getElementById('course_list'));
    });
  <% end %>
<% end %>

<div id="course_list"></div>
