.dp-highlighter .annotation_highlighted_text {
  background-color: #FFFF99; 
  color: #000000;
}
.dp-highlighter .annotation_highlighted_text_overlap {
  background-color: #DDDD55;
  color: blue;
}
.annotation_label_display {
  border: 1px solid #000000;
  background: #FFFF00;
  padding: 15px;
  position: absolute;
  width: 400px;
}
#annotation_menu {
  background: #AADD55;
  color: #000000;
}
#annotation_categories {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#new_annotation_button {
  float: left;
  padding: 0 0 0 0;
  margin: 0;
}

li.annotation_category {
/*  margin: 0 0 0 5px;*/
  padding: 0 10px 0 10px;
  float:left;
  
}
.annotation_category:hover {
  background: yellow;
  cursor: pointer;
}
.annotation_label_list {
  position: absolute;
  background: #DDDDDD;
  width: 300px;
  height: 350px;
  overflow: auto;
  border: 1px solid #000000;
  margin: 0;
  padding: 0;
}
.annotation_label_list li {
  background: #FFFFFF;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 5px;
}
.annotation_label_list li:hover {
  background: yellow;
  cursor: pointer;
}

#code_pane {
  float: left;
  width: 600px;
}

#pane_divider {
  float:left; 
  width: 7px; 
  height: 773px;
  background-color:red;
  cursor: col-resize;
}

#create_annotation_wrapper {
/*  position:relative;
  margin-left:auto;
  text-align:left;*/
}

#create_annotation_dialog {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 10px;
}
#create_annotation_dialog textarea {
  width: 300px;
  height: 50px;
}


#control_overlay {
  background-color:#000;
}

#rubric_criteria_pane_list {
  width: 450px;
  height: 500px;
  overflow: auto;
}

.modal {
  background-color:#fff;
  padding:10px;
  border:1px solid #333;
}

.window {
  background-image:url("/stylesheets/window_background.png");
  background-position:top left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:10px;
  font-family:"Lucida Grande",Verdana;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  min-width:150px;
  min-height:100px;
}
	
.window .window_contents {
  margin-top:10px;
  width:100%;
  height:100%;	
}

.window .window_header {
  text-align:center;
}

.window .window_title {
  margin-top:-7px;
  margin-bottom:7px;
  font-size:11px;
  cursor:move;
}

.window .window_close {
  display:block;
  position:absolute;
  top:4px;
  left:5px;
  height:13px;
  width:13px;
  background-image:url("/stylesheets/window_close.gif");
  cursor:pointer;
  cursor:hand;
}

/* Annotation summary list styles */

#annotations_summary {
  float: left;
  height: 500px;
  overflow: auto;
}

#annotations_summary_list {
  border: 1px solid #000000;
  margin: 5px;
  background: #EEEEEE;
}
#annotations_summary_list .annotation_summary_list_element {
  background: #BBBBBB;
  padding: 5px;
  border: 1px solid #000000;
}
#annotations_summary_list a {
  color: blue;
}

/* CSS for grading view */
/* Rubric Criteria - TO CHANGE! defaults to original rubric css for now! */

.rubric_criteria_pane {
  float: left;
  font-size: 10px;
  width: 450px;
}

.rubric_criteria_pane_list {
  border: 1px solid #DADADA;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.rubric_tools {
    text-align:center;
}

/* ================ CRITERIONS ============== */

  .criterion_holderA, .link {
    background: #EDEDED;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
  }

  .criterion_holderB, .link {
    background: #FFFFFF;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
  }

  .link {
    background: #FFD4BF;
    display: block;
  }

  .criterion_title_div {
    cursor: pointer;
    text-transform: capitalize;
  }

    .criterion_title_div_level {
        font-size: 12px;
    }
  .criterion_holder_selected, .rubric_level {
    background: #CCCCFF;
  }

.criterion_level_container {
    margin-left:20px;
    margin-top: 10px;
}

.criterion_level_container table {
    border-collapse:collapse;
    border:1px solid #DADADA;
}

.criterion_level_container td {
    border-top:1px solid #DADADA;
    border-bottom:1px solid #DADADA;
}

  .editing {
        background: #f9ffb1;
        border: 1px dashed #d6de78;
  }


#selected_criterion_name {
        text-transform: capitalize;
        font-weight: bold;
}

.clear {
        clear: both;
}
.error {
    width: 350px;
}

/* Extra Mark holder */

.extra_mark_holder, .link {
    background: #FBFBFB;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
  }

  .link {
    background: #FFD4BF;
    display: block;
  }

  .extra_mark_title_div {
    cursor: pointer;
    text-transform: capitalize;
  }

  .extra_mark_holder_selected {
    background: #CCCCFF;
  }

  .extra_mark_delete {
        float: right;
  }

  .extra_marks_pane {
  border: 1px solid #DADADA;
  float: left;
  margin-left:10px;
  width:400px;
  }

  .extra_marks_pane_list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

/* criterion summary holder */

   .marks_summary_pane {
  border: 1px solid #DADADA;
  float: left;
  font-size:11px;
  width:500px;
  }

  .mark_summary_holderA, .link {
    background: #EDEDED;
   }

  .mark_summary_holderB, .link {
    background: #FFFFFF;
   }

  .mark_summary_holder_selected {
    background: #CCCCFF;
  }

  .marks_summary_pane_list {
    margin: 0;
    padding: 0;
    width: 100%;
  }

.mark_subtotal {
  font-size:10px;
  font-weight:bold;
  padding: 10px;
}

.mark_total {
  font-size:12px;
  font-weight:bold;
  padding: 10px;
}


