/* { 
  margin: 0; 
  padding: 0; 
} */

.success {
    width: 400px;
    background: #e2f9e3 url('/images/icon_success.png') 13px 50% no-repeat;
    border: 2px solid #9c9;
    font-size: 12px;
    color: #080;
    padding: 5px 5px 4px 40px;
}

.error {
    width: 450px;
    background: #ffe1da url('/images/icon_error.png') 13px 50% no-repeat;
    font-size: 12px;
    border: 2px solid #f34f4f;
    color: #be0b0b;
    padding: 5px 5px 4px 40px;
}

.success-no-img {
    width: 400px;
    border: 2px solid #9c9;
    font-size: 12px;
    color: #080;
    padding: 5px 5px 4px 19px;
}

.fail-no-img {
    width: 400px;
    border: 2px solid #f34f4f;
    font-size: 12px;
    color: #be0b0b;
    padding: 5px 5px 4px 19px;
}

body {
    background-color: #fff; 
    color: #333;
    margin: 0;
}

#content {
    padding: 10px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
a { text-decoration: none; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1 { color: #528BC0 }

ul {
  list-style-position: outside;
  color: #FF6619;
}

#time {
    font-weight: bold;
    font-size: 10px;
}

.group {
    font-weight: bold;
    border: 1px solid #CCC;
    background-color: #FCF1C3;
    padding: 10px;
    width: 200px;
}

.inviter  { color: #2CAAE1; }
.pending  { color: #E91756; }
.accepted { color: #3AB192; }