.rowA { background: #FFF; } /* Alternating row colors */
.rowB { background: #F1F1F1; } /* Alternating row colors */

.groupHighlight { /* For a group that has been selected*/
  /* ! important to override id style which has higher precedence */
  background: #9FC5E7 ! important; 
}

.groupAssigned {  /* For groups that have been assigned at least one TA */
  font-weight: normal !important;
}
.activeTA { background: #9FC5E7; } /* For a TA that has been selected */

#groups_container {
  height: 300px;
  margin: 0 0 20px 0;
  overflow: auto;
}

#groups_container ul, ul#ta_list {
  border: 1px solid #E6E6E6;
  font-weight: bold;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

  #groups_container ul li {
    padding: 2px 5px;
  }

ul#ta_list {
  background: none;
  border: 0;
  margin: 0 0 20px 0;
  padding: 0;
}

  #ta_list li {
     border: 1px solid #E6E6E6;
     font-weight: normal;
     margin: 0 0 10px 0;
     padding: 2px 5px;
  }
