<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeMarkingSchemeTable(document.getElementById('marking_schemes_table'));
    });
  </script>
<% end %>

<% content_for :title, MarkingScheme.model_name.human.pluralize %>

<% @heading_buttons = [
    { link_text: t('helpers.submit.create', model: MarkingScheme.model_name.human),
      link_path: new_marking_scheme_path,
      html_options: { remote: true } },
    { link_text: t('course_summary.title'),
      link_path: course_summaries_path }
] %>

<div id='marking_schemes_table'></div>

<div class='edit-ms'></div>
<div class='new-ms'></div>
