<%= content_for :head do %>
  <%= render partial: 'marking_schemes_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    Marking Schemes
  </h1>
  <div class='heading_buttons'>
    <a class="new_ms_link" href="#">Add New Marking Scheme</a>
  </div>
</div>

<div class='wrapLeft'>
    <div id='marking_schemes_table'></div>
</div>