<%= content_for :head do %>
  <%= render partial: 'marking_schemes_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    Marking Schemes
  </h1>
  <div class='heading_buttons'>
    <%= link_to t(:add_new_marking_scheme), "new" %>
  </div>
</div>

<div class='wrapLeft'>
    <div id='marking_schemes_table'></div>
</div>