// Remove HTML from edit div and hide it
$('.edit-ms').html('');
$('.edit-ms').hide();

// Remove HTML from add div incase another marking
// scheme is being edited
$('.new-ms').html('');

$('.new-ms').append(`<h2>${I18n.t('marking_schemes.add_new')}</h2>`);
$('.new-ms').append("<%= j (render 'form') %>");

// Show add div if hidden
$('.new-ms').show();

// Scroll to div
$('html, body').animate({
  scrollTop: $('.new-ms').offset().top
}, 1000);

