<%# Required: :page_items, :total_items %>

<div style='display:none;' id='ap_select_all_div'>
  <%= t('selects.all_on_page', page_items: page_items) + ' ' %>
  <%= link_to_function t('selects.select_full', total_items: total_items), 'ap_select_full();' %>
</div>

<div style='display:none;' id='ap_select_full_div'>
  <%= t('selects.all', total_items: total_items) + ' ' %>
  <%= link_to_function t('selects.select_clear'), 'ap_select_none();' %>
  <input type='hidden' name='ap_select_full' id='ap_select_full' value='false'>
</div>
