<ul>
  <% errors.messages.each do |a, messages| %>
    <% if errors.size == 1 and messages.size == 1 %>
      <p><%= messages.first %></p>
    <% else %>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

