<li id='criterion_<%= criterion.id %>'>
  <span>
    <%= link_to truncate(criterion.flexible_criterion_name,
                                  length: 30,
                                  omission: '...'),
            edit_assignment_flexible_criterium_path(@assignment.id, criterion.id),
        id: "criterion_title_#{criterion.id}",
        remote: true %>
  </span>
  <span class='right' id='criterion_max_<%= criterion.id %>'>
    <%= criterion.max %>
  </span>
</li>
