<div class='sortable'>
  <header>
    <span><%= t('criteria') %></span>
    <span class='right'>
      <%= t('total_mark') %>
      (<span id='criteria_total_mark'><%= @assignment.total_mark %></span>)
    </span>
  </header>

  <ul id='flexible_criteria_pane_list'>
    <% @criteria.each do |criterion| %>
      <%= render partial: 'flexible_criteria/flexible_criterion',
                 locals: { criterion: criterion } %>
    <% end %>
  </ul>
</div>
