<li id="new_flexible_criterion">
	<%= form_for @criterion,
		    :url => assignment_flexible_criteria_path(@assignment), :html => {:remote => true} do |f| %>
    <div id="new_flexible_criterion_errors" style="display:none;" class="error"></div>
    <%= label_tag 'new_flexible_criterion_prompt',
		  t("flexible_criteria.name") %><br />
    <%= f.text_field :flexible_criterion_name,
		     :size => 15,
		     :id => 'new_flexible_criterion_prompt' %><br />
    <%= f.submit t("flexible_criteria.save"), :disable_with => I18n.t('working')%>
  <% end %>
</li>
