// Alert message bars

.alert {
  background-position: 5px center;
  background-repeat: no-repeat;
  border-radius: $radius;
  display: block;
  margin-bottom: 1em;
  padding: 0.25em 0.5em 0.25em 2em;
  width: 100%;
}

.error {
  @extend .alert;
  background-color: $light-red;
  background-image: url('icons/exclamation.png');
  border: 1px solid $red;
}

.warning {
  @extend .alert;
  background-color: $light-yellow;
  background-image: url('icons/error.png');
  border: 1px solid $yellow;
}

.success {
  @extend .alert;
  background-color: $light-green;
  background-image: url('icons/accept.png');
  border: 1px solid $green;
}

.information {
  @extend .alert;
  background-color: $light-grey;
  background-image: url('icons/information.png');
  border: 1px solid $grey;
}

.notice {
  @extend .alert;
  background-color: $light-grey;
  border: 1px solid $grey;
  padding: 0.25em 0.5em;
}
