/* Help messages */

.help-icon {
  background: url(icons/help_icon.png) no-repeat;
  cursor: help;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  height: 28px;
  width: 28px;

  a {
    font-size: 1em;
  }
}

.help {
  @extend .help-icon;
  float: right;
}

.title-help {
  @extend .help-icon;
  margin-left: 10px;
}

.help-message {
  background: $light-yellow;
  border: 1px solid $yellow;
  border-radius: $radius;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -15px;
  width: 350px;
  z-index: 10000;
}

.help-message-title {
  @extend .help-message;
  float: left;
  left: 35px;
}

.help-message-box {
  @extend .help-message;
  float: right;
  right: 35px;
}
