// Loading indicator

#working {
  background: $blue;
  border: 1px solid $dark-blue;
  border-radius: $radius;
  box-shadow: 0 0 5px 0 $light-blue;
  color: $white;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      animation: ellipsis $time-quick infinite;
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
