.tag_element {
  background-color: $light-blue;
  border-radius: 15px;
  border: 1px solid $blue;
  color: $dark-blue;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition: all 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: $dark-blue;
    color: $white;
  }
}
