<ul class='tags' id='annotation_categories'>
  <%# First, output the list of annotation categories %>
  <% annotation_categories.each do |annotation_category| %>
    <li class='annotation_category'
        id='annotation_category_<%= annotation_category.id %>'
        onclick='return false;'
        onmousedown='return false;'>
      <%= truncate(annotation_category.annotation_category_name, length: 40) %>

      <div id='annotation_text_list_<%= annotation_category.id %>'
           onclick='return false;'
           onmousedown='return false;'>
          <%= render partial: 'annotations/annotation_list',
                     locals: { annotation_category: annotation_category,
                               result_id: result_id } %>
      </div>
    </li>
  <% end %>
</ul>
