           $fonts: 'Open Sans', 'Lucida Grande', Verdana, Arial, sans-serif;
      $mono-fonts: 'Consolas', 'Courier New', Courier, mono, serif;
          $radius: 5px;
      $time-quick: 0.25s;
     $time-medium: 0.35s;
           $black: #000;
    $lighter-blue: #e8f4f2;
      $light-blue: #cee3ea;
            $blue: #89b1dd;
       $dark-blue: #3a6ab3;
           $white: #fff;
      $light-grey: #eee;
            $grey: #8d8d8d;
       $dark-grey: #464646;
       $light-red: #ffb4b4;
             $red: #fe2a2a;
    $light-yellow: #fafdaa;
          $yellow: #dde426;
     $light-green: #81d881;
           $green: #23c023;
   $disabled-grey: #cecece;
   $disabled-dark: #afafaf;
  $dimen-vertical: 2em;
$dimen-horizontal: 3.5em;
$dimen-hor-mobile: 1.5em;
