:root {
  --annotation_holder: #ffd452;
  --background_main: #fff;
  --background_support: #7b8e90;
  --comments_color: var(--heavy_success);
  --darker-orange: #ee6415;
  --disabled: #a0a0a0;
  --error_light: #ffc2c2;
  --gridline: #46464640;
  --heavy_alert: #ffd452;
  --heavy_error: #a20000;
  --heavy_success: #246700;
  --key_words_color: var(--primary_one);
  --light_alert: #ffe9ac;
  --light_success: #b9e586;
  --line: #464646;
  --primary_one: #245185;
  --primary_two: #cee3ea;
  --primary_three: #89b1dd;
  --sharp_line: #000;
  --strings_color: var(--heavy_error);
}
// Code viewer
$comments: var(--comments_color);
$key-words: var(--key_words_color);
$strings: var(--strings_color);

// General contexts
$annotation-holder: var(--annotation_holder);
$link: var(--primary_one);
$pane-highlight: var(--primary_two);

// Status
$alert-light: var(--light_alert);
$alert: var(--heavy_alert);
$alert-dark: var(--heavy_alert);
$disabled: var(--disabled);
$light-red: var(--error_light);
$light-success: var(--light_success);
$success: var(--heavy_success);
$severe-error: var(--heavy_error);

$primary-one: var(--primary_one);
$primary-two: var(--primary_two);
$primary-three: var(--primary_three);

$background-main: var(--background_main);
$background-support: var(--background_support);

$gridline: var(--gridline);
$line: var(--line);
$sharp-line: var(--sharp_line);


// not sure what this does...
$darker-orange: var(--darker-orange);

           $fonts: 'Open Sans', 'Lucida Grande', Verdana, Arial, sans-serif;
      $mono-fonts: 'Consolas', 'Courier New', Courier, mono, serif;
          $radius: 5px;
      $time-quick: 0.25s;
     $time-medium: 0.35s;
  $dimen-vertical: 2em;
$dimen-horizontal: 3.5em;
$dimen-hor-mobile: 1.5em;
