:root {
  --active_menu: var(--background_main);
  --annotation_holder: #ffd452;
  --background_main: #fff;
  --background_support: #e8f4f2;
  --comments_color: var(--severe_success);
  --darker-orange: #ee6415;
  --disabled_text: #b5b5b5;
  --disabled_area: #bcbcbc;
  --gridline: #46464640;
  --key_words_color: var(--primary_one);
  --light_alert: #ffe9ac;
  --light_error: #ffc2c2;
  --light_success: #b9e586;
  --line: #464646;
  --primary_one: #245185;
  --primary_two: #cee3ea;
  --primary_three: #89b1dd;
  --radius: 5px;
  --severe_alert: #ffd452;
  --severe_error: #a20000;
  --severe_success: #246700;
  --sharp_line: #000;
  --strings_color: var(--severe_error);
  --sub_menu: #32649b;
}
// Code viewer
$comments: var(--comments_color);
$key-words: var(--key_words_color);
$strings: var(--strings_color);

// General contexts
$annotation-holder: var(--annotation_holder);
$active-menu-item: var(--active_menu);
$link: var(--primary_one);
$pane-highlight: var(--primary_two);
$sub-menu: var(--sub_menu);

// Status
$alert: var(--severe_alert);
$disabled-text: var(--disabled_text);
$disabled-area: var(--disabled_area);
$light-alert: var(--light_alert);
$light-error: var(--light_error);
$light-success: var(--light_success);
$severe-alert: var(--severe_alert);
$severe-error: var(--severe_error);
$severe-success: var(--severe_success);

$primary-one: var(--primary_one);
$primary-two: var(--primary_two);
$primary-three: var(--primary_three);

$background-main: var(--background_main);
$background-support: var(--background_support);

$gridline: var(--gridline);
$line: var(--line);
$sharp-line: var(--sharp_line);

// not sure what this does...
$darker-orange: var(--darker-orange);

$fonts: 'Open Sans', 'Lucida Grande', Verdana, Arial, sans-serif;
$mono-fonts: 'Consolas', 'Courier New', Courier, mono, serif;
$radius: var(--radius);
$time-quick: 0.25s;
$time-medium: 0.35s;
$dimen-vertical: 2em;
$dimen-horizontal: 3.5em;
$dimen-hor-mobile: 1.5em;
$dimen-horizontal-nav: 0.5em;

$dropdown-horizontal: 200px;

// File downloads
$file-download-icon-fill: var(--file_download_icon_fill);
$file-download-icon-hover: var(--file_download_icon_hover);
$file-row-hover: var(--file_row_hover);
