:root {
--primary_one: #416088;
--primary_two: #cee3ea;
--primary_three: #89b1dd;
--background_main: #fff;
--background_support: #cee3ea;
--line: #464646;
--sharp-line: #000;
--error: #a20000;
--alert: #ffd452;
--success: #308800;
--light-success: #bee78e;
}
// Code viewer
$comments: var(--primary_two);
$key-words: var(--primary_three);
$strings: var(--primary_one);

// General contexts
$links: var(--primary_two);
$pane-highlight: var(--primary_two);
$confirmed: var(--light-success);
$annotation-holder: var(--alert);

// Status
$severe-error: var(--error);
$light-red: var(--error);
$alert-light: var(--alert);
$alert: var(--alert);
$alert-dark: var(--alert);
$success: var(--success);

$primary-one: var(--primary_one);
$secondary-two: var(--primary_three);
$secondary-one: var(--primary_two);

$background-main: var(--background_main);
$background-support: var(--background_support);

$line: var(--line);
$sharp-line: var(--sharp-line);


// not sure what this does...
$darker-orange: var(--darker-orange);

           $fonts: 'Open Sans', 'Lucida Grande', Verdana, Arial, sans-serif;
      $mono-fonts: 'Consolas', 'Courier New', Courier, mono, serif;
          $radius: 5px;
      $time-quick: 0.25s;
     $time-medium: 0.35s;
  $dimen-vertical: 2em;
$dimen-horizontal: 3.5em;
$dimen-hor-mobile: 1.5em;
