@import 'markus';

@import 'navigation';


#about_dialog {
  width: 50%;
  max-height: 75%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#timeout_imminent_dialog {
  width: 50%;
  max-height: 75%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#session_expired_dialog {
  width: 50%;
  max-height: 75%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#role_switch_dialog {
  input[type='text'],
  input[type='password'] {
    margin-top: 1em;
    padding: 0.5em 0.75em;
    width: 100%;
  }
}

.image_input {
  background: none;
  border: none;
}

.ui-datepicker-current {
  display: none !important;
}

input,
textarea {
  display: inline-block;
  width: auto;
}

input[type='radio'] {
  min-width: 30px;
  max-width: 30px;
}

.required_field {
  color: $red;
}

label.required::after, th.required::after {
  content: "*";
  color: $red;
}

.hidden {
  display: none;
}

.section h3 {
  border-bottom: 1px solid #ccc;
  color: $dark-grey;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0.5em 0.1em;
}


/* Main content */

#content {
  background: $white;
  padding: $dimen-vertical $dimen-horizontal;

  @include breakpoint(mobile) {
    margin-top: 3.5em;
    padding: $dimen-vertical $dimen-hor-mobile;
  }
}

#loggedIn {
  height: 100%;
}

#wrapper {
  background: $white;
  min-height: 90%;
}


/* Title Bar */

.title_bar {
  display: table;
  margin-bottom: $dimen-vertical;
  width: 100%;

  span.menu_bar {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: "|";
    }
  }

  input:hover,
  a:hover {
    background: none;
    border: none;
  }

  h1,
  .heading_buttons {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .heading_buttons {
    text-align: right;
    vertical-align: middle;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}


/* Help messages */

.help-icon {
  background: asset-url('icons/help_icon.png') no-repeat;
  cursor: help;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  height: 28px;
  width: 28px;

  a {
    font-size: 1em;
  }
}

.help {
  @extend .help-icon;
  float: right;
}

.title-help {
  @extend .help-icon;
  margin-left: 10px;
}

.help-message {
  background: $light-yellow;
  border: 1px solid $yellow;
  border-radius: $radius;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -15px;
  width: 350px;
  z-index: 10000;
}

.help-message-title {
  @extend .help-message;
  float: left;
  left: 35px;
}

.help-message-box {
  @extend .help-message;
  float: right;
  right: 35px;
}

/* Tables */

.table-filters {
  display: inline-block;
}

.table-search {
  display: inline-block;
  margin-bottom: 1em;
}

.table-filters a,
.table-filters span {
  padding-right: 10px;
  font-size: 110%;
}

/* Text Alignment */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear-alignment {
  clear: both;
}


// Customize react-table styling
.ReactTable .rt-thead,
.ReactTable .rt-tbody {
  overflow-y: scroll;
}

.rt-th > select {
  margin: 0;
}

.rt-action-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  width: 100%;

  button,
  .button {
    margin-left: 1em;
  }

  &.icon {
    button,
    .button {
      padding-left: 45px;
    }
  }
}

.number {
  text-align: right;
}

// Styling patches for react-keyed-file-browser
.fa-trash-o::before {
  content: asset_url('icons/bin_closed.png');
  vertical-align: middle;
}

.fa-folder-open-o::before {
  content: asset_url('icons/folder_page_white.png');
  vertical-align: middle;
}

.fa-folder-o::before {
  content: asset_url('icons/folder.png');
  vertical-align: middle;
}

.fa-add-file-o::before {
  content: asset_url('icons/page_white_add.png');
  vertical-align: middle;
}

.fa-download-file-o::before {
  content: asset_url('icons/disk.png');
  vertical-align: middle;
}

.fa-file-o::before {
  content: asset_url('icons/page_white_text.png');
  vertical-align: middle;
}

.fa-file-image-o::before {
  content: asset_url('icons/picture.png');
  vertical-align: middle;
}

.fa-file-pdf-o::before {
  content: asset_url('icons/page_white_acrobat.png');
  vertical-align: middle;
}

div.rendered-react-keyed-file-browser div.action-bar input[type="search"] {
  width: 100%;
}

select.collected-checked,
option.collected {
  font-style: italic;
}

option.uncollected {
  font-style: normal;
}
