@import 'markus';

@import 'navigation';


#about_dialog {
  width: 50%;
  max-height: 75%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#role_switch_dialog {
  .role_switch_block {
    margin-bottom: 1em;
  }
}

.image_input {
  background: none;
  border: none;
}

.ui-datepicker-current {
  display: none !important;
}

input,
textarea {
  display: inline-block;
  width: auto;
}

input[type='radio'] {
  min-width: 30px;
  max-width: 30px;
}

.required_field {
  color: $red;
}

.hidden {
  display: none;
}

.section h3 {
  border-bottom: 1px solid #ccc;
  color: $dark-grey;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0.5em 0.1em;
}


/* Main content */

#content {
  background: $white;
  border-bottom: 1px solid $blue;
  padding: $dimen-vertical $dimen-horizontal;

  @include breakpoint(mobile) {
    margin-top: 3.5em;
    padding: $dimen-vertical $dimen-hor-mobile;
  }
}

#dropdown {
  margin: 0.4em 0.5em 0.5em 0;
}

.dropdown {
  ul {
    li {
      @include border-radius-top(0);

      a {
        line-height: inherit;
        height: auto;
      }

      &.section {
        color: $dark-grey;
        cursor: default;
        margin-top: 0;

        &:hover {
          color: $dark-grey;
        }
      }
    }

  }
}


/* Title Bar */

.title_bar {
  display: table;
  margin-bottom: $dimen-vertical;
  width: 100%;

  span.menu_bar {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: "|";
    }
  }

  input:hover,
  a:hover {
    background: none;
    border: none;
  }

  h1,
  .heading_buttons {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .heading_buttons {
    text-align: right;
    vertical-align: middle;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}
