@import 'constants';

.criteria-filter {
  box-shadow: 0 0 2px 0.5px $line;
  display: flex;
  flex-direction: column;
  height: 410px;
  padding: 10px;

  .title {
    max-width: $dropdown-horizontal;

    .add-criterion {
      margin-top: 10px;
    }
  }

  .criteria-list {
    margin-top: 20px;
    max-height: 250px;
    max-width: fit-content;
    overflow-y: auto;
    padding: 0;

    li {
      display: block;
      list-style: none;
      margin-bottom: 10px;

      .criterion-title {
        display: inline-block;
        margin-bottom: 10px;
        width: $dropdown-horizontal - 10px;

        span {
          display: inline-block;
          max-width: 150px;
          word-wrap: break-word;
        }
      }
    }
  }
}
