@import 'constants';

@mixin dropdown-default {
  .arrow-down {
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 7.5px solid $primary-one;
    float: right;
    height: 0;
    margin-top: 4px;
    width: 0;
  }

  .arrow-up {
    border-bottom: 7.5px solid $primary-one;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    float: right;
    height: 0;
    margin-top: 4px;
    width: 0;
  }

  .dropdown {
    background: $background-main;
    border: 1px solid $primary-one;
    cursor: pointer;
    display: inline-block;
    min-width: $dropdown-horizontal;
    padding: 0.5em;
    position: relative;

    &:hover {
      border-radius: 0;

      ul {
        display: block;
      }
    }

    ul {
      background: $background-main;
      border: 1px solid $primary-one;
      border-radius: 0 0 $radius $radius;
      display: none;
      left: -1px;
      margin: 0;
      min-width: $dropdown-horizontal;
      padding: 0;
      position: absolute;
      text-align: left;
      top: 2.2em;
      width: calc(100% + 2px);
      word-wrap: anywhere;
      z-index: 100000;

      li {
        display: block;
        list-style: none;
        padding: 0.5em;
        text-align: left;

        &:last-child {
          border-radius: 0 0 $radius $radius;
        }

        &.section {
          padding: 0.25em;
        }
      }

      li:not(.section) {
        &:hover,
        &.active {
          background: $sub-menu;
          color: $background-main;

          > a {
            color: $background-main;
          }
        }
      }

      .section {
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .arrow-down,
    .arrow-up {
      margin-left: 5px;
    }
  }

  .nested-submenu {
    > .nested-folder {
      left: 100%;
      margin-left: -1px;
      margin-top: -6px;
      top: 0;
    }

    > a {
      font-weight: bold;
    }

    &::after {
      border: transparent solid 5px;
      border-left-color: $primary-one;
      border-right-width: 0;
      content: ' ';
      float: right;
      margin-left: 10px;
      margin-top: 3px;
    }
  }
}
