@import 'constants';

.annotation-input {
  input[type='text'] {
    background: $background-main;
    border: 1px solid $primary-one;
    border-radius: $radius;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    height: 30px;
    width: $dropdown-horizontal;
  }
}

.order {
  padding-top: 10px;
}

.range {
  align-items: center;
  background: $background-main;
  justify-content: left;
  max-width: $dropdown-horizontal;
  min-height: 30px;

  > span {
    margin-left: 10px;
    margin-right: 10px;
  }

  input[type='number'] {
    border: 1px solid $primary-one;
    border-radius: $radius;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    width: 80px;
  }

  input:invalid + div::after {
    color: #900;
    content: 'Invalid Range';
  }

  > div {
    display: inline-flex;
    padding-top: 5px;
    width: $dropdown-horizontal;
  }
}
