@import 'constants';

.icon-left {
  margin-right: 5px;
}

.icon-right {
  margin-left: 5px;
}

button > .svg-inline--fa,
.button > .svg-inline--fa,
a[role='button'] > .svg-inline--fa {
  padding-right: 5px;
  vertical-align: baseline;

  @include breakpoint(mobile) {
    padding-right: 0;
  }

  &.no-padding {
    padding-right: 0;
  }
}

button > .fa-layers,
.button > .fa-layers,
a[role='button'] > .fa-layers {
  margin-right: 5px;
  vertical-align: baseline;

  @include breakpoint(mobile) {
    margin-right: 0;
  }

  &.no-margin {
    margin-right: 0;
  }
}

.fa-triangle-exclamation {
  color: $severe-alert;
}

.fa-circle-check {
  color: $severe-success;
}

.fa-circle-exclamation {
  color: $severe-error;
}

.fa-circle-info {
  color: $primary-one;
}

.sortable .fa-grip-vertical {
  color: $disabled-text;
  cursor: grab;
  float: left;
  height: 20px;
  margin-right: 1em;
}

.fa-xmark {
  color: $primary-one;
}
