@import 'mixins';
/**
 * Login screen
 */

.login {
  background: $background-main;
  border-radius: $radius;
  box-shadow: 0 3px 0 0 $primary-two;
  height: auto;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 500px;

  /* Mobile friendly! */
  @include breakpoint(tiny) {
    border-radius: 0;
    box-shadow: none;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .login-form {
    margin: 20px auto 0;
    width: 80%;

    input[type='text'],
    input[type='password'],
    input[type='submit'] {
      width: 100%;
    }

    input[type='text'],
    input[type='password'] {
      margin: 0.5em 0;
      padding: 1em;
    }

    .submit {
      margin: 15px 0 25px;

      input[type='submit'] {
        margin: 0.5em 0;
        padding: 10px;
      }
    }
    .remote-login {
      margin: 15px 0 25px;
      .button {
        margin: 0.5em 0;
        padding: 10px;
        width: 100%;
      }
    }
  }

  .login-course {
    color: $sharp-line;
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .login-image {
    background: transparent asset-url('markus_logo.svg') no-repeat center center / contain;
    height: 115px;
    margin: 0 auto;
    width: 220px;
  }

  .login-error .error {
    margin: 2em auto;
    text-align: center;
    width: 90%;
  }
}
