/**
 * Login screen
 */

.login {
  @include border-radius($radius);
  @include box-shadow(0 3px 0 0 $grey);
  background: $white;
  height: auto;
  left: 50%;
  margin-left: -180px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  width: 360px;

  /* Mobile friendly! */
  @include breakpoint(tiny) {
    @include border-radius(0);
    @include box-shadow(none);
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .login-form {
    margin: 20px auto 0 auto;
    width: 80%;

    input[type=text],
    input[type=password],
    input[type=submit] {
      width: 100%;
    }

    input[type=text],
    input[type=password] {
      margin: 0.5em 0;
      padding: 1em;
    }

    .submit {
      margin: 15px 0 25px 0;

      input[type=submit] {
        margin: 0.5em 0;
        padding: 10px;
      }
    }
  }

  .login-course {
    color: #777;
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .login-image {
    margin-top: 1em;
    padding: 25px 0;
    text-align: center;

    img {
      image-rendering: crisp-edges;
      height: auto;
      width: 60%;
    }
  }

  .login-error .error {
    margin: 2em auto;
    text-align: center;
    width: 90%;
  }
}
