@charset "UTF-8";

@import 'reset';
@import 'constants';
@import 'columns';
@import 'mixins';
@import 'icons';
@import 'react_json_schema_form';
@import 'react_tabs';

/** Main */

body {
  background-color: $background-support;
  color: $sharp-line;
  font: 400 0.8em/1.2em $fonts;
  transition: background-color $time-quick;

  @include breakpoint(tiny) {
    background-color: $background-main;
  }
}

::selection {
  background-color: $primary-three;
}

// Flexbox display
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-expand {
  flex-grow: 1;
}


/** Code */
pre,
.code {
  font: 14px/20px $mono-fonts;
}

.test-results-output {
  margin: 0;

  &:not(:empty) {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 5px;
  }
}

/** Headings */

h1 {
  font: 300 2.5em $fonts;
  margin: 0;
}

h2 {
  font: 300 2em $fonts;
  margin: 0;
}

h3 {
  font: 400 1.5em $fonts;
  margin: 0;
}

h4 {
  font: 600 1em $fonts;
  margin: 0;
}


/** Paragraphs */

p + p {
  margin-bottom: 1.125em;
}


/** Links */

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: color $time-quick;

  &.inactive {
    color: $sharp-line;
    pointer-events: none;
  }
}

strong a {
  font-weight: 600;
}


/** Alert messages */

.alert {
  border-radius: $radius;
  display: block;
  margin-bottom: 1em;
  padding: 0.25em 0.5em 0.25em 2em;
  width: 100%;
}

.error {
  @extend .alert;
  background: $light-error asset-url('icons/exclamation.png') no-repeat 5px center;
  border: 1px solid $severe-error;
}

.error.hidden {
  background: none;
}

.warning {
  @extend .alert;
  background: $light-alert asset-url('icons/error.png') no-repeat 5px center;
  border: 1px solid $alert;
}

.success {
  @extend .alert;
  background: $light-success asset-url('icons/accept.png') no-repeat 5px center;
  border: 1px solid $severe-success;
}

.information {
  @extend .alert;
  background: $background-main asset-url('icons/information.png') no-repeat 5px center;
  border: 1px solid $primary-two;
}

.notice {
  @extend .alert;
  background: $background-main asset-url('icons/information.png') no-repeat 5px center;
  border: 1px solid $line;
}


.hide-flash {
  background: transparent asset-url('icons/cross.png') no-repeat 5px center;
  float: right;
  width: 2em;
}

/** Text and number field inputs */

input,
textarea {
  background: $background-main;
  border: 1px solid $primary-two;
  border-radius: $radius;
  color: $line;
  font: 400 1em $fonts;
  outline: none;
  transition: all $time-quick;
  width: 100%;

  &:hover {
    background-color: $background-main;
    border-color: $primary-one;
  }

  &:focus {
    background-color: $background-main;
    border-color: $primary-three;
    border-width: 3px;
  }

  &:invalid {
    background-color: $light-error;
  }

  &[disabled],
  &[readonly] {
    background-color: $disabled-area;
    color: $sharp-line;
  }

  &.large-text {
    padding: 1em 1.15em;
  }

  &.updated,
  &.updated:focus,
  &.updated:hover {
    background-color: $light-success;
  }

  &[type='number'] {
    width: 5em;
  }
}

input {
  padding: 0.25em 0.75em;
}

textarea {
  padding: 0.75em;
  resize: none;
}

select {
  background: $background-main;
  border: 1px solid $sharp-line;
  border-radius: $radius;
  color: $line;
  font-family: $fonts;
  margin: 5px;
  padding-left: 5px;
}


/** Buttons */

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
  background: linear-gradient(to bottom, $background-main, $background-support);
  border: 1px solid $primary-three;
  border-radius: $radius;
  box-shadow: inset 0 -1px 0 $primary-two;
  color: $line;
  cursor: pointer;
  display: inline-block;
  font: 400 1em $fonts;
  min-width: 150px;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: center;
  transition: all $time-quick;

  &:hover {
    border-color: $primary-one;
    box-shadow: inset 0 -1px 0 $primary-two, 0 1px 0 $background-main;
    color: $line;
    top: 1px;
  }

  &:focus {
    box-shadow: inset 0 -1px 0 $primary-two, 0 0 3px $primary-three;
  }

  &:active {
    background: linear-gradient(to bottom, $background-main, $background-main);
    box-shadow: none;
    color: $primary-one;
  }

  &[disabled],
  &.disabled {
    background: linear-gradient(to bottom, $background-main, $disabled-area);
    border-color: $disabled-area;
    box-shadow: none;
  }

  &.large-button {
    min-width: 200px;
    padding: 0.75em 2em;
  }

  &.inline-button {
    margin: 0 2pt;
    min-width: 70px;
    padding: 0.25em 0.5em;
  }
}


/** Fieldset */

fieldset {
  background: $background-main;
  border-radius: $radius;
  margin-top: $dimen-vertical;
  padding: 0.25em 1.5em 1.5em;
  position: relative;

  &.no-legend {
    padding-top: 1.25em;
  }

  legend {
    border: none;

    & > span {
      @extend h3;
      padding: 0 0.25em;
    }
  }

  // Fieldsets within fieldsets
  fieldset {
    border: none;
    border-radius: 0;
    border-top: 1px solid $primary-two;

    legend {
      width: 100%;

      & > span {
        display: block;
        padding-top: 0.5em;
        position: relative;
        top: 1em;
      }
    }
  }
}

.inline-labels {
  column-gap: 10px;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 10px;

  label {
    text-align: right;
  }

  select {
    margin: 0;
  }

  label,
  label + span {
    line-height: 1.8em;
  }

  > input[type=checkbox] {
    margin-top: 0.2em;
  }
}

.disable {
  color: $disabled-text;
  font-style: italic;
}

/** Tables */

.table {
  border-left: 1px solid $line;
  border-right: 1px solid $line;
  overflow-x: auto;
  width: 100%;

  table {
    border-top: 1px solid $line;
    width: 100%;

    thead,
    tfoot {
      background-color: $background-main;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;

      .sortable-col {
        background: url(sort_both.png) no-repeat center right;
      }

      .asc,
      .desc {
        cursor: pointer;
      }

      .asc {
        background: url(sort_asc.png) no-repeat center right;
      }

      .desc {
        background: url(sort_desc.png) no-repeat center right;
      }
    }

    thead {
      background-color: $background-support;
      border-bottom: 2px solid $line;
    }

    tfoot {
      border-top: 2px solid $primary-two;
    }

    tr {
      border-bottom: 1px solid $line;

      th,
      td {
        border-right: 1px solid $line;
        padding: 0.5em 1.5em 0.5em 1em;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        transition: background-color $time-quick;

        &:nth-child(odd) {
          background-color: $background-main;
        }

        &:nth-child(even) {
          background-color: $background-main;
        }

        &:hover {
          background-color: $background-support;
        }
      }
    }
  }
}

// Keyboard shortcuts
kbd {
  background-color: $background-main;
  border: 1px solid $primary-two;
  border-radius: $radius;
  box-shadow: 0 1px 0 $sharp-line, 0 0 0 2px $background-main inset;
  display: inline-block;
  font-family: $mono-fonts;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  text-shadow: 0 1px 0 $background-main;
}

.shortcuts-table {
  border-collapse: separate;
  border-spacing: 5px;
}

/** Test script results table */

.test-result-pass {
  background-color: $light-success;
}

.test-result-partial {
  background-color: $light-alert;
}

.test-result-error,
.test-result-fail {
  background-color: $light-error;
}

// Panes
.pane-wrapper {
  display: flex;

  .pane {
    border: 1px solid $primary-three;
    border-radius: $radius;
    flex: 1;
    min-height: 1px;
    padding: 1em;

    &.no-border {
      border: 0;
    }

    &.highlight {
      background-color: $pane-highlight;
    }

    // TODO: decide whether to adopt this style more broadly
    // (currently only used in assignments/show and assignments/peer_review)
    &.block {
      padding: 0 0 1em;

      h2 {
        background-color: $background-main;
        border-bottom: 1px solid $primary-two;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        font-size: 1.5em;
        padding: 0.5em 10px;
      }

      h3 {
        border-bottom: 1px solid $primary-two;
        font-size: 1.25em;
        padding: 0.5em 0.1em;
      }

      .block-content {
        padding: 0 15px;

        ul {
          padding-left: 25px;
        }

        li {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  * + .pane {
    margin-left: 2em;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
  }
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.listings {
  background: $background-main;
  border: 1px solid $line;
  border-radius: $radius;
  user-select: none;
}

// Sortable lists

.sortable {
  header {
    border-bottom: 1px solid $primary-two;
    border-radius: $radius $radius 0 0;
    font-weight: 600;
    padding: 0.5em;
    text-align: left;
    text-transform: uppercase;
  }

  .right {
    min-width: 16%;
    min-height: 33%;
  }

  .left{
    float: left;
    min-width: 55%;
    min-height: 33%;
  }

  .center{
    display: inline-block;
    min-width: 27%;
    min-height: 33%;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      background: url(handle@2x.png) 0.5em center no-repeat;
      background-size: 12px 20px;
      border-top: 1px solid $line;
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em 0.5em 0.5em 2em;
      transition: background-color $time-quick;

      &:hover {
        background-color: $background-support;
      }

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }

      &.new {
        background: none;
      }
    }
  }
}

.separate-listing {
  margin-top: 20px;

  li {
    list-style: none;
    padding: 0.5em 1em;
  }

  a {
    outline: none;
  }
}

/** Tags */

ul.tags {
  display: block;
  height: auto;
  margin: 0;
  padding: 4px 0 0;

  & > li {
    background-color: $background-main;
    border: 1px solid $primary-one;
    border-radius: $radius;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    padding: 5px 0.6em;
    position: relative;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background: $background-support;
      border: 1px solid $primary-three;
      color: $primary-one;

      ul {
        display: block;
      }
    }

    ul {
      background: $background-main;
      border: 1px solid $primary-three;
      display: none;
      left: -1px;
      margin-top: 0.3em;
      padding: 0;
      position: absolute;
      width: 340px;
      z-index: 9000;

      li {
        color: $line;
        cursor: pointer;
        display: inline-flex;
        list-style: none;
        padding: 0.5em;
        width: 100%;

        &:hover {
          background: $background-support;
          color: $line;
        }
      }
    }
  }
}

.text-content {
  flex: 1;
}

.red-text {
  color: $severe-error;
}

.tag-element {
  background-color: $background-support;
  border: 1px solid $primary-three;
  border-radius: 15px;
  color: $primary-one;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: $primary-one;
    color: $background-main;
  }
}


/** Dialog modal windows */

.ReactModal__Content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Overlay--after-open {
  z-index: 2;
}

.dialog {
  background: $background-main;
  border-radius: $radius;
  box-shadow: 0 0 10px $primary-two;
  max-height: 90%;
  max-width: 100%;
  overflow-y: auto;
  padding: 2.5em 1.5em;
  z-index: 10000 !important;

  .dialog-actions {
    text-align: center;
    margin-top: 1.5em;

    button {
      margin: 0.5em;
    }

    div,
    input {
      display: inline-block;
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }

  textarea {
    width: 100%;
  }

  .preview {
    max-height: 10em;
  }
}


/** Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      border-radius: $radius $radius 0 0;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;

      a {
        border-radius: $radius $radius 0 0;
        display: block;
        height: 3em;
        line-height: 3em;
        min-width: 11em;
        padding: 0 1em;
      }
    }
  }

  ul.main,
  ul.sub_sub {
    border-bottom: 2px solid $sub-menu;

    li:hover,
    .active {
      background-color: $sub-menu;
      color: $background-main;
      transition: background-color $time-quick;

      a {
        color: $active-menu-item;
      }
    }
  }

  ul.sub {
    background-color: $sub-menu;
    border-bottom: 2px solid $background-main;
    min-height: 3em;

    li:hover,
    .active {
      background-color: $background-main;
      color: $primary-one;
      transition: background-color $time-quick;

      a {
        color: $primary-one;
      }
    }

    a {
      color: $background-main;
    }
  }

  ul.sub_sub {
    background-color: $background-main;
  }
}


/** Dropdown menu */
.arrow-down {
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid $primary-one;
  float: right;
  height: 0;
  margin-top: 4px;
  width: 0;
}

.arrow-up {
  border-bottom: 7.5px solid $primary-one;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  float: right;
  height: 0;
  margin-top: 4px;
  width: 0;
}

.dropdown {
  background: $background-main;
  border: 1px solid $primary-one;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  padding: 0.5em;
  position: relative;

  &:hover {
    border-radius: 0;

    ul {
      display: block;
    }
  }

  ul {
    background: $background-main;
    border: 1px solid $primary-one;
    border-radius: 0 0 $radius $radius;
    display: none;
    left: -1px;
    margin: 0;
    min-width: 16ch;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 1.95em;
    z-index: 100000;

    li {
      display: block;
      list-style: none;
      padding: 0.5em;
      text-align: left;

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }

    li.section {
      padding: 0.25em;
    }

    li:not(.section) {
      transition: all $time-quick;

      &:hover,
      &.active {
        background: $sub-menu;
        color: $background-main;

        > a {
          color: $background-main;
        }
      }
    }

    .section {
      font-size: 0.9em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .arrow-down,
  .arrow-up {
    margin-left: 5px;
  }
}

.nested-submenu {
  > .nested-folder {
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
  }

  > a {
    font-weight: bold;
  }

  &::after {
    border: transparent solid 5px;
    border-left-color: $primary-one;
    border-right-width: 0;
    content: ' ';
    float: right;
    margin-left: 10px;
    margin-top: 3px;
  }
}

// Annotations

.annotation_text_display {
  background: $background-main;
  border: 1px solid $sharp-line;
  border-radius: $radius;
  box-shadow: 4px 4px 2px $primary-two;
  max-width: 400px;
  padding: 0.25em 1em;
  position: absolute;
  width: auto;
  word-wrap: break-word;
  z-index: 100000;
}

.annotation_holder {
  background: $annotation-holder;
  border: 1px solid $sharp-line;
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}

.annotation-holder-active {
  background: $annotation-holder;
  border: 3px solid $severe-error;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

#image_container {
  position: relative;  // For image annotations
}

// Text editing and previews
.preview {
  border: 1px dashed $primary-two;
  margin: 1em 0;
  max-height: 15em;
  min-height: 3em;
  overflow-y: auto;
  padding: 0 10px;
  word-wrap: break-word;
}

.autosave-text {
  color: $line;
  font-size: 0.8em;
  font-style: italic;
}

// Grading components
.submission-selector-container {
  background-color: $background-support;
  border: $line 1px solid;
  padding: 0.25em 0;
  width: 100%;
}

.submission-selector {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.3em 0;
  width: 100%;

  .button {
    display: inline-block;
    height: 3em;
    line-height: 1.8em;
    margin: 0 5px;
    min-width: 90px;
    padding: 0.5em;
  }

  button {
    height: 3em;
    margin: 0 5px;
    min-width: 100px;
    padding: 0.4em;
  }

  meter {
    height: 30px;
    margin: 0 8px;
    vertical-align: middle;
    width: 150px;
  }
}

.group-name {
  display: inline-block;
  margin: 0 5px;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.total {
  background: $background-support;
  border: 1px solid $primary-two;
  border-radius: $radius;
  display: inline-block;
  flex-basis: auto;
  margin: 0 5px;
  min-width: 100px;
  padding: 0 5px;
  text-align: center;
}

.highlight-bar {
  background: $background-support;
  border: 1px solid $sharp-line;
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;
}

.rotate90 {
  transform: translateY(-100%) rotate(90deg);
  transform-origin: left bottom;
}

.rotate180 {
  transform: translateY(-100%) translateX(100%) rotate(180deg);
  transform-origin: left bottom;
}

.rotate270 {
  transform: translateX(-100%) rotate(270deg);
  transform-origin: right top;
}

// jQuery UI autocomplete
.ui-autocomplete {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;
}

// Login
.cookies-eu-ok {
  background-color: $primary-three;
}

// Flexbox layout for Results/edit and Results/view_marks
.flex-col {
  display: flex;
  flex-direction: column;
}
