@charset "UTF-8";

@import 'reset';
@import 'constants';
@import 'columns';
@import 'file_viewer';
@import 'login';
@import 'mixins';
@import 'modals';
@import 'notes_dialog';
@import 'annotations_dialog';
@import 'icons';
@import 'react_json_schema_form';
@import 'react_tabs';
@import 'courses';
@import 'url_viewer';
@import 'statistics';
@import 'criteria_filter';
@import 'multi_select_dropdown';
@import 'single_select_dropdown';
@import 'filter_modal';

/** Main */

body {
  background-color: $background-support;
  color: $sharp-line;
  font: 400 0.8em/1.2em $fonts;
  transition: background-color $time-quick;

  @include breakpoint(tiny) {
    background-color: $background-main;
  }
}

::selection {
  background-color: $primary-three;
}

// Flexbox display
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-expand {
  flex-grow: 1;
  height: 100%;
  margin-left: 10px;
}

/** Code */
pre,
.code {
  font: 14px/20px $mono-fonts;
}

.test-results-output {
  margin: 0;

  &:not(:empty) {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 5px;
  }
}

/** Headings */

h1 {
  font: 300 2.5em $fonts;
  margin: 0;
}

h2 {
  font: 300 2em $fonts;
  margin: 0;
}

h3 {
  font: 400 1.5em $fonts;
  margin: 0;
}

h4 {
  font: 600 1em $fonts;
  margin: 0;
}

h5,
h6 {
  font: 400 1em $fonts;
  font-style: italic;
  margin: 0;
}

/** Paragraphs */

p + p {
  margin-bottom: 1.125em;
}

/** Links */

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: color $time-quick;

  &.inactive {
    color: $sharp-line;
    pointer-events: none;
  }
}

strong a {
  font-weight: 600;
}

/** Alert messages */

.alert {
  border-radius: $radius;
  display: block;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  width: 100%;
}

.error {
  @extend .alert;
  background-color: $light-error;
  border: 1px solid $severe-error;
}

.error.hidden {
  background: none;
}

.warning {
  @extend .alert;
  background-color: $light-alert;
  border: 1px solid $alert;
}

.success {
  @extend .alert;
  background-color: $light-success;
  border: 1px solid $severe-success;
}

.notice {
  @extend .alert;
  background-color: $background-main;
  border: 1px solid $line;
}

.hide-flash {
  float: right;
}

.no-display {
  display: none;
}

.flex-display {
  display: flex;
}

.no-padding {
  padding: 0;
}

/** Text and number field inputs */

input,
textarea {
  background: $background-main;
  border: 1px solid $primary-two;
  border-radius: $radius;
  color: $line;
  font: 400 1em $fonts;
  outline: none;
  transition: all $time-quick;
  width: 100%;

  &:hover {
    background-color: $background-main;
    border-color: $primary-one;
  }

  &:focus {
    background-color: $background-main;
    border-color: transparent;
    box-shadow: 0 0 0 3px $primary-three;
  }

  &:invalid {
    background-color: $light-error;
  }

  &[disabled],
  &[readonly] {
    background-color: $disabled-area;
    color: $sharp-line;
  }

  &.large-text {
    padding: 1em 1.15em;
  }

  &.updated,
  &.updated:focus,
  &.updated:hover {
    background-color: $light-success;
  }

  &[type='number'] {
    width: 5em;

    &.fixed-width {
      width: unset;
    }
  }
}

input {
  padding: 0.25em 0.75em;
}

textarea {
  padding: 0.75em;
  resize: none;
}

select {
  background: $background-main;
  border: 1px solid $sharp-line;
  border-radius: $radius;
  color: $line;
  font-family: $fonts;
  margin: 5px;
  padding-left: 5px;
}

select[multiple] {
  padding-left: 0;
}

/** Buttons */

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
  background: linear-gradient(to bottom, $background-main, $background-support);
  border: 1px solid $primary-three;
  border-radius: $radius;
  box-shadow: inset 0 -1px 0 $primary-two;
  color: $line;
  cursor: pointer;
  display: inline-block;
  font: 400 1em $fonts;
  min-width: 150px;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: center;
  transition: all $time-quick;

  &:hover {
    border-color: $primary-one;
    box-shadow:
      inset 0 -1px 0 $primary-two,
      0 1px 0 $background-main;
    color: $line;
    top: 1px;
  }

  &:focus {
    box-shadow:
      inset 0 -1px 0 $primary-two,
      0 0 3px $primary-three;
  }

  &:active {
    background: linear-gradient(to bottom, $background-main, $background-main);
    box-shadow: none;
    color: $primary-one;
  }

  &[disabled],
  &.disabled {
    background: linear-gradient(to bottom, $background-main, $disabled-area);
    border-color: $disabled-area;
    box-shadow: none;
  }

  &.large-button {
    min-width: 200px;
    padding: 0.75em 2em;
  }

  &.inline-button {
    margin: 0 2pt;
    min-width: 70px;
    padding: 0.25em 0.5em;
  }

  &.danger-button {
    background: $severe-error;
    color: $background-main;
    font-weight: bold;
  }
}

/** Fieldset */

fieldset {
  background: $background-main;
  border-radius: $radius;
  margin-top: $dimen-vertical;
  padding: 0.25em 1.5em 1.5em;
  position: relative;

  &.no-legend {
    padding-top: 1.25em;
  }

  legend {
    border: 0;

    > span {
      @extend h3;
      padding: 0 0.25em;
    }
  }

  // Fieldsets within fieldsets
  fieldset {
    border: 0;
    border-radius: 0;
    border-top: 1px solid $primary-two;

    legend {
      width: 100%;

      > span {
        display: block;
        padding-top: 0.5em;
        position: relative;
        top: 1em;
      }
    }
  }

  fieldset.nested-fieldset {
    border: 1px solid $primary-two;
    border-radius: $radius;
    padding: 1em;

    legend {
      width: auto;

      span {
        padding-top: 0;
        position: static;
      }
    }
  }
}

.inline-labels {
  column-gap: 10px;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 10px;

  &.required-file-wrapper {
    padding-bottom: 0.75em;
  }

  label,
  .label {
    text-align: right;
  }

  select {
    margin: 0;
  }

  label,
  label + span {
    line-height: 1.8em;
  }

  > input[type='checkbox'] {
    margin-top: 0.2em;
  }
}

.disable {
  color: $disabled-text;
  font-style: italic;
}

/** Tables */

.table {
  border-left: 1px solid $line;
  border-right: 1px solid $line;
  overflow-x: auto;
  width: 100%;

  table {
    border-top: 1px solid $line;
    width: 100%;

    thead,
    tfoot {
      background-color: $background-main;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
    }

    thead {
      background-color: $background-support;
      border-bottom: 2px solid $line;
    }

    tfoot {
      border-top: 2px solid $primary-two;
    }

    tr {
      border-bottom: 1px solid $line;

      th,
      td {
        border-right: 1px solid $line;
        padding: 0.5em 1.5em 0.5em 1em;
        vertical-align: middle;

        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      tr {
        transition: background-color $time-quick;

        &:nth-child(odd) {
          background-color: $background-main;
        }

        &:nth-child(even) {
          background-color: $background-main;
        }

        &:hover {
          background-color: $background-support;
        }
      }
    }
  }
}

.table-with-add {
  margin-left: 2.5em;
  min-width: 500px;
  width: 70%;

  > a {
    background-color: $background-support;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  table {
    width: 100%;

    td,
    th {
      padding: 10px;
      text-align: left;
    }

    thead {
      border-bottom: 1px solid $primary-two;
    }
  }
}

.grid-2-col {
  column-gap: 10px;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 1em;
}

// Keyboard shortcuts
kbd {
  background-color: $background-main;
  border: 1px solid $primary-two;
  border-radius: $radius;
  box-shadow:
    0 1px 0 $sharp-line,
    0 0 0 2px $background-main inset;
  display: inline-block;
  font-family: $mono-fonts;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  text-shadow: 0 1px 0 $background-main;
}

.shortcuts-table {
  border-collapse: separate;
  border-spacing: 5px;
}

/** Test script results table */

.test-result-pass {
  background-color: $light-success;
}

.test-result-partial {
  background-color: $light-alert;
}

.test-result-error,
.test-result-fail {
  background-color: $light-error;
}

.test-result-feedback-files {
  padding: 10px;
}

// Panes
.pane-wrapper {
  display: flex;

  .annotation-pane-wrapper {
    width: 25%;
  }

  .criteria-pane-wrapper {
    width: 37%;
  }

  .exam-template-pane-wrapper {
    width: 25%;
  }

  &.mid-height {
    height: calc(70vh);
  }

  &.small-bottom-margin {
    margin-bottom: 1em;
  }

  .pane {
    border: 1px solid $primary-three;
    border-radius: $radius;
    flex: 1;
    min-height: 1px;
    padding: 1em;

    &.no-border {
      border: 0;
    }

    &.highlight {
      background-color: $pane-highlight;
    }

    &.assignment-list-wrapper {
      flex: 0.5;
      width: 400px;
    }

    &.scrollable {
      overflow-y: scroll;
    }

    &.slim-fixed {
      flex: 0 auto;
      width: 29.5%;
    }

    // TODO: decide whether to adopt this style more broadly
    // (currently only used in assignments/show and assignments/peer_review)
    &.block {
      padding: 0 0 1em;

      h2 {
        background-color: $background-main;
        border-bottom: 1px solid $primary-two;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        font-size: 1.5em;
        padding: 0.5em 10px;
      }

      h3 {
        border-bottom: 1px solid $primary-two;
        font-size: 1.25em;
        padding: 0.5em 0.1em;
      }

      .block-content {
        padding: 0 15px;

        ul {
          padding-left: 25px;
        }

        li {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  * + .pane {
    margin-left: 2em;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
  }
}

.pane-body-padding {
  padding: 0 5px 5px;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.listings {
  background: $background-main;
  border: 1px solid $line;
  border-radius: $radius;
  user-select: none;
}

// Sortable lists
.sorted-list {
  header {
    border-bottom: 1px solid $primary-two;
    border-radius: $radius $radius 0 0;
    font-weight: 600;
    padding: 0.5em;
    text-align: left;
    text-transform: uppercase;
  }

  .right {
    min-height: 33%;
    min-width: 16%;
  }

  .left {
    float: left;
    min-height: 33%;
    min-width: 55%;
  }

  .center {
    display: inline-block;
    min-height: 33%;
    min-width: 27%;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid $line;
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em;
      transition: background-color $time-quick;

      &:hover {
        background-color: $background-support;
      }

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }

      &.new {
        background: none;
      }
    }
  }
}

.separate-listing {
  margin-top: 20px;

  li {
    border-bottom: 1px solid $line;
    list-style: none;
    padding: 0.5em 1em;

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 $radius $radius;
    }
  }

  a {
    outline: none;
  }
}

// No-bullet lists
.block-list {
  padding-left: 0;

  li {
    list-style: none;
    padding: 0.75em 0;

    + li {
      border-top: 1px solid $primary-two;
    }
  }
}

/** Tags */

ul.tags {
  display: block;
  height: auto;
  margin: 0;
  padding: 4px 0 0;

  > li {
    background-color: $background-main;
    border: 1px solid $primary-one;
    border-radius: $radius;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    padding: 5px 0.6em;
    position: relative;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background: $background-support;
      border: 1px solid $primary-three;
      color: $primary-one;

      ul {
        display: block;
      }
    }

    ul {
      background: $background-main;
      border: 1px solid $primary-three;
      display: none;
      left: -1px;
      margin-top: 0.3em;
      padding: 0;
      position: absolute;
      width: 340px;
      z-index: 9000;

      li {
        color: $line;
        cursor: pointer;
        display: inline-flex;
        list-style: none;
        padding: 0.5em;
        width: 100%;

        &:hover {
          background: $background-support;
          color: $line;
        }
      }
    }

    &.annotation_category p {
      margin-bottom: 0.1em;
      margin-top: 0.1em;
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 5px;
  padding: 0;
  text-align: left;

  li {
    background-color: $background-support;
    border: 1px solid $primary-three;
    border-radius: 15px;
    color: $primary-one;
    display: inline;
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    transition:
      background-color 0.2s,
      color 0.2s;
    white-space: nowrap;

    &.active-tag {
      cursor: pointer;

      &:hover {
        background-color: $primary-one;
        color: $background-main;
      }
    }
  }
}

.text-content {
  flex: 1;
}

.red-text {
  color: $severe-error;
}

.error-with-icon {
  font-weight: bold;
}

/** Dialog modal windows */

.ReactModal__Content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Overlay--after-open {
  z-index: 100;
}

.markus-dialog {
  background: $background-main;
  border-radius: $radius;
  box-shadow: 0 0 10px $primary-two;
  max-height: 90%;
  max-width: 100%;
  overflow-y: auto;
  padding: 2.5em 1.5em;
  resize: both;
  z-index: 10000 !important;

  .dialog-actions {
    margin-top: 1.5em;
    text-align: center;

    button {
      margin: 0.5em;
    }

    div,
    input {
      display: inline-block;
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }

  h3 {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
  }

  textarea {
    width: 100%;
  }

  .preview {
    height: 10em;
    max-height: 10em;
  }
}

/** Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      border-radius: $radius $radius 0 0;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;

      a {
        border-radius: $radius $radius 0 0;
        display: block;
        height: 3em;
        line-height: 3em;
        min-width: 11em;
        padding: 0 1em;
      }
    }
  }

  .main,
  .sub_sub {
    border-bottom: 2px solid $sub-menu;

    li:hover,
    .active {
      background-color: $sub-menu;
      color: $background-main;
      transition: background-color $time-quick;

      a {
        color: $active-menu-item;
      }
    }
  }

  ul.sub {
    background-color: $sub-menu;
    border-bottom: 2px solid $background-main;
    min-height: 3em;

    li:hover,
    .active {
      background-color: $background-main;
      color: $primary-one;
      transition: background-color $time-quick;

      a {
        color: $primary-one;
      }
    }

    a {
      color: $background-main;
    }
  }

  ul.sub_sub {
    background-color: $background-main;
  }

  #user-info-dropdown {
    a {
      display: inline;
      padding: 0 1em;
    }

    svg {
      width: 1em;
    }
  }
}

/** Dropdown menu */
.arrow-down {
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid $primary-one;
  float: right;
  height: 0;
  margin-top: 4px;
  width: 0;
}

.arrow-up {
  border-bottom: 7.5px solid $primary-one;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  float: right;
  height: 0;
  margin-top: 4px;
  width: 0;
}

.dropdown {
  background: $background-main;
  border: 1px solid $primary-one;
  cursor: pointer;
  display: inline-block;
  min-width: $dropdown-horizontal;
  padding: 0.5em;
  position: relative;

  &:hover {
    border-radius: 0;

    ul {
      display: block;
    }
  }

  ul {
    background: $background-main;
    border: 1px solid $primary-one;
    border-radius: 0 0 $radius $radius;
    display: none;
    left: -1px;
    margin: 0;
    min-width: $dropdown-horizontal;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 2.2em;
    width: calc(100% + 2px);
    word-wrap: anywhere;
    z-index: 100000;

    li {
      display: block;
      list-style: none;
      padding: 0.5em;
      text-align: left;

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }

      &.section {
        padding: 0.25em;
      }
    }

    li:not(.section) {
      &:not(.disabled):hover,
      &:not(.disabled).active {
        background: $sub-menu;
        color: $background-main;

        > a {
          color: $background-main;
        }
      }

      &.disabled {
        background: $disabled-area;
        border-color: $disabled-area;
        cursor: default;
      }
    }

    .section {
      font-size: 0.9em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .arrow-down,
  .arrow-up {
    margin-left: 5px;
  }
}

.nested-submenu {
  > .nested-folder {
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
  }

  > a {
    font-weight: bold;
  }

  &::after {
    border: transparent solid 5px;
    border-left-color: $primary-one;
    border-right-width: 0;
    content: ' ';
    float: right;
    margin-left: 10px;
    margin-top: 3px;
  }
}

// Annotations

.annotation_text_display {
  background: $background-main;
  border: 1px solid $sharp-line;
  border-radius: $radius;
  box-shadow: 4px 4px 2px $primary-two;
  max-width: 400px;
  padding: 0.25em 1em;
  position: absolute;
  width: auto;
  word-wrap: break-word;
  z-index: 100000;
}

.annotation_holder {
  background: $annotation-holder;
  border: 1px solid $sharp-line;
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}

.remark {
  background: $light-success;
}

.annotation-holder-active {
  background: $annotation-holder;
  border: 3px solid $severe-error;
  cursor: crosshair;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.enable-annotations {
  cursor: crosshair;
}

#image_container {
  position: relative; // For image annotations
}

.crop-target {
  border: 1px solid $gridline;
}

// Text editing and previews
.preview {
  border: 1px dashed $primary-three;
  margin-right: 1em;
  max-height: 20em;
  min-height: 3em;
  overflow-y: auto;
  padding: 0 10px;
  word-wrap: break-word;
}

.annotation_text_display,
.preview {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  ol,
  ul {
    padding-left: 1.5rem;
  }

  // The following is based on Simple.css: https://simplecss.org/.
  blockquote {
    border-inline-start: 0.2rem solid $primary-three;
    font-style: normal;
    margin-inline-start: 1rem;
    margin-inline-end: 0;
    margin-block: 1rem;
    padding: 0.2rem 0.8rem;
  }

  table {
    border-collapse: collapse;
    margin: 1rem 0;
  }

  figure > table {
    width: max-content;
    margin: 0;
  }

  td,
  th {
    border: 1px solid $line;
    text-align: start;
    padding: 0.5rem;
  }

  th {
    background-color: $primary-one;
    color: $background-main;
    font-weight: bold;
  }

  table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.autosave-text {
  color: $line;
  font-size: 0.8em;
  font-style: italic;
}

// Grading components
.submission-selector-container {
  background-color: $background-support;
  border: $line 1px solid;
  padding: 0.25em 0;
  width: 100%;
}

.submission-selector {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.3em 0;
  width: 100%;

  /* Icon-only buttons */
  .button {
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: center;
    margin: 0 5px;
    min-width: 3em;
    padding: 0 0.4em;

    > .svg-inline--fa:only-child {
      height: fit-content;
      width: 2em;
    }
  }

  button {
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: center;
    margin: 0 5px;
    min-width: 100px;
    padding: 0 0.4em;

    @include breakpoint(mobile) {
      min-width: 3em;

      > .svg-inline--fa:only-child {
        height: fit-content;
        width: 2em;
      }
    }
  }
}

.progress meter {
  height: 30px;
  margin: 0 8px;
  vertical-align: middle;
  width: 150px;
}

.group-name {
  display: inline-block;
  margin: 0 5px;
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.total {
  background: $background-support;
  border: 1px solid $primary-two;
  border-radius: $radius;
  display: inline-block;
  flex-basis: auto;
  margin: 0 5px;
  min-width: 100px;
  padding: 0 5px;
  text-align: center;
}

.highlight-bar {
  background: $background-support;
  border: 1px solid $sharp-line;
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;
}

.rotate90 {
  transform: translateY(-100%) rotate(90deg);
  transform-origin: left bottom;
}

.rotate180 {
  transform: translateY(-100%) translateX(100%) rotate(180deg);
  transform-origin: left bottom;
}

.rotate270 {
  transform: translateX(-100%) rotate(270deg);
  transform-origin: right top;
}

// jQuery UI autocomplete
.ui-autocomplete {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;
}

// Login
.cookies-eu-ok {
  background-color: $primary-three;
}

// Flexbox layout for Results/edit and Results/view_marks
.flex-col {
  display: flex;
  flex-direction: column;
}

// Jcrop styling
.jcrop-holder,
.jcrop-holder div {
  margin: 0;
}

// Styling for criteria/index.html
.edit-rubric-criterion {
  display: flex;
  gap: 1em;

  .rubric-criteria-levels {
    border-left: 1px solid $line;
    border-right: 1px solid $line;
    border-top: 1px solid $line;

    .level {
      padding: 0.5em;
      border-bottom: 0.25px solid $line;
      padding-right: 0.75em;
    }
  }
}

// Styling for annotation_categories/index.html
.annotation-text-details {
  display: inline-block;
  font-style: italic;
  min-width: 200px;
}

// Styling for grade entry form inputs
.grade-input {
  > input[type='number'] {
    appearance: textfield;
    border-width: 0;
    height: calc(100% + 2px);
    padding-right: 0.75em;
    text-align: right;
    width: 100%;
  }
}

// Styling for peer_reviews/index.html
.peer-review-amount-spinner {
  background-color: $background-support;
  border: $line 1px solid;
  padding: 5px;

  input {
    margin-left: 5px;
  }
}

// Styling for grade_entry_forms/_form.html

.grade-entry-items-wrapper {
  margin-top: 1em;
}

// Styling for graphs
.data-chart-container {
  display: flex;
  justify-content: center;
}

.ta-grade-distribution-graph-wrapper {
  display: inline-block;
  width: 400px;
}

// for charts rendered in FireFox
canvas {
  image-rendering: crisp-edges;
}

// Styling for summary stats for course_summary_chart.jsx
.summary-stats {
  column-gap: 40px;
  display: flex;
}

// Styling for admin/main_admin/_monitoring_dashboard_list.html
.dashboard-item {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

// Styling for submission_file_manager.jsx
.required-files-container {
  display: flex;
}

//Styling for the text on any error pages (for eg. 404, 403)
.error-pages-container {
  text-align: center;
}

// Styling for hide inactive checkbox
.hide-user-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

.lti-table {
  min-width: 250px;
  width: 50%;
}

.exam-crop-container {
  display: flex;
  height: 600px;
  width: 1000px;
}

#exam-crop-img-container {
  background-color: $disabled-area;
  flex: 1;
  margin-right: 5px;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
}

.exam-crop-button-container {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-top: 5px;
  width: 40px;
}

#increase-crop-scale {
  margin-bottom: 2px;
}

.crop-scale-button {
  height: 40px;
  margin-top: 2px;
  min-width: 40px;
  padding: 0;
  transform: translate(-70px, 0);
  width: 40px;
  z-index: 800; // jcrop uses z-index of 690
}

.crop-scale-button > svg {
  padding-right: 0;
}

.jcrop-centered {
  display: inline-block;
}
