@import 'constants';

.react-modal {
  background: $background-main;
  border: 1px solid $primary-two;
  left: 50%;
  outline: none;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  display: flex;
  justify-content: space-evenly;

  > * {
    padding: 5px;
  }
}

.modal-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;

  > * {
    margin: 5px;
  }
}

.modal-inline-label {
  display: inline-block;
  padding: 5px;
  text-align: right;
  width: 6vw;
}
