@import 'constants';

.react-modal {
  background: $white;
  border: 1px solid $grey;
  left: 50%;
  outline: none;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
