@import 'constants';
@import 'filter_modal_dropdown';

.multiselect-dropdown {
  @include filter-modal-dropdown;
  padding: 0.25em;

  .tags-box {
    display: inline-block;
    height: 22px;
    overflow-y: auto;
    width: $dropdown-horizontal - 50px;

    .tag {
      background: $background-main;
      border: 1px solid $primary-three;
      border-radius: $radius;
      display: inline-block;
      font-size: x-small;
      margin: 1pt;
      padding: 0.1em 0.2em;

      span {
        margin-right: 0.25em;
      }
    }
  }

  ul {
    top: 2em;

    li {
      align-self: stretch;
      padding-left: 5px;

      label {
        margin-left: 0.25em;
      }
    }
  }

  .options {
    align-items: center;
    display: inline-flex;
    float: right;
    padding: 0.25em;
  }

  .arrow-down,
  .arrow-up {
    margin-left: 5px;
  }
}
