@import 'constants';
@import 'dropdown';

.multiselect-dropdown {
  @include dropdown-default;

  .tags-box {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    margin-left: 1.5%;
    max-width: $dropdown-horizontal - 30px;
    overflow: scroll;
    padding: 0 1.5%;

    .tag {
      background: $background-main;
      border: 1px solid $primary-three;
      border-radius: $radius;
      flex-direction: row;
      font-size: x-small;
      margin: 1.25pt 1pt;
      min-height: fit-content;
      min-width: fit-content;
      padding: 0.1em 0.2em;

      span {
        margin: 0.25em;
      }
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .tags-box::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .tags-box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .reset {
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  ul {
    top: 2em;

    li {
      align-self: stretch;
    }
  }

  .arrow-down,
  .arrow-up {
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}
