/**
 * Header, main menu, sub menu, and sub_sub menu.
 */
@import 'constants';

/* Header */

header#header {
  align-items: center;
  border-bottom: 1px solid $primary-three;
  display: flex;
  padding: 0.25em $dimen-horizontal-nav;
  width: 100%;

  @include breakpoint(mobile) {
    border-bottom: 0;
    display: block;
  }

  #course,
  #user-info {
    @include breakpoint(mobile) {
      display: block;
    }
  }

  #course {
    flex: 1;
  }

  #user-info {
    margin-left: auto;
  }
}

/* Menus */

nav {
  .main {
    display: flex;
    flex-direction: row;
    padding: 0 $dimen-horizontal-nav;

    li,
    li a {
      border-radius: 0;
    }
  }

  .sub,
  .sub_sub {
    padding: 0 $dimen-horizontal;
  }
}

#logo-img {
  background: transparent asset-url('markus_logo.svg') no-repeat center center / 90px 30px;
  margin-right: $dimen-horizontal-nav;
  min-height: 38px;
  width: 90px;

  @include breakpoint(mobile) {
    display: none;
  }
}

.color-dark {
  #logo-img {
    background-image: asset-url('markus_logo_dark.svg');
  }

  #mobile_menu {
    background-image: asset-url('markus_logo_dark.svg');
  }
}

/* Working indicator */

#working {
  background: $primary-three;
  border: 1px solid $primary-one;
  border-radius: $radius;
  box-shadow: 0 0 5px 0 $background-support;
  color: $background-main;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      animation: ellipsis $time-quick infinite;
      content: '\2026';
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@keyframes ellipsis {
  from {
    width: 2px;
  }
  to {
    width: 1em;
  }
}

/* Mobile friendly menu */

#mobile_menu,
#content {
  width: 100%;
  z-index: 100;
}

#mobile_menu {
  background: $background-support asset-url('markus_logo.svg') no-repeat center center / 90px 30px;
  border-bottom: 1px solid $primary-three;
  display: none;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  @include breakpoint(mobile) {
    display: block;
  }

  #menu_icon {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin: 0.5em 0 0 0.5em;
    width: 2em;

    &::before,
    &::after {
      content: '';
      left: 1em;
      position: absolute;
      transition: all $time-quick;
      width: 1.5em;
    }

    &::before {
      border-top: 0.2em solid $primary-one;
      height: 1.5em;
      top: 1em;
    }

    &::after {
      border-bottom: 0.2em solid $primary-one;
      border-top: 0.2em solid $primary-one;
      height: 0.8em;
      top: 1.65em;
    }
  }
}

#menus {
  background: $background-support;

  @include breakpoint(mobile) {
    background: $sharp-line;
    height: 100%;
    overflow: hidden;
    padding-top: 3.5em;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all $time-quick;
    width: 75%;
    z-index: 0;
  }
}

#menus_child {
  @include breakpoint(mobile) {
    background: $background-support;
    border-right: 1px solid $primary-three;
    height: 100%;
    overflow: auto;
  }
}

.show_menu {
  overflow: hidden;

  #menus {
    transform: translateX(0%);
    z-index: 10000;
  }

  #mobile_menu #menu_icon {
    &::before {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 1.8em;
    }

    &::after {
      border-top: 0;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 1.8em;
    }
  }

  #content {
    display: block;
    opacity: 0.5;
    position: fixed;
    width: 100%;
  }
}

#header,
.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $background-main;
    border-bottom: 1px solid $primary-three;
    border-top: 1px solid $primary-three;
    display: block;
    padding: 0 !important;
    width: 100%;
  }

  li {
    @include breakpoint(mobile) {
      border-radius: 0;
      text-align: left;
      width: 100%;
    }
  }
}

.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $background-main !important;
    border-bottom: 1px solid $primary-three !important;

    a {
      color: $primary-one !important;
    }

    li:hover {
      background: $primary-three !important;

      a {
        color: $background-main !important;
      }
    }

    li.active {
      background: $sub-menu !important;

      a {
        color: $active-menu-item !important;
      }
    }
  }
}

/* Header */

#header {
  @include breakpoint(mobile) {
    border: 0;
    text-align: left !important;
  }

  #course {
    @include breakpoint(mobile) {
      display: block;
      float: none !important;
      padding: 1em;
    }
  }

  #course {
    @include breakpoint(mobile) {
      border-bottom: 1px solid $primary-three;
    }
  }

  h1 {
    font-size: 1.5em;
  }

  #user-info .dropdown {
    background: $background-support;

    ul {
      background: $background-support;

      li {
        text-align: left;
      }
    }
  }
}

li#logo {
  @include breakpoint(mobile) {
    display: none;
  }
}

li#dropdown {
  margin: 0.4em 0.5em 0.5em 0;

  @include breakpoint(mobile) {
    margin: 0 !important;
  }
}

.dropdown {
  @include breakpoint(mobile) {
    border: 0;
    border-radius: 0;
    display: block;
    min-width: 0;
    padding: 0;
    text-indent: -3000em;
    width: 100%;

    &:hover li a {
      color: $primary-one !important;
    }

    ul {
      background: $background-main;
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      border-top: 0;
      color: $primary-one;
      display: block;
      left: 0;
      margin-top: -1.2em;
      min-width: 0;
      position: static;
      text-indent: 0;
      top: 0;
      width: 100%;

      a {
        color: $primary-one !important;

        &:hover {
          color: $background-main !important;
        }
      }

      li:last-child {
        border-radius: 0;
      }

      li.section:hover {
        background: none !important;
      }
    }
  }

  ul {
    li {
      border-radius: 0;

      a {
        height: auto;
        line-height: inherit;
      }

      &.section {
        color: $line;
        cursor: default;
        margin-top: 0;

        &:hover {
          color: $line;
        }
      }
    }
  }
}
