/**
 * Header, main menu, sub menu, sub_sub menu, and footer.
 */


/* Header */

header#header {
  border-bottom: 1px solid $blue;
  display: table;
  padding: 0.25em $dimen-horizontal;
  width: 100%;

  #course,
  #user_info {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  #user-info {
    text-align: right;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}


/* Menus */

nav {
  .main {
    padding: 0 $dimen-horizontal;

    li,
    li a {
      border-radius: 0;
    }

    #logo {
      img {
        vertical-align: middle;
      }

      &:hover {
        background: none;
      }
    }
  }

  .sub,
  .sub_sub {
    padding: 0 $dimen-horizontal;
  }

  footer {
    display: none;
    text-align: left;

    @include breakpoint(mobile) {
      display: block;
    }

    span {
      margin-left: 0 !important;
    }
  }
}

#logo-img {
  background: transparent url(markus_logo_small.png) no-repeat center center / 90px 30px;
  width: 90px;

  @include hidpi {
    background-image: url(markus_logo_small@2x.png);
  }
}


/* Footer */

footer {
  color: $dark-grey;
  font-size: 0.95em;
  padding: 2em $dimen-horizontal;
  text-align: center;
  border-top: 1px solid $blue;

  @include breakpoint(mobile) {
    display: none;
  }

  a {
    color: $dark-grey;

    &:hover {
      color: $grey;
    }
  }

  .lang_chooser {
    margin: 0 0 0 1em;

    select {
      border: none;
      color: $dark-grey;
      font-family: $fonts;
      margin: 0;
    }
  }

  .issues {
    margin: 0 1em;
  }

  .lang_chooser,
  .issues {
    border-left: 1px solid $grey;
    padding-left: 1em;

    @include breakpoint(mobile) {
      border: none;
      display: block;
      margin: 1em 1em 0 1em;
      padding: 0;
    }
  }
}


/* Working indicator */

#working {
  background: $blue;
  border: 1px solid $dark-blue;
  border-radius: $radius;
  box-shadow: 0 0 5px 0 $light-blue;
  color: $white;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      animation: ellipsis $time-quick infinite;
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}


/* Mobile friendly menu */

#mobile_menu,
#content {
  width: 100%;
  z-index: 100;
}

#mobile_menu {
  background: $lighter-blue url(markus_logo_small.png) no-repeat center center / 90px 30px;
  border-bottom: 1px solid $blue;
  display: none;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  @include breakpoint(mobile) {
    display: block;
  }

  @include hidpi {
    background-image: url(markus_logo_small@2x.png);
  }

  #menu_icon {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin: 0.5em 0 0 0.5em;
    width: 2em;

    &::before,
    &::after {
      content: "";
      left: 1em;
      position: absolute;
      transition: all $time-quick;
      width: 1.5em;
    }

    &::before {
      border-top: 0.2em solid $dark-blue;
      height: 1.5em;
      top: 1em;
    }

    &::after {
      border-bottom: 0.2em solid $dark-blue;
      border-top: 0.2em solid $dark-blue;
      height: 0.8em;
      top: 1.65em;
    }
  }
}

#menus {
  background: $lighter-blue;

  @include breakpoint(mobile) {
    background: #000;
    height: 100%;
    overflow: hidden;
    padding-top: 3.5em;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all $time-quick;
    width: 75%;
    z-index: 0;
  }

  footer {
    background: $light-grey !important;
    border-bottom: 1px solid $blue !important;
    border-top: 1px solid $blue !important;
    display: none;
    padding: 1em;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

#menus_child {
  @include breakpoint(mobile) {
    background: $lighter-blue;
    border-right: 1px solid $blue;
    height: 100%;
    overflow: auto;
  }
}

.show_menu {
  overflow: hidden;

  #menus {
    transform: translateX(0%);
    z-index: 10000;
  }

  #mobile_menu #menu_icon {
    &::before {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 1.8em;
    }

    &::after {
      border-top: 0;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 1.8em;
    }
  }

  #content {
    display: block;
    opacity: 0.5;
    position: fixed;
    width: 100%;
  }
}

#header,
.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $light-grey;
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    display: block;
    margin: 0 0 1em 0;
    padding: 0 !important;
    width: 100%;
  }

  li {
    @include breakpoint(mobile) {
      border-radius: 0;
      text-align: left;
      width: 100%;
    }
  }
}

.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $light-grey !important;
    border-bottom: 1px solid $blue !important;

    a {
      color: $dark-blue !important;
    }

    li:hover {
      background: $blue !important;

      a {
        color: $white !important;
      }
    }

    li.active {
      background: $blue !important;

      a {
        color: $white !important;
      }
    }
  }
}


/* Header */

#header {
  @include breakpoint(mobile) {
    border: 0;
    text-align: left !important;
  }

  #course,
  #user_info {
    @include breakpoint(mobile) {
      display: block;
      float: none !important;
      padding: 1em;
    }
  }

  #course {
    @include breakpoint(mobile) {
      border-bottom: 1px solid $blue;
    }
  }

  #user-info {
    @include breakpoint(mobile) {
      padding: 1em;
    }
  }

  #user-id {
    font-weight: 300;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

li#logo {
  @include breakpoint(mobile) {
    display: none;
  }
}

li#dropdown {
  margin: 0.4em 0.5em 0.5em 0;

  @include breakpoint(mobile) {
    margin: 0 !important;
  }
}

.dropdown {
  ul {
    li {
      border-radius: 0;

      a {
        line-height: inherit;
        height: auto;
      }

      &.section {
        color: $dark-grey;
        cursor: default;
        margin-top: 0;

        &:hover {
          color: $dark-grey;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    border: none;
    border-radius: 0;
    display: block;
    min-width: 0;
    padding: 0;
    text-indent: -3000em;
    width: 100%;

    &:hover li a {
      color: $dark-blue !important;
    }

    ul {
      background: $light-grey;
      border-left: none;
      border-radius: 0;
      border-right: none;
      border-top: none;
      color: $dark-blue;
      display: block;
      left: 0;
      margin-top: -1.2em;
      min-width: 0;
      position: static;
      text-indent: 0;
      top: 0;
      width: 100%;

      a {
        color: $dark-blue !important;

        &:hover {
          color: $white !important;
        }
      }

      li:last-child {
        border-radius: 0;
      }

      li.section:hover {
        background: none !important;
      }
    }
  }
}
