/**
 * Header, main menu, sub menu, sub_sub menu, and footer.
 */
@import 'constants';

/* Header */

header#header {
  border-bottom: 1px solid $primary-three;
  display: table;
  padding: 0.25em $dimen-horizontal-nav;
  width: 100%;

  #course,
  #user_info {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  #user-info {
    text-align: right;
    height: 20px;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}

.logo {
  float: left;

  a {
    background: transparent asset-url('markus_logo_big@2x.png') no-repeat center center / 90px 30px;
    display: block;
    height: 40px;
    width: 270px;
  }
}

/* Menus */

nav {
  .main {
    position: relative;
    z-index: 999;

    li,
    li a {
      border-radius: 0;
    }
  }

  .sub,
  .sub_sub {
    padding: 0 $dimen-horizontal;
  }

  footer {
    display: none;
    text-align: left;

    @include breakpoint(mobile) {
      display: block;
    }

    span {
      margin-left: 0 !important;
    }
  }
}

.one-nav li {
  background-color: $primary-three;
  border-right: 1px solid $background-main;
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 30px;
  list-style-type: none;
  text-align: center;
  width: 16.667%;
}

.one-nav li:nth-last-child(1) {
  border-right: 0;

}

.one-nav li:hover {
  background-color: $sub-menu;

  .two-nav {
    display: block;
  }
}

.two-nav {
  display: none;

  li {
    width: 100%;
  }

  li:hover .three-nav {
    display: block;
    position: relative;
  }
}

.three-nav {
  bottom: 100%;
  left: 100%;
  position: absolute;
  width: 100%;
}

.color-dark {
  #logo-img {
    background-image: asset-url('markus_logo_dark.svg');
  }

  #mobile_menu {
    background-image: asset-url('markus_logo_dark.svg');
  }
}


/* Footer */

footer {
  background-color: $background-support;
  border-top: 1px solid $primary-three;
  color: $line;
  font-size: 0.95em;
  padding: 2em $dimen-horizontal;
  text-align: center;

  @include breakpoint(mobile) {
    display: none;
  }

  a {
    color: $line;

    &:hover {
      color: $primary-two;
    }
  }

  .lang_chooser {
    margin: 0 0 0 1em;

    select {
      border: none;
      color: $line;
      font-family: $fonts;
      margin: 0;
    }
  }

  .issues {
    margin: 0 1em;
  }

  .lang_chooser,
  .issues {
    border-left: 1px solid $primary-two;
    padding-left: 1em;

    @include breakpoint(mobile) {
      border: none;
      display: block;
      margin: 1em 1em 0 1em;
      padding: 0;
    }
  }
}


/* Working indicator */

#working {
  background: $primary-three;
  border: 1px solid $primary-one;
  border-radius: $radius;
  box-shadow: 0 0 5px 0 $background-support;
  color: $background-main;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      animation: ellipsis $time-quick infinite;
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}


/* Mobile friendly menu */

#mobile_menu,
#content {
  width: 100%;
  z-index: 100;
}

#mobile_menu {
  background: $background-support asset-url('markus_logo.svg') no-repeat center center / 90px 30px;
  border-bottom: 1px solid $primary-three;
  display: none;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  @include breakpoint(mobile) {
    display: block;
  }

  #menu_icon {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    margin: 0.5em 0 0 0.5em;
    width: 2em;

    &::before,
    &::after {
      content: "";
      left: 1em;
      position: absolute;
      transition: all $time-quick;
      width: 1.5em;
    }

    &::before {
      border-top: 0.2em solid $primary-one;
      height: 1.5em;
      top: 1em;
    }

    &::after {
      border-bottom: 0.2em solid $primary-one;
      border-top: 0.2em solid $primary-one;
      height: 0.8em;
      top: 1.65em;
    }
  }
}

#menus {
  background: $background-support;

  @include breakpoint(mobile) {
    background: $sharp-line;
    height: 100%;
    overflow: hidden;
    padding-top: 3.5em;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all $time-quick;
    width: 75%;
    z-index: 0;
  }

  footer {
    background: $background-main;
    border-bottom: 1px solid $primary-three;
    border-top: 1px solid $primary-three;
    display: none;
    padding: 1em;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

#menus_child {
  @include breakpoint(mobile) {
    background: $background-support;
    border-right: 1px solid $primary-three;
    height: 100%;
    overflow: auto;
  }
}

.show_menu {
  overflow: hidden;

  #menus {
    transform: translateX(0%);
    z-index: 10000;
  }

  #mobile_menu #menu_icon {
    &::before {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 1.8em;
    }

    &::after {
      border-top: 0;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 1.8em;
    }
  }

  #content {
    display: block;
    opacity: 0.5;
    position: fixed;
    width: 100%;
  }
}

#header,
.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $background-main;
    border-bottom: 1px solid $primary-three;
    border-top: 1px solid $primary-three;
    display: block;
    margin: 0 0 1em 0;
    padding: 0 !important;
    width: 100%;
  }

  li {
    @include breakpoint(mobile) {
      border-radius: 0;
      text-align: left;
      width: 100%;
    }
  }
}

.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $background-main !important;
    border-bottom: 1px solid $primary-three !important;

    a {
      color: $primary-one !important;
    }

    li:hover {
      background: $primary-three !important;

      a {
        color: $background-main !important;
      }
    }

    li.active {
      background: $sub-menu !important;

      a {
        color: $active-menu-item !important;
      }
    }
  }
}


/* Header */

#header {
  @include breakpoint(mobile) {
    border: 0;
    text-align: left !important;
  }

  #course,
  #user_info {
    @include breakpoint(mobile) {
      display: block;
      float: none !important;
      padding: 1em;
    }
  }

  #course {
    @include breakpoint(mobile) {
      border-bottom: 1px solid $primary-three;
    }
  }

  #user-info {
    @include breakpoint(mobile) {
      padding: 1em;
    }
  }

  #user-id {
    font-weight: 300;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

li#logo {
  @include breakpoint(mobile) {
    display: none;
  }
}

li#dropdown {
  margin: 0.4em 0.5em 0.5em 0;

  @include breakpoint(mobile) {
    margin: 0 !important;
  }
}

.dropdown {
  ul {
    li {
      border-radius: 0;

      a {
        line-height: inherit;
        height: auto;
      }

      &.section {
        color: $line;
        cursor: default;
        margin-top: 0;

        &:hover {
          color: $line;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    border: none;
    border-radius: 0;
    display: block;
    min-width: 0;
    padding: 0;
    text-indent: -3000em;
    width: 100%;

    &:hover li a {
      color: $primary-one !important;
    }

    ul {
      background: $background-main;
      border-left: none;
      border-radius: 0;
      border-right: none;
      border-top: none;
      color: $primary-one;
      display: block;
      left: 0;
      margin-top: -1.2em;
      min-width: 0;
      position: static;
      text-indent: 0;
      top: 0;
      width: 100%;

      a {
        color: $primary-one !important;

        &:hover {
          color: $background-main !important;
        }
      }

      li:last-child {
        border-radius: 0;
      }

      li.section:hover {
        background: none !important;
      }
    }
  }
}
