.progress_meter {
  height: 24px;  /* Can be anything */
  position: relative;
  background: $light-grey;
  margin: 5px 5px 10px 5px;
  border: 1px solid $light-blue;
  display: inline-block;
  width: 50%;
}

.progress_meter_top {
  width: 20%;
}

.progress_span {
  display: block;
  height: 100%;
  background-color: $light-red;
  position: relative;
  overflow: hidden;
  text-align: right;
  line-height: 24px;
  width: 0px;
  -webkit-transition: width 1s linear,background-color 200ms linear;
  -moz-transition: width 1s linear,background-color 200ms linear;
  -o-transition: width 1s linear,background-color 200ms linear;
  -ms-transition: width 1s linear,background-color 200ms linear;
  transition: width 1s linear,background-color 200ms linear;
  margin: 0;
  padding: 0 10px;
}

.progress_text {
  position: absolute;
  left: 5px;
  z-index: 999;
  top: 4px;
}
