.progress-meter {
  background: $light-grey;
  border: 1px solid $light-blue;
  display: inline-block;
  flex-basis: 200px;
  margin: 0 5px;
}

.progress-span {
  min-width: 50px;
  display: block;
  height: 100%;
  background-color: $red;
  overflow: hidden;
  color: $white;
  text-align: right;
  line-height: 2.6em;
  width: 0;
  transition: width 1s linear,background-color 200ms linear;
  padding: 0 5px;
}
