@import 'constants';

.react-tabs__tab--disabled {
  display: none;
}

.react-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.react-tabs__tab-panel {
  flex-grow: 1;
  scrollbar-color: $line $background-main;

  h3 {
    margin-bottom: 0.5em;
  }

  h4 {
    margin-bottom: 10px;
  }

  ::-webkit-scrollbar {
    background-color: $background-main;
    color: $line;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $line;
    border-radius: 20px;
    border: 2px solid $background-main;
  }
}

.react-tabs__tab--selected {
  background-color: $background-support;
  color: $sharp-line;
}

.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
}

.react-tabs-panel-action-bar {
  background-color: $background-support;
  margin-top: -10px;
  padding: 0.5em;
  width: 100%;

  button {
    margin-left: 5px;
  }
}
