@import 'constants';

.react-tabs__tab.react-tabs__tab--disabled {
  display: none;
}

.react-tabs__tab:focus::after {
  display: none; // Hide default react-tabs style
}

.react-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.react-tabs__tab-panel {
  flex-grow: 1;

  h3 {
    margin-bottom: 0.5em;
  }

  h4 {
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
  }
}

.react-tabs__tab.react-tabs__tab--selected {
  background-color: $background-support;
  color: $sharp-line;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
}

.react-tabs-panel-action-bar {
  background-color: $background-support;
  margin-top: -10px;
  padding: 0.5em;
  width: 100%;

  button {
    margin-left: 5px;
  }
}
