@import 'constants';
@import 'dropdown';

.singleselect-dropdown {
  @include dropdown-default;
  padding: 0.5em;

  > a {
    max-width: $dropdown-horizontal - 50px;
  }

  .options {
    align-items: center;
    display: inline-flex;
    float: right;
  }

  ul {
    gap: 1px;
    margin: 0;
    top: 3em;
  }

  .arrow-down,
  .arrow-up {
    margin-left: 5px;
  }
}
