@import 'constants';
@import 'filter_modal_dropdown';

.dropdown.singleselect-dropdown {
  @include filter-modal-dropdown;

  a {
    display: inline-block;
    height: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 140px;
    word-wrap: break-word;
  }

  ul {
    max-height: 120px;
  }
}
