@use 'constants' as *;
@use 'filter_modal_dropdown';

.dropdown.single-select-dropdown {
  @include filter_modal_dropdown.styles;

  a {
    display: inline-block;
    height: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 140px;
    word-wrap: break-word;
  }
}
