@import "constants";
@import "filter_modal_dropdown";

.dropdown.single-select-dropdown {
  @include filter-modal-dropdown;

  a {
    display: inline-block;
    height: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 140px;
    word-wrap: break-word;
  }
}
