.assignment-summary-value {
  font-size: xx-large;
}

.assignment-statistics-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 3vh;
}

.bar-graph {
  padding-top: 5vh;
  width: 60%;
}

.circular-progress-bar {
  background: conic-gradient($primary-one calc(var(--value) * 1%), $primary-two 0);
  border-radius: 50%;
  color: $primary-one;
  display: grid;
  height: 120px;
  place-items: center;
  width: 120px;
}

.circular-progress-bar-display {
  background-color: $background-main;
  border-radius: 50%;
  display: grid;
  font-size: x-large;
  height: 80px;
  place-items: center;
  width: 80px;
}
