.assignment-summary-stat-label {
  font-size: 1vw;
  text-align: right;
}

.assignment-summary-statistics-layout {
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.assignment-summary-stats-info {
  font-size: 1.6vw;
  margin-left: 20px;
  margin-top: 10px;

  span {
    margin-top: 5px;
  }

  a {
    font-size: 0.9vw;
  }
}
