// Styling for labels in the summary stats chart
.summary-stats-label {
  text-align: right;
}

// Specific styling for the expanded summary statistics page
.expanded-summary-stats {
  // Styling for graph titles
  h3 {
    text-align: center;
  }

  // Styling for assignment statistics container
  .flex-row {
    margin-bottom: 40px;
    margin-top: 15px;
  }

  // Styling for number statistics layout
  .grid-2-col {
    column-gap: 15px;
    margin-left: 40px;
    row-gap: 2vw;
  }

  // Styling for distribution bar graph container
  .distribution-graph {
    width: 50%;
  }

  // Specific styling for each item in summary number statistics
  span {
    font-size: 1.6vw;
  }

  // Extra styling for summary stats label
  .summary-stats-label {
    font-size: 1vw;
  }

  .criteria-summary-table {
    .criteria-stat-breakdown {
      column-gap: 10px;
      display: grid;
      grid-template-columns: max-content max-content;
      margin-bottom: 10px;
      margin-left: 40px;
      margin-top: 10px;
      row-gap: 1em;
    }

    span {
      font-size: small;
    }
  }
}
