.assignment-statistic-value {
  font-size: xx-large;
}

.assignment-data-display {
  justify-content: space-evenly;
  padding-top: 3vh;
}

.bar-graph {
  padding-top: 5vh;
  width: 60%;
}

.circular-container {
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-bar-inner-display {
  background-color: $background-main;
  font-size: x-large;
  height: 80px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 80px;
}

.assignment-statistics-summary {
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 65%;
}

.middle-align {
  align-items: center;
  display: flex;
  flex-direction: column;
}
