.url-container {
  height: 595px;
  width: inherit;
}

.url-display {
  border: 0;
  height: 100%;
  width: 100%;
}

.display-area {
  display: flex;
  height: auto;
}

.link-bar {
  background-color: $background-support;
  border: thin solid $sub-menu;
  padding: 5px;
  width: inherit;
}

.link-display {
  width: inherit;
  word-wrap: break-word;
}

