@import 'markus';
@import 'constants';
@import 'navigation';
@import '../../../../node_modules/@fortawesome/fontawesome-svg-core/styles';

#about_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#timeout_imminent_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#session_expired_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#role_switch_dialog {
  input[type='text'],
  input[type='password'] {
    margin-top: 1em;
    padding: 0.5em 0.75em;
    width: 100%;
  }
}

.image_input {
  background: none;
  border: 0;
}

.ui-datepicker-current {
  display: none !important;
}

input,
textarea {
  border-color: $line;
  display: inline-block;
  width: auto;
}

input[type='radio'] {
  max-width: 30px;
  min-width: 30px;
}

.required_field {
  color: $severe-error;
}

label.required::after,
th.required::after {
  color: $severe-error;
  content: '*';
}

.hidden {
  display: none;
}

.section h3 {
  border-bottom: 1px solid var(--primary_three);
  color: $line;
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.5em 0 1em;
  padding: 0.5em 0.1em;
}

/* Main content */

#content {
  background: $background-main;
  padding: $dimen-vertical $dimen-horizontal;

  @include breakpoint(mobile) {
    margin-top: 3.5em;
    padding: $dimen-vertical $dimen-hor-mobile;
  }

  &:fullscreen {
    padding: 0;
  }
}

#loggedIn {
  height: 100%;
}

#wrapper {
  background: $background-main;
  min-height: 100%;
}

/* Title Bar */

.title_bar {
  display: table;
  margin-bottom: $dimen-vertical;
  width: 100%;

  span.menu_bar {
    background: none;
    border: 0;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: '|';
    }
  }

  input:hover,
  a:hover {
    background: none;
    border: 0;
  }

  h1,
  .heading_buttons {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .heading_buttons {
    text-align: right;
    vertical-align: middle;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}

/* Help messages */

.help-icon {
  cursor: help;
  display: inline-block;

  p {
    background: $primary-two;
    border: 1px solid $primary-three;
    border-radius: $radius;
    display: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 350px;
    z-index: 10000;
  }

  .fa-circle-question {
    color: $primary-one;
    height: 28px;
    width: 28px;
  }
}

.help {
  @extend .help-icon;
  float: right;

  p {
    float: left;
    right: 10px;
  }
}

.title-help {
  @extend .help-icon;
  height: 28px;
  margin-left: 10px;
  position: absolute;
  width: 28px;

  p {
    left: 35px;
    top: -35px;
  }
}

.inline-help {
  @extend .help-icon;
  background-size: 1em;
  height: 1em;
  margin-left: 5px;
  width: 1em;

  p {
    float: left;
    left: calc(1em + 10px);
  }

  .fa-circle-question {
    height: 1em;
    width: 1em;
  }
}

/* Tables */

.table-filters {
  display: inline-block;
}

.table-search {
  display: inline-block;
  margin-bottom: 1em;
}

.table-filters a,
.table-filters span {
  font-size: 110%;
  padding-right: 10px;
}

/* Text Alignment */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear-alignment {
  clear: both;
}

// indents

.indent {
  margin-left: 15px;
}

.small-indent {
  margin-left: 10px;
}

// text boxes

.word-break-all {
  word-break: break-all;
}

@include breakpoint(mobile) {
  button,
  .button,
  .form-control {
    .button-text {
      display: none;
    }
  }
}

.number {
  text-align: right;
}

// Styling patches for react-keyed-file-browser
.div.rendered-react-keyed-file-browser div.action-bar ul.item-actions {
  overflow: auto;
}

div.rendered-react-keyed-file-browser div.action-bar input[type='search'] {
  width: 100%;
}

div.rendered-react-keyed-file-browser div.files table td.name div * {
  padding-right: 0.5rem;
}

.deleting button {
  padding-left: 0.5rem;
}

div.rendered-react-keyed-file-browser div.files tbody tr:hover {
  background-color: $file-row-hover;
}

.file-download {
  color: $file-download-icon-fill;
}

.file-download:hover {
  color: $file-download-icon-hover;
}

select.collected-checked,
option.collected {
  font-style: italic;
}

option.uncollected {
  font-style: normal;
}

.flash-content {
  display: inline-block;
  max-width: calc(100% - 3em);
  padding-left: 5pt;
  vertical-align: middle;
}

// Empty space, used in criteria page
.empty-16px {
  display: inline-block;
  width: 16px;
}

// Section-specific visibility radio buttons - vertical stacking
.section-visibility-options {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.section-visibility-option {
  display: flex;
  align-items: center;
  gap: 0.25em;

  input[type='radio'] {
    margin: 0;
  }

  label {
    margin: 0;
    cursor: pointer;
  }
}
