@import 'markus';
@import 'constants';
@import 'navigation';

#about_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#timeout_imminent_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#session_expired_dialog {
  max-height: 75%;
  width: 50%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

#role_switch_dialog {
  input[type='text'],
  input[type='password'] {
    margin-top: 1em;
    padding: 0.5em 0.75em;
    width: 100%;
  }
}

.image_input {
  background: none;
  border: 0;
}

.ui-datepicker-current {
  display: none !important;
}

input,
textarea {
  border-color: $line;
  display: inline-block;
  width: auto;
}

input[type='radio'] {
  max-width: 30px;
  min-width: 30px;
}

.required_field {
  color: $severe-error;
}

label.required::after,
th.required::after {
  color: $severe-error;
  content: '*';
}

.hidden {
  display: none;
}

.section h3 {
  border-bottom: 1px solid var(--primary_three);
  color: $line;
  font-size: 1.25em;
  font-weight: 300;
  margin: 1.5em 0 1em;
  padding: 0.5em 0.1em;
}

/* Main content */

#content {
  background: $background-main;
  padding: $dimen-vertical $dimen-horizontal;

  @include breakpoint(mobile) {
    margin-top: 3.5em;
    padding: $dimen-vertical $dimen-hor-mobile;
  }

  &:fullscreen {
    padding: 0;
  }
}

#loggedIn {
  height: 100%;
}

#wrapper {
  background: $background-main;
  min-height: 100%;
}

/* Title Bar */

.title_bar {
  display: table;
  margin-bottom: $dimen-vertical;
  width: 100%;

  span.menu_bar {
    background: none;
    border: 0;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: '|';
    }
  }

  input:hover,
  a:hover {
    background: none;
    border: 0;
  }

  h1,
  .heading_buttons {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .heading_buttons {
    text-align: right;
    vertical-align: middle;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}

/* Help messages */

.help-icon {
  background: asset-url('icons/help_icon.png') no-repeat;
  cursor: help;
  display: inline-block;
  height: 28px;
  width: 28px;

  p {
    background: $primary-two;
    border: 1px solid $primary-three;
    border-radius: $radius;
    display: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 350px;
    z-index: 10000;
  }
}

.help {
  @extend .help-icon;
  float: right;

  p {
    float: right;
    right: 35px;
  }
}

.title-help {
  @extend .help-icon;
  margin-left: 10px;

  p {
    float: left;
    left: 35px;
  }
}

.inline-help {
  @extend .help-icon;
  background-size: 1em;
  height: 1em;
  margin-left: 5px;
  width: 1em;

  p {
    float: left;
    left: calc(1em + 10px);
  }
}

/* Tables */

.table-filters {
  display: inline-block;
}

.table-search {
  display: inline-block;
  margin-bottom: 1em;
}

.table-filters a,
.table-filters span {
  font-size: 110%;
  padding-right: 10px;
}

/* Text Alignment */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear-alignment {
  clear: both;
}

// indents

.indent {
  margin-left: 15px;
}

.small-indent {
  margin-left: 10px;
}

// text boxes

.word-break-all {
  word-break: break-all;
}

// Customize react-table styling
.ReactTable {
  .rt-noData {
    background: $background-support;
    color: $sharp-line;
  }

  .rt-thead,
  .rt-tbody {
    border-bottom: 1px solid $gridline;
    border-left: 1px solid $gridline;
    border-right: 1px solid $gridline;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .rt-thead .rt-hidden,
  .rt-hidden,
  .rt-thead .rt-td {
    border-bottom: 1px solid $gridline;
    border-right: 1px solid $gridline;
    padding: 0;
  }

  .rt-thead.-filters input {
    background-color: $background-main;
    border: solid 1px $gridline;
    color: $sharp-line;
  }

  .rt-thead.-filters select {
    background-color: $background-main;
    border: solid 1px $gridline;
    color: $sharp-line;
  }

  .-loading.-active {
    background-color: $background-support;
    border-color: $line;
    color: $sharp-line;
  }

  .rt-expandable:empty {
    cursor: default;
  }

  .rt-expander::after {
    border-top-color: $sharp-line;
  }

  .hide-rt-expander {
    &.rt-expandable {
      cursor: default;
    }

    .rt-expander {
      display: none;
    }
  }

  .-loading.-inner {
    background-color: $background-support;
    border-color: $line;
    color: $line;
  }

  .rt-thead.-filters .rt-th {
    border-bottom: 1px solid $gridline;
    border-right: 1px solid $gridline;
  }

  .rt-tbody .rt-td {
    border-bottom: 1px solid $gridline;
  }

  .rt-thead .rt-th.-sort-asc,
  .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 $sharp-line;
  }

  .rt-thead .rt-th.-sort-desc,
  .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 $sharp-line;
  }

  .rt-thead .rt-th,
  .rt-thead .rt-td {
    background-color: $background-support;
    border-right: 1px solid $gridline;
    border-top: 1px solid $gridline;
    color: $line;
  }

  .rt-td:last-child {
    // Hack to ensure scrollbar doesn't cover cell contents.
    padding-right: 22px;
  }

  .rt-td.-wrap,
  .rt-th.-wrap {
    white-space: initial;
  }

  &.auto-overflow {
    .rt-thead,
    .rt-tbody {
      overflow-y: auto;
    }

    .rt-td:last-child {
      padding-right: 5px;
    }
  }

  &.display-block {
    display: block;

    .rt-table,
    .rt-tbody {
      display: block;
    }
  }
}

.rt-th > select {
  margin: 0;
}

.rt-tr {
  min-height: 2em;
}

.rt-td {
  // Do not have top margin for first <p> tag in a cell.
  p:first-child {
    margin-top: 0;
  }
}

.rt-action-box {
  display: flex;
  justify-content: flex-end;
  line-height: 2.5em;
  margin-bottom: 1em;
  width: 100%;

  button,
  .button {
    height: 3em;
    line-height: 2.75em;
    margin-left: 1em;
    min-width: 100px;
    padding: 0 0.7em;
  }
}

.number {
  text-align: right;
}

.rt-th.unassigned,
.rt-td.unassigned {
  background-color: $disabled-area;
  color: $line;
}

.rt-cell-textarea {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

// Styling patches for react-keyed-file-browser
.fa-trash-o::before {
  content: asset-url('icons/bin_closed.png');
  vertical-align: middle;
}

.fa-folder-open-o::before {
  content: asset-url('icons/folder_page_white.png');
  vertical-align: middle;
}

.fa-folder-o::before {
  content: asset-url('icons/folder.png');
  vertical-align: middle;
}

.fa-add-file-o::before {
  content: asset-url('icons/page_white_add.png');
  vertical-align: middle;
}

.fa-download-file-o::before {
  content: asset-url('icons/download-file.png');
  vertical-align: middle;
}

.fa-file-o::before {
  content: asset-url('icons/page_white_text.png');
  vertical-align: middle;
}

.fa-file-image-o::before {
  content: asset-url('icons/picture.png');
  vertical-align: middle;
}

.fa-file-pdf-o::before {
  content: asset-url('icons/page_white_acrobat.png');
  vertical-align: middle;
}

.fa-submit-link-o::before {
  content: asset-url('icons/link_add.png');
  vertical-align: middle;
}

div.rendered-react-keyed-file-browser div.action-bar ul.item-actions {
  overflow: auto;
}

div.rendered-react-keyed-file-browser div.action-bar input[type='search'] {
  width: 100%;
}

div.rendered-react-keyed-file-browser div.files table td.name div * {
  padding-right: 0.5rem;
}

div.rendered-react-keyed-file-browser div.files tbody tr:hover {
  background-color: $file-row-hover;
}

.file-download {
  fill: $file-download-icon-fill;
  vertical-align: bottom;
}

.file-download:hover {
  fill: $file-download-icon-hover;
}

select.collected-checked,
option.collected {
  font-style: italic;
}

option.uncollected {
  font-style: normal;
}
