@import "mixins";
@import "constants";

.dp-highlighter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font: 1em $mono-fonts;
  padding-bottom: 5px;

  /* Clear styles */
  a,
  a:hover {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
  }

  /* Actual styling */
  ol {
    flex-grow: 1;
    list-style: decimal outside;
    margin: 0;

    li {
      border-left: 1px solid $primary-two;
      line-height: 1.25em;
      padding-left: 10px;
    }
  }

  /* Language specific styles */
  .comment,
  .comments {
    background-color: inherit;
    color: $comments;
  }

  .string {
    background-color: inherit;
    color: $strings;
  }

  .keyword {
    background-color: inherit;
    color: $key-words;
    font-weight: bold;
  }

  .preprocessor {
    background-color: inherit;
    color: $key-words;
  }

  .source-code-glowing-1 {
    background-color: $light-alert !important;
  }

  .source-code-glowing-2 {
    background-color: $severe-alert !important;
  }

  .source-code-glowing-3 {
    background-color: $alert !important;
  }

  .remark {
    background-color: $light-success !important;
  }
}

/* codeviewer toolbar */
#codeviewer {
  .toolbar {
    background: $primary-two;
    margin: 0 0 10px;
    padding: 2px;
  }

  .tools {
    background-color: $background-main;
    font: 0.825em $fonts;
    padding: 5px 0;
    text-align: right;

    a {
      background-color: inherit;
      color: $link;
      font-size: 1.1em;
      margin-right: 10px;
      text-decoration: none;
    }

    a:hover {
      background-color: inherit;
      color: $darker-orange;
      text-decoration: none;
    }
  }
}
