@import '../mixins';
@import '../constants';

.dp-highlighter {
  font: 1em $mono-font-stack;
  margin: 0;
  padding-top: 1px; /* adds a little border on top when controls are hidden */
  width: 100%;

  /* Clear styles */
  ol,
  ol li,
  ol li span {
    border: none;
    margin: 0;
    padding: 0;
  }

  a,
  a:hover {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  .bar {
    @include border-radius(5px);
    background: #ededed;
    margin: 0 0 20px 0;
    padding: 5px;
  }

  /* Actual styling */
  ol {
    background-color: #fff;
    color: #5c5c5c;
    list-style: decimal; /* for ie */
    padding: 0;

    li {
      &:nth-child(odd) {
        background-color: #fff;
        color: inherit;
      }

      span {
        background-color: inherit;
        color: #000;
      }
    }
  }

  ol li,
  .columns div {
    background-color: #f8f8f8;
    border-left: 2px solid #ddd;
    color: #5c5c5c;
    line-height: 14px;
    list-style-position: outside !important;
    list-style: decimal-leading-zero; /* better look for others, override cascade from OL */
    margin: 0 !important;
    padding: 0 3px 0 10px !important;
  }

  .columns {
    background-color: #f8f8f8;
    color: #777;
    overflow: hidden;
    width: 100%;

    div {
      padding-bottom: 5px;
    }
  }

  .tools {
    background-color: #f8f8f8;
    color: #464646;
    font: 0.825em $font-stack;
    padding: 5px;
    text-align: right;

    a {
      background-color: inherit;
      color: #003399;
      font-size: 1.1em;
      margin-right: 10px;
      text-decoration: none;
    }

    a:hover {
      color: #ee6415;
      background-color: inherit;
      text-decoration: none;
    }
  }

  &.collapsed {
    .bar {
      padding-left: 0;
    }

    ol {
      margin: 0;

      li {
        display: none;
      }
    }

    .tools {
      border-bottom: 0;
    }
  }

  &.nogutter {
    .bar {
      padding-left: 0;
    }

    ol,
    ol li {
      list-style: none !important;
      margin-left: 0 !important;
    }

    ol li,
    .columns div {
      border: 0;
    }

    .tools {
      border-left: 0;
    }
  }

  &.printing {
    border: none;

    .tools {
      display: none !important;
    }

    li {
      display: list-item !important;
    }
  }

  /* Language specific styles */
  .comment,
  .comments {
    background-color: inherit;
    color: #008200;
  }

  .string {
    background-color: inherit;
    color: blue;
  }

  .keyword {
    background-color: inherit;
    color: #069;
    font-weight: bold;
  }

  .preprocessor {
    background-color: inherit;
    color: gray;
  }

  .source_code_glowing_1 {
    background-color: #fffcc4 !important;
    color: #000 !important;
  }

  .source_code_glowing_2 {
    background-color: #ff9 !important;
    color: #00f !important;
  }
}


/* About dialog styles */

.dp-about {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;

  table {
    font: 1em $font-stack !important;
    height: 100%;
    width: 100%;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }

  .copy {
    border-bottom: 1px solid #aca899;
    height: 95%;
  }

  .title {
    background-color: inherit;
    color: #f00;
    font-weight: bold;
  }

  .para {
    margin: 0 0 4px 0;
  }

  .footer {
    background-color: #eceadb;
    border-top: 1px solid #fff;
    color: #333;
    text-align: right;
  }

  .close {
    background-color: #eceadb;
    color: #333;
    font: 1em $font-stack !important;
    height: 22px;
    width: 60px;
  }
}
