@import 'mixins';
@import 'constants';

.dp-highlighter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font: 1em $mono-fonts;
  padding-bottom: 5px;

  /* Clear styles */
  a,
  a:hover {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  .bar {
    background: $primary-two;
    margin: 0 0 10px 0;
    padding: 2px;
  }

  /* Actual styling */
  ol {
    flex-grow: 1;
    list-style: decimal outside;
    margin: 0;

    li {
      border-left: 1px solid $primary-two;
      line-height: 1.25em;
      padding-left: 10px;
    }
  }

  .tools {
    background-color: $background-main;
    font: 0.825em $fonts;
    padding: 5px 0;
    text-align: right;

    a {
      background-color: inherit;
      color: $link;
      font-size: 1.1em;
      margin-right: 10px;
      text-decoration: none;
    }

    a:hover {
      color: $darker-orange;
      background-color: inherit;
      text-decoration: none;
    }
  }

  /* Language specific styles */
  .comment,
  .comments {
    background-color: inherit;
    color: $comments;
  }

  .string {
    background-color: inherit;
    color: $strings;
  }

  .keyword {
    background-color: inherit;
    color: $key-words;
    font-weight: bold;
  }

  .preprocessor {
    background-color: inherit;
    color: $primary-two;
  }

  .source-code-glowing-1 {
    background-color: $alert-light !important;
  }

  .source-code-glowing-2 {
    background-color: $alert-dark !important;
  }

  .source-code-glowing-3 {
    background-color: $alert !important;
  }
}


/* About dialog styles */

.dp-about {
  background-color: $background-main;
  color: $line;
  margin: 0;
  padding: 0;

  table {
    font: 1em $fonts !important;
    height: 100%;
    width: 100%;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }

  .copy {
    border-bottom: 1px solid $primary-two;
    height: 95%;
  }

  .title {
    background-color: inherit;
    color: $severe-error;
    font-weight: bold;
  }

  .para {
    margin: 0 0 4px 0;
  }

  .footer {
    background-color: $background-support;
    border-top: 1px solid $background-main;
    color: $line;
    text-align: right;
  }

  .close {
    background-color: $background-support;
    color: $line;
    font: 1em $fonts !important;
    height: 22px;
    width: 60px;
  }
}
