<li id="new_rubric_criterion">
<%= form_for @criterion,
            :remote => true,
		    :url => assignment_rubrics_path(@assignment) do |f| %>
  <div id="new_rubric_criterion_errors" style="display:none;" class="error"></div>
  <%= label_tag 'new_rubric_criterion_prompt', t("rubric_criteria.name") %><br>
  <%= f.text_field :rubric_criterion_name, :size => 15, :id => 'new_rubric_criterion_prompt' %><br>
  <%= f.submit t("rubric_criteria.save"), :'data-disable-with' => I18n.t('working')%>
<% end %>
</li>
