<div class='sortable'>
  <header>
    <span><%= t('criteria') %></span>
    <span class='right'>
      <%= t('weight') %>
      (<span id='rubric_total_weight'><%= @assignment.total_criteria_weight %></span>)
    </span>
  </header>
  <ul id='rubric_criteria_pane_list'>
    <% @criteria.each do |criterion| -%>
      <%= render partial: 'rubrics/rubric_criterion',
                 locals: { criterion: criterion } %>
    <% end %>
  </ul>
</div>
