<li id='criterion_<%= (criterion.id) %>'>
  <span>
    <%= link_to truncate(criterion.rubric_criterion_name,
                         length: 30,
                         omission: '...'),
                         edit_assignment_rubric_path(@assignment, criterion),
                         id: "criterion_title_#{criterion.id}",
                         remote: true %>
  </span>
  <span class='right' id='criterion_weight_<%= criterion.id %>'>
    <%= criterion.weight %>
  </span>
</li>
