$sans-serif-font-stack: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
     $serif-font-stack: "Georgia", "Times New Roman", serif;
      $mono-font-stack: "Consolas", "Courier New", Courier, mono, serif;
             $bg-color: #d2dbda;
        $primary-color: #fff;
           $light-blue: #89b1dd;
                 $blue: #003399;
