     $font-stack: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
$mono-font-stack: "Consolas", "Courier New", Courier, mono, serif;
       $bg-color: #e8f4f2;
  $primary-color: #fff;
     $light-blue: #89b1dd;
           $blue: #086ae0;
          $hover: #5197e3;
           $grey: #464646;
     $light-grey: #eee;
     $time-quick: 0.25s;
    $time-medium: 0.35s;
