/**
 * This contains the styles for core elements, including form
 * elements such as buttons or inputs.
 */

 /* Core Elements */

body {
  background-color: $bg-color;
  font: 0.8em/1.2em $font-stack;
}

.clear {
  clear: both;
}

a {
  @include transition(all, 0.2s);
  color: $blue;
  font-size: 1em;

  &:hover {
    color: $hover;
  }

  &:active {
    color: $grey;
  }

  img {
    border: none;
  }
}

h2 a,
h3 a,
h4 a {
  font: 0.75em $font-stack;
  padding-left: 5px;
}

h2 a.title {
  font-size: 1.5em;
}

a.delete {
  color: $hover;

  &:hover {
    color: #f00;
  }
}

a.rubric_criterion_link {
  color: #000;
  font-weight: 600;
}

h1 {
  color: $grey;
  font-size: 1.5em;
  line-height: 1.25em;
}

h4 {
  border-bottom: 1px solid #ccc;
  color: $grey;
  padding: 0 0 3px 3px;
}

#content {
  background: $primary-color;
  margin: auto;
  min-height: 100%;
  padding: 1.5em 3.5em;
  width: auto;

  @include breakpoint(small) {
    padding: 1.5em;
    margin-top: 3.5em; /* For the mobile menu header */
  }
}

#disable {
  color: #777 !important;
}


/* Form elements */

form.download_zip {
  display: inline;
}

input,
textarea {
  @include border-radius(5px);
  @include transition(all, 0.3s);
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #222;
  font: 1em $font-stack;
  margin: 5px;
  min-width: 100px;
  outline: none;
  padding: 4px 10px;

  &:focus {
    background: $primary-color;
    border-color: $light-blue;
  }

  &:hover {
    border-color: $hover;
  }
}

input[type=button],
input[type=submit],
input[type=reset],
button,
.button {
  @include background-gradient(#ededed, #e3e3e3);
  @include border-radius(5px);
  @include box-shadow(0 1px 0 0 #fff inset);
  @include transition(all, 0.15s);
  border: 1px solid $light-blue;
  color: $grey;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  outline: none;
  padding: 0.5em 2em;
  text-decoration: none;
  text-shadow: 1px 1px 0 $primary-color;

  &:hover {
    @include box-shadow(0 1px 0 0 #ccc, 0 1px 0 0 #fefefe inset);
    border-color: $hover;
    color: $grey;  /* override for a.button */
  }

  &:focus {
    border-color: #77989e;
  }

  &:active {
    @include background-gradient(#e3e3e3, #ededed);
    @include box-shadow(none);
    border-color: #77989e;
    position: relative;
    top: 1px;
  }

  &[disabled] {
    @include background-gradient(#eee, #ddd);
    @include box-shadow(none);
    border-color: #a7b8be;
    top: 0;
  }

  /* Button sized to fit inline */
  &.thin-button {
    padding: 3px 15px;
  }
}

.button {
  padding: 0.6em 2em;
}

input[type="radio"] {
  min-width: 30px;
  max-width: 30px;
}

input[disabled],
input[disabled]:hover {
  background-color: #ddd;
  color: #aaa;
}

select {
  @include border-radius(4x);
  background: none;
  border: 1px solid #a7b8be;
  margin: 5px;
  padding-left: 5px;
}

label,
.label {
  display: inline-block;
  width: 150px;
  padding-top: 3px;
  margin-top: 5px;
  padding-left: 5px;
}

label.radio_label,
label.checkbox_label,
label.inline_label {
  float: none;
  display: inline;
  min-width: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  font-weight: normal;
}

label.textbox_label {
  float: none;
  display: inline;
  min-width: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  font-weight: normal;
  vertical-align: top;
}

label.bold_inline_label {
  float: none;
  display: inline;
  min-width: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
}

fieldset {
  @include border-radius(10px);
  border: 1px solid #ccc;
  margin: 1.5em 0;
}

legend {
  color: $grey;
  font-style: italic;
  font-weight: 600;
  margin: 0 0.5em;
  padding: 0 0.4em;
}

.rubric_text_area {
  height: 3em;
  width: 55%;
  min-width: 235px;
}
