/* Modal windows*/

.ui-widget {
  font-family: $font-stack !important;
  max-width: 100% !important;

  input,
  select,
  textarea,
  button {
    font-family: $font-stack !important;
  }
}

#control_overlay,
.ui-widget-overlay {
  background: #777 !important;
}

.ui-widget-content {
  background: none !important;
  border: none !important;
}

.ui-datepicker {
  @include border-radius(5px);
  background: #fff !important;
  border: 1px solid $light-blue !important;
}

#add_new_section_dialog,
#rename_group_dialog,
#upload_dialog,
#download_dialog,
#groups_coverage_dialog,
#grader_criteria_dialog,
#assignment_group_use_dialog,
#add_member_dialog,
#notes_dialog,
#invite_dialog,
#about_dialog,
#role_switch_dialog,
#create_group_dialog,
#create_annotation_dialog,
#redirect_dialog {
  @include border-radius(5px);
  @include box-shadow(0 0 10px 3px #aaa);
  background: #fff !important;
  padding: 2em;
}

#invite_dialog {
  #buttons {
    text-align: center;
  }
}

#notes_dialog {
  @include border-radius(5px);
  background: $primary-color;
  border: 1px solid #000;
  max-height: 80%;
  max-width: 80%;
  padding: 0 10px;
  width: 730px !important;

  form {
    margin-left: 2px;
  }

  textarea {
    margin-top: 0;
    resize: none;
  }

  button {
    margin-bottom: 15px;
  }

  .error {
    padding: 0 1em 0 3em;
  }
}

#about_dialog {
  @include border-radius(5px);
  height: 440px !important;
  padding: 2em 2em 0 !important;
  width: 600px;

  #about_text {
    line-height: 1.5em;
    height: 350px;
    overflow: scroll;
    padding: 10px;

    h1 {
      font-size: 2em;
    }

    a {
      color: $blue;
    }
  }

  #about_close {
    margin: auto;
    width: 100px;
  }
}

.p_modal {
  border-top: 1px solid #000;
  margin-top: 5px;
  padding-top: 10px;
}

.no-close {
  .ui-dialog-titlebar,
  .ui-dialog-buttonpane {
    display: none;
  }
}

// Datepicker "Now" button
.ui-datepicker-current {
  display: none;
}

#create_annotation_dialog {
  textarea {
    height: 150px;
    width: 350px;
  }

  #annotation_submit {
    border-top: 1px solid $grey;
    margin-top: 5px;
    padding-top: 10px;
  }
}
