
/* [TEMP] Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      @include border-radius-top(5px);
      display: inline-block;
      text-align: center;
      vertical-align: bottom;

      a {
        @include border-radius-top(5px);
        display: block;
        height: 3em;
        line-height: 3em;
        min-width: 11em;
        padding: 0 1em;
      }
    }
  }

  ul.main,
  ul.sub_sub {
    border-bottom: 2px solid $light-blue;

    li:hover,
    .active {
      @include transition(background-color, $time-quick);
      background-color: $light-blue;
      color: $primary-color;

      a {
        color: $primary-color;
      }
    }
  }

  ul.sub {
    background-color: $light-blue;
    border-bottom: 2px solid $primary-color;
    min-height: 3em;

    li:hover,
    .active {
      @include transition(background-color, $time-quick);
      background-color: $primary-color;
      color: $blue;

      a {
        color: $blue;
      }
    }

    a {
      color: $primary-color;
    }
  }

  ul.sub_sub {
    background-color: $primary-color;
  }
}


/** Dropdown menu */

.dropdown {
  @include border-radius(5px);
  background: $primary-color;
  border: 1px solid $blue;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  padding: 0.5em;
  position: relative;
  text-align: center;

  &:hover {
    @include border-radius-bottom(0);

    ul {
      display: block;
    }
  }

  ul {
    @include border-radius-bottom(5px);
    background: $primary-color;
    border: 1px solid $blue;
    display: none;
    left: -1px;
    margin: 0;
    min-width: 200px;
    padding: 0;
    top: 1.95em;
    position: absolute;
    text-align: left;
    z-index: 100000;

    li {
      display: block;
      list-style: none;
      text-align: left;

      &:last-child {
        @include border-radius-bottom(5px);
      }
    }

    li.section {
      padding: 0.25em;
    }

    li:not(.section) {
      @include transition(all, $time-quick);

      &:hover,
      &.active {
        background: $blue;
        color: $primary-color;
      }

      &.active {
        padding: 0.5em 1em;
      }

      a {
        display: block;
        padding: 0.5em 1em;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .section {
      font-size: 0.9em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}


/**
 * Header, main menu, sub menu, sub_sub menu, and footer.
 */


/* Header */

header#header {
  border-bottom: 1px solid $light-blue;
  display: table;
  padding: 0.25em 2.5em;
  width: 100%;

  #course,
  #user_info {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  #user-info {
    text-align: right;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}


/* Menus */

nav {
  .main {
    padding: 0 2.5em;

    li,
    li a {
      @include border-radius-top(0);
    }

    #logo {
      img {
        vertical-align: middle;
      }

      &:hover {
        background: none;
      }
    }
  }

  .sub,
  .sub_sub {
    padding: 0 2.5em;
  }

  footer {
    display: none;
    text-align: left;

    @include breakpoint(mobile) {
      display: block;
    }

    span {
      margin-left: 0 !important;
    }
  }
}


/* Footer */

footer {
  color: $grey;
  font-size: 0.95em;
  padding: 2em 2.5em;
  text-align: center;

  @include breakpoint(mobile) {
    display: none;
  }

  a {
    color: $grey;

    &:hover {
      color: $light-grey;
    }
  }

  #lang_chooser {
    margin: 0 0 0 1em;

    select {
      border: none;
      color: $grey;
      font-family: $font-stack;
      margin: 0;
    }
  }

  #issues {
    margin: 0 1em;
  }

  #lang_chooser,
  #issues {
    border-left: 1px solid $light-grey;
    padding-left: 1em;

    @include breakpoint(mobile) {
      border: none;
      display: block;
      margin: 1em 1em 0 1em;
      padding: 0;
    }
  }
}


/* Working indicator */

#working {
  @include border-radius(5px);
  @include box-shadow(0 0 5px 0 $light-blue);
  background: $light-blue;
  border: 1px solid $blue;
  color: $primary-color;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      @include animation(ellipsis $time-quick infinite);
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@-webkit-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-moz-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-ms-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-o-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}


/* Mobile friendly menu */

#mobile_menu,
#content {
  width: 100%;
  z-index: 100;
}

#mobile_menu {
  background: $light-blue url(markus_logo_small.png) no-repeat center center;
  border-bottom: 1px solid $blue;
  display: none;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  @include breakpoint(mobile) {
    display: block;
  }

  #menu_icon {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 0.5em 0 0 0.5em;

    &::before,
    &::after {
      @include transition(all, $time-quick);
      content: "";
      position: absolute;
      left: 1em;
      width: 1.5em;
    }

    &::before {
      top: 1em;
      height: 1.5em;
      border-top: 0.2em solid $blue;
    }

    &::after {
      top: 1.65em;
      height: 0.8em;
      border-top: 0.2em solid $blue;
      border-bottom: 0.2em solid $blue;
    }
  }
}

#menus {
  @include breakpoint(mobile) {
    @include transform(translateX(-100%));
    @include transition(all, $time-quick);
    background: #000;
    height: 100%;
    overflow: hidden;
    padding-top: 3.5em;
    position: fixed;
    top: 0;
    width: 75%;
    z-index: 0;
  }

  footer {
    background: $light-grey !important;
    border-bottom: 1px solid $light-blue !important;
    border-top: 1px solid $light-blue !important;
    display: none;
    padding: 1em;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

#menus_child {
  @include breakpoint(mobile) {
    background: $lighter-blue;
    border-right: 1px solid $light-blue;
    height: 100%;
    overflow: auto;
  }
}

.show_menu {
  overflow: hidden;

  #menus {
    @include transform(translateX(0%));
    z-index: 10000;
  }

  #mobile_menu #menu_icon {
    &::before {
      @include transform(rotate(45deg));
      @include transform-origin(top left);
      width: 1.8em;
    }

    &::after {
      @include transform(rotate(-45deg));
      @include transform-origin(bottom left);
      border-top: 0;
      width: 1.8em;
    }
  }

  #content {
    display: block;
    opacity: 0.5;
    position: fixed;
    width: 100%;
  }
}

#header,
.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $light-grey;
    border-bottom: 1px solid $light-blue;
    border-top: 1px solid $light-blue;
    display: block;
    margin: 0 0 1em 0;
    padding: 0 !important;
    width: 100%;
  }

  li {
    @include breakpoint(mobile) {
      @include border-radius(0);
      text-align: left;
      width: 100%;
    }
  }
}

.main,
.sub,
.sub_sub {
  @include breakpoint(mobile) {
    background: $light-grey !important;
    border-bottom: 1px solid $light-blue !important;

    a {
      color: $blue !important;
    }

    li:hover {
      background: $light-blue !important;

      a {
        color: $primary-color !important;
      }
    }

    li.active {
      background: $light-blue !important;

      a {
        color: $primary-color !important;
      }
    }
  }
}


/* Header */

#header {
  @include breakpoint(mobile) {
    border: 0;
    text-align: left !important;
  }

  #course,
  #user_info {
    @include breakpoint(mobile) {
      display: block;
      float: none !important;
      padding: 1em;
    }
  }

  #course {
    @include breakpoint(mobile) {
      border-bottom: 1px solid $light-blue;
    }
  }

  #user-info {
    @include breakpoint(mobile) {
      padding: 1em;
    }
  }

  #user-id {
    font-weight: 300;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

li#logo {
  @include breakpoint(mobile) {
    display: none;
  }
}

li#dropdown {
  margin: 0.4em 0.5em 0.5em 0;

  @include breakpoint(mobile) {
    margin: 0 !important;
  }
}

.dropdown {
  ul {
    li {
      @include border-radius-top(0);

      a {
        line-height: inherit;
        height: auto;
      }

      &.section {
        color: $grey;
        cursor: default;
        margin-top: 0;

        &:hover {
          color: $grey;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    @include border-radius(0);
    border: none;
    display: block;
    min-width: 0;
    text-indent: -3000em;
    padding: 0;
    width: 100%;

    &:hover li a {
      color: $blue !important;
    }

    ul {
      @include border-radius(0);
      background: $light-grey;
      border-left: none;
      border-right: none;
      border-top: none;
      color: $blue;
      display: block;
      left: 0;
      margin-top: -1.2em;
      min-width: 0;
      position: static;
      text-indent: 0;
      top: 0;
      width: 100%;

      a {
        color: $blue !important;

        &:hover {
          color: $primary-color !important;
        }
      }

      li:last-child {
        @include border-radius(0);
      }

      li.section:hover {
        background: none !important;
      }
    }
  }
}
