/**
 * This contains the styles for the header, menu, sub-menu,
 * sub-sub-menu, and the footer.
 */


/* Mobile friendly menu */

#mobile_menu,
#content {
  width: 100%;
  z-index: 100;
}

#mobile_menu {
  background: $bg-color url(markus_logo_small.png) no-repeat center center;
  border-bottom: 1px solid $lighter-blue;
  display: none;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  @include breakpoint(mobile) {
    display: block;
  }

  #menu_icon {
    cursor: pointer;
    display: inline-block;
    height: 2em;
    width: 2em;
    margin: 0.5em 0 0 0.5em;

    &::before,
    &::after {
      @include transition(all, $time-quick);
      content: "";
      position: absolute;
      left: 1em;
      width: 1.5em;
    }

    &::before {
      top: 1em;
      height: 1.5em;
      border-top: 0.2em solid $blue;
    }

    &::after {
      top: 1.65em;
      height: 0.8em;
      border-top: 0.2em solid $blue;
      border-bottom: 0.2em solid $blue;
    }
  }
}

#menus {
  @include breakpoint(mobile) {
    @include transform(translateX(-100%));
    @include transition(all, $time-quick);
    background: #000;
    height: 100%;
    overflow: hidden;
    padding-top: 3.5em;
    position: fixed;
    top: 0;
    width: 75%;
    z-index: 0;
  }

  footer {
    background: $light-grey !important;
    border-bottom: 1px solid $lighter-blue !important;
    border-top: 1px solid $lighter-blue !important;
    display: none;
    padding: 1em;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

#menus_child {
  @include breakpoint(mobile) {
    background: $bg-color;
    border-right: 1px solid $grey;
    height: 100%;
    overflow: auto;
  }
}

.show_menu {
  overflow: hidden;

  #menus {
    @include transform(translateX(0%));
    z-index: 10000;
  }

  #mobile_menu #menu_icon {
    &::before {
      @include transform(rotate(45deg));
      @include transform-origin(top left);
      width: 1.8em;
    }

    &::after {
      @include transform(rotate(-45deg));
      @include transform-origin(bottom left);
      border-top: 0;
      width: 1.8em;
    }
  }

  #content {
    background: $primary-color;
    display: block;
    opacity: 0.5;
    position: fixed;
    width: 100%;
  }
}

#header,
#menu,
#sub_menu,
#sub_sub_menu {
  @include breakpoint(mobile) {
    background: $light-grey !important;
    border-bottom: 1px solid $lighter-blue !important;
    border-top: 1px solid $lighter-blue !important;
    display: block !important;
    margin: 0 0 1em 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}


/* Header */

#header {
  border-bottom: 1px solid $light-blue;
  padding: 0.5em 3.5em;
  text-align: right;

  @include breakpoint(mobile) {
    border: 0;
    text-align: left !important;
  }

  #course,
  #user_info {
    display: inline;

    @include breakpoint(mobile) {
      display: block;
      float: none !important;
      padding: 1em;
    }
  }

  #course {
    float: left;
    text-align: left;

    @include breakpoint(mobile) {
      border-bottom: 1px solid $lighter-blue;
    }
  }

  #user_info {
    width: auto;
  }

  #user_id {
    font-weight: 300;

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

#logo {
  font-size: 0.875em;
  margin: 5px 10px 10px 3.5em;

  @include breakpoint(mobile) {
    display: none;
  }

  a {
    padding: 5px;
    font-size: 0.875em;
    font-family: Lucida;
  }
}

#switch_role_icon {
  margin-top: -1em;
  padding: 0 0.5em;
  position: relative;
  top: 0.3em;
}


/* Menus */

#menu,
#sub_menu,
#sub_sub_menu {
  li {
    @include transition(all, $time-quick);
    display: inline-block;
    font-size: 1em;

    @include breakpoint(mobile) {
      display: block;
      width: 100%;
    }

    a {
      display: block;
      height: 41px;
      margin: 0;
      padding: 0.9em;
      text-align: center;
      width: 12em;

      @include breakpoint(mobile) {
        text-align: left;
        width: 100%;
      }
    }
  }
}

#menu {
  border-bottom: 2px solid $light-blue;
  display: block;
  height: auto;
  list-style: none;
  margin: -48px 0 0 0;
  min-height: 42px;
  padding: 0 0 0 160px;
  width: 100%;

  li a {
    color: #003366;
  }
}

#menu li:hover,
#menu_active {
  background: $light-blue !important;

  a {
    color: #fff !important;
    font-weight: 600;
  }
}

#dropdown {
  list-style: none;
  margin-right: 2.5em;
  width: 15em;

  &:hover {
    background: none !important;

    ul.dropdown {
      display: block;
      opacity: 1;
      visibility: visible;

      a {
        color: $grey !important;
      }
    }

    #choose_an_assignment {
      @include border-radius-bottom(0);
      @include border-radius-top(10px);
    }

    a {
      font-weight: 400 !important;
    }
  }

  ul.dropdown {
    @include border-radius-bottom(10px);
    background: $primary-color;
    border: 1px solid $blue;
    display: none;
    left: 3.5em;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 107px;
    visibility: hidden;
    width: 15em;
    z-index: 500;

    @include breakpoint(mobile) {
      @include border-radius(0);
      background: $light-grey;
      border: 0;
      border-bottom: 1px solid $lighter-blue;
      display: block;
      opacity: 1;
      visibility: visible;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }

    li {
      @include border-radius(0);

      &:hover {
        background: $light-blue;

        a {
          color: #fff !important;
        }
      }

      &:last-child,
      &:last-child #drop_down_current_assignment {
        @include border-radius-bottom(10px);

        @include breakpoint(mobile) {
          @include border-radius(0);
        }
      }
    }

    a,
    #drop_down_current_assignment {
      color: $grey;
      display: block;
      height: auto;
      margin: 0;
      padding: 0.6em 0.75em;
      text-align: left;
      width: 190px;

      @include breakpoint(mobile) {
        font-size: 1em !important;
        height: auto !important;
        padding: 0.6em 0.75em !important;
        width: 100%;
      }
    }

    #drop_down_current_assignment {
      background: $light-blue;
      color: $primary-color;
      font-weight: 600;
    }

    .separator {
      border-bottom: 1px solid $grey;
      margin: 0.5em 0;
      width: 190px;

      @include breakpoint(mobile) {
        border-color: $lighter-blue;
        width: 100%;
      }
    }
  }
}

span#choose_an_assignment {
  @include border-radius(10px);
  background: $primary-color;
  border: 1px solid $blue;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.5em;
  margin-top: 4px;
  padding: 0.55em 1em;
  text-align: center;
  width: 15em;

  @include breakpoint(mobile) {
    display: none;
  }
}

#sub_menu,
#sub_sub_menu {
  display: block;
  height: auto;
  margin: 0;
  padding-left: 3.5em;

  a {
    color: $grey;

    @include breakpoint(mobile) {
      font-size: 0.95em !important;
      height: 36px !important;
      padding: 0.8em 0.75em 0.8em 2em !important;
    }
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include border-radius-top(10px);

    @include breakpoint(mobile) {
      @include border-radius(0);
    }
  }
}

#sub_menu {
  background: $light-blue;
  min-height: 41px;

  a {
    color: $primary-color;

    @include breakpoint(mobile) {
      color: $grey;
    }
  }

  li:hover,
  #sub_menu_active {
    background: $primary-color;

    @include breakpoint(mobile) {
      background: $light-blue;
    }

    a {
      color: $grey !important;
      font-weight: 600;

      @include breakpoint(mobile) {
        color: $primary-color !important;
      }
    }
  }
}

#sub_sub_menu {
  background: $primary-color;
  border-bottom: 2px solid $light-blue;

  ul {
    padding-top: 5px;

    @include breakpoint(mobile) {
      padding: 0;
    }
  }

  li:hover,
  #sub_sub_menu_active {
    @include border-radius-top(10px);
    background: $light-blue;

    @include breakpoint(mobile) {
      @include border-radius(0);
    }

    a {
      color: $primary-color;
      font-weight: 600;

      @include breakpoint(mobile) {
        color: #fff;
      }
    }
  }
}


/* Footer */

footer {
  background: $bg-color;
  color: #777;
  font-size: 0.95em;
  padding: 2em;
  text-align: center;

  @include breakpoint(mobile) {
    display: none;
  }

  a {
    color: #777;
  }
}

#lang_chooser {
  border-left: 1px solid #aaa;
  margin: 0 0 0 1em;
  padding-left: 1em;

  @include breakpoint(tiny) {
    border: none;
    display: block;
    margin: 1em 1em 0 1em;
    padding: 0;
  }

  select {
    border: none;
    color: #777;
    margin: 0;
  }
}

#issues {
  border-left: 1px solid #aaa;
  margin: 0 1em;
  padding-left: 1em;

  @include breakpoint(tiny) {
    border: none;
    display: block;
    margin: 1em 1em 0 1em;
    padding: 0;
  }
}
