@import 'common/core';
@import 'common/assignment_dropdown';
@import 'common/modals';

.section {
  margin-top: 1.5em;
}

fieldset {
  &.period,
  &.timed_assignment_duration_properties,
  &.starter_file_properties,
  &.group_properties {
    border: 1px solid $grey;
    border-radius: $radius;
    padding: 1em;

    legend {
      width: auto;

      span {
        padding-top: 0;
        position: static;
      }
    }

    & + fieldset.period {
      margin-top: 1em;
    }
  }
}

#assignment_files {
  input[type=text] {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#grace_periods, #penalty_decay_periods, #penalty_periods {
  margin-left: 2.5em;
  width: 70%;
  min-width: 500px;

  &>a {
    display: block;
    width: 100%;
    background-color: $light-blue;
    padding: 10px;
    text-align: center;
  }

  table {
    width: 100%;
    margin-bottom: 10px;

    td, th {
      padding: 10px 10px;
      text-align: left;
    }

    td:last-child, th:last-child {
      text-align: right;
    }

    .remove_rule {
      float: right;
    }

    thead {
      border-bottom: 1px solid $grey;
    }
  }
}

/* Students view */

.button_to {
  display: inline-block;
}


/* Grader view */

.api_key {
  margin-top: $dimen-vertical;
}

#api_key_box {
  border: 1px solid $grey;
  border-radius: $radius;
  overflow: auto;
  padding: 0.75em;

  #api_key,
  form {
    display: inline-block;
    width: auto;
  }
}

/* Table Styles */

.pr_assignment_list {
  padding-left: 15px;
  display: block;
  padding-top: 11px;
}

.pr_date {
  padding-top: 11px;
}

.time_left {
  display: inline-block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Summary

.progress meter {
  margin: 0 8px;
  vertical-align: baseline;
  width: 100px;
}

.starter-file-rename-cell-content {
  .rename-input {
    float: left;
  }

  .original-checkbox {
    float: right;
    vertical-align: middle;
  }
}

.starter-file-rule-types {
  > * {
    padding-bottom: 10px;
  }
}

.download-button {
  text-align: right;
  vertical-align: middle;
}
