@import 'assignments';
@import 'common/modals';

.right {
  float: right;
}

.test_points {
  font-size: large;
}

.test-result {
  margin: 0 0 15px 0;
}

.test-result > h3 {
  margin-bottom: 0;
}

.rt-td.hidden {
  display: block;
}

h2.test_runs_header {
  overflow: hidden;
}

h2.test_runs_header > form {
  display: inline;
  float: right;
}

//schema manager styles

div#autotest-manager {
  * {

    /* Hide specific legends. */
    fieldset > legend[id$='extra_info__title'],
    #root_testers__title {
      display: none;
    }

    /* Sections */
    .tester-item > fieldset > div > label {
      font-size: 1.4em;
    }

    .field > fieldset > legend {
      font-size: 1.25em;
      padding: 0.75em 0;
    }

    .form-group fieldset {
      border: none;
      margin-top: 0;
    }

    fieldset {
      legend {
        padding: 0.25em;
        span.required {
          display: inline-block;
          top: initial;
          padding: 0;
          font-size: 1em;
        }
      }

      div {
        margin: 0;
      }
    }

    .array-item-list > .array-item {
      border: 1px solid $grey;
      border-radius: $radius;
      display: flex;
      padding: 10px;

      > .col-xs-9 {
        flex: 0.8;
      }

      > .col-xs-3 {
        flex: 0.2;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    /* Buttons */
    div.array-item-toolbox {
      width: 25%;
    }
    button.btn {
      min-width: 0;

      i {
        display: none;
      }
    }
    .btn-danger::after {
      content: asset-url('icons/cross.png');
    }
    .btn-add::after {
      content: asset-url('icons/add.png');
    }
    .array-item-move-up::after {
      content: asset-url('icons/arrow_up.png');
    }
    .array-item-move-down::after {
      content: asset-url('icons/arrow_down.png');
    }

    /* Form inputs. */
    label,
    .checkbox > label > span {
      display: inline-block;
      min-width: 150pt;
    }

    select.form-control {
      min-width: 75pt;

      &[multiple=""] {
        vertical-align: top;
      }
    }

    .checkbox input[type="checkbox"] {
      float: right;
    }

    input,
    textarea {
      margin: 5px;
    }

    input[type="checkbox"] {
      margin-right: 0.25em;
    }
    .student_test_options>.inline_label {
      margin-right: 1em;
      input {
        margin-left: 0.25em;
      }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

.upload-download {
  padding: 10px;
  text-align: right;

  .menu-bar {
    background: none;
    border: 0;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: '|';
    }
  }
}
