@import "assignments";

.right {
  float: right;
}

.test_points {
  font-size: large;
}

.test-result {
  margin: 0 0 15px 0;
}

div.dragarrows {
  float:left;
  padding:0 10px;
  font-weight:bold;
}

a.collapse {
  font-style:normal;
}

div.settings_left_side {
  margin-right:30px;
  float:left;
}

span.file_name {
  padding: 0;
}

.test-result > h3 {
  margin-bottom: 0;
}

.rt-td.hidden {
  display: block;
}

h2.test_runs_header {
  overflow: hidden;
}

h2.test_runs_header > form {
  display: inline;
  float: right;
}
