@import "common/constants";

.clickable_links {
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  position: relative;
  text-align: left;
  width: 300px;
}

.clickable_text {
  display: inline-block;
  font-weight: bold;
  padding-left: 5px;
  vertical-align: middle;
}

.make_div_clickable:hover {
  background: $background-support;
  opacity: 0.5;
}

.make_div_clickable {
  border-bottom: 1px solid $background-support;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  z-index: 1;
}

.clickable_image {
  height: 15px;
  margin-right: 15px;
  width: 15px;
}
