@import 'common/core';

.ui-menu {
  background: $background-main;
  border: 1px solid $line;
  border-radius: 5px;
  display: block;
  list-style: none;
  margin: 0;
  min-width: 200px;
  padding: 2px;
  z-index: 100001;
}

.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-menu .ui-menu-item div {
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  padding: 5px 0.4em;
}

.ui-menu .ui-menu-item div.ui-state-focus,
.ui-menu .ui-menu-item div.ui-state-active {
  background-color: $primary-three;
  color: $sharp-line;
}

.ui-menu .ui-state-disabled {
  background-color: $disabled-area;
  color: $sharp-line;
  cursor: default;
  font-weight: normal;
  line-height: 1.5;
}

.ui-menu .ui-state-disabled div {
  cursor: default;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}

.ui-menu-icons .ui-menu-item div {
  padding-left: 2em;
  position: relative;
}

/* left-aligned */
.ui-menu .ui-icon {
  left: 0.2em;
  position: absolute;
  top: 0.2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  float: right;
  position: static;
}

.ui-menu .ui-menu-divider {
  border-top: $line solid 1px;
  font-size: 0;
  height: 0;
  margin: 5px -2px;
}

.ui-menu kbd {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  float: right;
  padding: 0;
  text-shadow: none;
}

.ui-menu .emoji-annotation-context-menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25%;
}
