@import "assignments";

/** Sortable lists */

.division-table {
  background: $white;
  border: 1px solid $grey;
  border-radius: $radius;
  user-select: none;

  header {
    border-bottom: 1px solid $grey;
    border-radius: $radius $radius 0 0;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }

  .label {
    float: left;
    min-width: 35%;
    min-height: 33%;
  }

  .start, .end {
    display: inline-block;
    min-width: 13%;
    min-height: 33%;
  }

  .delete {
    display: inline-block;
    min-width: 8%;
    min-height: 33%;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid $grey;
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em 0.5em 0.5em 2em;
      transition: background-color $time-quick;
      text-align: center;

      &:hover {
        background-color: $lighter-blue;
      }
    }
  }
}

.exam-template-info {
  font-weight: 600;
  text-transform: uppercase;
}

.exam-template-section {
  padding-bottom: 0.6em;
}

.generate-section {
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.log-green-message {
  color: #28A74F;
  font-weight: bold;
}

.log-red-message {
  color: #cb2431;
  font-weight: bold;
}
