@import "assignments";

/** Sortable lists */

.division-table {
  background: $white;
  max-width: 54em;
  border-radius: $radius;
  user-select: none;

  header {
    border-bottom: 1px solid $grey;
    border-radius: $radius $radius 0 0;
    font-weight: 600;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
  }

  .label {
    float: left;
    min-width: 35%;
    min-height: 33%;
    text-align: left;
  }

  .start, .end {
    display: inline-block;
    min-width: 13%;
    min-height: 33%;
  }

  .delete {
    display: inline-block;
    min-width: 8%;
    min-height: 33%;
    text-align: right;
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      min-height: 2.5em;
      padding: 0.5em 2em;
      transition: background-color $time-quick;
      text-align: center;

      &:hover {
        background-color: $lighter-blue;
      }
    }
  }

  .add_template {
    margin-top: 10px;
    background-color: $light-blue !important;

    a{
      display: block;
      width: 100%;
      padding: 10px;
    }
  }
}

.exam-template-section, .generate-section, .split-section {

  p + p {
    margin: 1.5em 0;
  }

  .required {
    margin-top: 3px;
  }

  a {
    margin-left: 0;
  }

  label, .exam-template-info {
    display: block;
    margin-bottom: 3px;
  }
}

.exam-template-section {
  padding-bottom: 0.6em;

  #exam_template_name, #exam_template_new_template {
    width: 16em;
  }
}

.generate-section, .split-section {
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.log-green-message {
  color: #28A74F;
  font-weight: bold;
}

.log-red-message {
  color: #cb2431;
  font-weight: bold;
}

.toolbar {
  //display: none;
}

#viewerContainer {
  top: 0;
}

#codeviewer {
  border-radius: 0;
}

.display_pane {
  border: 1px solid $light-grey;
}

.input_pane {
  padding: 15px !important;
}

.input_pane {
  input[type="text"] {
    margin-bottom: 5px;
  }
}

.side_header {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#info_form label {
  //min-width: initial;
  margin-bottom: 3px;
}

.disable {
  cursor: default;
  color: #8d8d8d !important;
  font-style: italic;
}

#log_entries {
  width: 100%;

  td, th {
    padding: 20px 15px;
    text-align: right;
  }

  th {
    cursor: pointer;
  }

  td:nth-child(-n+4), th:nth-child(-n+4){
    text-align: left;
  }

  thead {
    border-bottom: 1px solid $grey;
  }
}

#exam_scan_log_table {
  .errors {
    color: $red;
    font-weight: bold;

    &::before {
      content: asset_url('icons/error.png');
      padding-right: 10px;
      vertical-align: top;
    }
  }
}

/* Jcrop styling */
.jcrop-holder,
.jcrop-holder div {
  margin: 0;
}
