/* Fonts */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100 1000;
  src: url("fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 100 1000;
  src: url("fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
}
