@import 'common/core';

#grade_entry_items {
  margin-top: 1em;
}

// Styling of marks table
.grade-input {
  > input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border-width: 0;
    height: calc(100% + 2px);
    padding-right: 0.75em;
    text-align: right;
    width: 100%;
  }
}
