@import 'common/core';
@import 'common/tags';
@import 'common/notes_dialog';


/* Annotations */

.annotation_text_display {
  background: #f6f6f6;
  border: 1px solid $grey;
  border-radius: $radius;
  max-width: 400px;
  padding: 0.25em 1em;
  position: absolute;
  width: auto;
  z-index: 100000;
  word-wrap: break-word;
}

/* Peer Review Styles */

#peer_reviews {
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

#peer_review_selector_label {
  float: left;
  font-size: 14px;
  margin-top: 13px !important;
}

#peer_review_selector {
  margin-top: 7px;
  margin-left: 20px;
}

#original_result_link {
  margin-left: 20px;
  font-size: 14px;
}


/* Top toolbars: student selector/file selector/download buttons */

#student_selector {
  display: table;
  margin: 0;
  padding: 2px 10px;
  width: 100%;

  #criterion_incomplete_error {
    display: table-row;
  }

  #student_selector_controls {
    display: table-row;
  }

  .left,
  .middle,
  .right {
    display: table-cell;
  }

  .left {
    text-align: left;
    width: 20%;
  }

  .middle {
    text-align: center;
    width: 60%;
  }

  .right {
    text-align: right;
    width: 20%;
    float: none;
  }
}

.nested-submenu > .nested-folder {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.nested-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}


/* Download Files Modal */

#download_file_selector {
  border-radius: $radius;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 16.25px;
}

#download_button {
  display: inline-block;
  float: right;
  margin-top: 8px;
  margin-left: 10px;
}

#download_all_files_button {
  display: block;
  margin: auto;
}

.download_file {
  .inline_label {
    margin-left: 0.5em;
  }
}

#include_annotations {
  margin-right: 0.5em;
  float: left;
}

#annotations_options {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 110px;
}

#download_files_dialog {
  top: 17% !important;
}


/* Panes content (for controlling the heights) */

#mark_viewer,
#summary_viewer,
#codeviewer,
#testviewer,
#annotations_summary,
#feedback_file_content {
  border-radius: 0 0 $radius $radius;
  overflow: auto;
}

#codeviewer,
#testviewer,
#mark_viewer,
#summary_viewer,
#annotations_summary,
#remark_request_tab,
#feedback_file_content {
  height: 650px;
}

#annotations_summary {
  padding: 0 0.5em;
}


/* Source code pane */

// Adjusted height for users that also see the annotation menu
#annotation_menu + #codeviewer {
  height: 600px;
}

.image_container {
  overflow: auto;
  width: auto;
}

#sel_box {
  border: 1px dashed #f00;
  display: none;
  position: absolute;
}

.annotation_holder {
  background: orange;
  border: 1px solid #000;
  cursor: crosshair;
  opacity: 0.2;
  position: absolute;
}

.code_scroller {
  margin: 0;
  overflow: auto;
  padding-left: 50px !important;
}

.dp-highlighter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .annotation_highlighted_text {
    background-color: #f99;
    color: $dark-grey;
  }

  .annotation_highlighted_text_overlap {
    background-color: #dd5;
    color: $dark-blue;
  }

  > ol {
    flex-grow: 1;
    margin: 0;
    overflow: auto;
    padding-left: 50px !important;
  }
}


/* Annotation dialog - for creating or editing new annotations */

#annotation_dialog {
  padding-top: 1.5em;

  textarea#new_annotation_content {
    height: 175px;
    margin-top: 1em;
    width: 100%;
    padding: 10px;
  }
}

/* Annotations menus */

#annotation_menu, #file_selector_menu, #feedback_file_selector_menu {
  background: #b7d3ec;
  border-radius: $radius $radius 0 0;
  display: table;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

#annotation_options {
  display: block;
  float: left;
}

#file_download_button {
  float: left;
  margin: 0 1em 0 0;
}

#new_annotation_button {
  display: table-cell;
  color: $grey;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  background: $white;
  font-weight: normal;
  margin: 0 0.5em 0 0;
  min-width: 0;
  vertical-align: top;
  float: left;
  font-size: 1em;
  padding: 0.2em 0.5em;
  margin-top: 4px;
  box-shadow: none;
}

#annotation_categories {
  display: table-cell;
  float: left;
  padding-top: 7px;
}

.file_selector {
  background: $light-grey;
  border-radius: $radius;
  display: table-cell;
  vertical-align: top;
  float: left;
  line-height: 16.25px;
}

.file_selector {
  margin-right: 1em;

  @include breakpoint(mobile) {
    margin-bottom: 1em;
  }

  select {
    background: $white;
  }

  #next_button,
  #back_button {
    min-width: 0;
  }
}

li.annotation_category {
  margin-bottom: 0.25em;
}

ul.annotation_text_list {
  background: $white !important;
  border: 1px solid #aaa;
  border-radius: 0 0 $radius $radius;
  height: auto;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  left: -0.65em !important;
  width: 300px;

  li {
    background: $white !important;
    border-radius: 0 !important;
    padding: 0.5em 0.25em;
    width: 100%;

    &:hover {
      background: $blue !important;
      color: $white;
      cursor: pointer;
    }

    &:last-child {
      border: 0;
      border-radius: 0 0 $radius $radius;
    }
  }
}


/* Annotations pane */
.overall-comment {
  textarea {
    margin: 1em 0;
    width: 100%;
  }
}

/* MathJAX previews */

#annotation_preview, #overall_comment_preview, #overall_remark_comment_preview {
  margin: 1em 0 20px 0;
  border: 1px dashed $grey;
  padding: 0 10px;
  min-height: 43px;
  max-height: 15em;
  overflow-y: scroll;
  word-wrap: break-word;
}

#annotation_preview {
  width: 450px;
}

/* Remark request pane */

#remark_request {
  padding: 1em;

  h3 + h3 {
    margin: 1em 0 0.5em;
  }

  textarea {
    margin-bottom: 1em;
    width: 100%;
  }
}


/* Marks pane */

.marks-list {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    padding: 5px;
    width: 100%;
    display: inline-block;
  }

  .unassigned {
    background: $light-grey;
    color: $grey;
  }

  .active-criterion,
  .active-rubric {
    box-shadow: inset 0 0 10px 0 $dark-blue;
  }

  input:focus {
    border: 5px solid $blue;
  }
}

.mark_tools {
  margin: 1em 0;
  text-align: center;
}

.rubric-levels {
  border: 1px solid $grey;
  border-collapse: collapse;
  margin-left: 1.5em;
  width: calc(100% - 1.5em);

  tr {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
  }

  td {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
  }
}

.rubric_criterion {
  &.collapsed {
    .rubric-level:not(.selected):not(.old-mark) {
      display: none;
    }
  }

  .rubric-level {
    cursor: pointer;
    width: 100%;

    &.selected {
      background-color: $light-green;
    }

    &.old-mark:not(.selected) {
      background: $light-yellow;
    }
  }

  .rubric-level:not(.selected) {
    background: $white;
  }

  .level-description {
    padding-left: 0.5em;
    width: 82%;
  }
}

.expanded {
  .criterion-description {
    display: block;
  }
}

.collapsed {
  .criterion-description {
    display: none;
  }
}

.criterion-name {
  color: $dark-blue;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 2px;
}

.criterion-description {
  float: left;
}

.mark {
  float: right;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;

  input[type=text] {
    font-weight: bold;
    padding-right: 0.5em;
    text-align: right;
  }
}

.old-mark:not(.rubric-level) {
  float: right;
  padding-right: 10px;
}

.checkbox-criterion-inputs {
  padding-right: 0.5em;
  text-align: right;

  label {
    min-width: 0;
    padding-right: 0.5em;
  }

  input[type=radio] {
    max-width: 20px;
    min-width: 20px;
  }
}


/* Submission Rule Pane */

.bonus-deduction {
  background-color: #cee3ea;
  padding: 3px 3px 3px 3px;
}

/* Extra Mark holder */

.extra-marks-pane {
  border: 0;
  margin-top: 1em;
}


/* Summary pane */
.marks-summary-pane {
  .ReactTable .rt-thead,
  .ReactTable .rt-tbody {
    overflow-y: auto;
  }
}

.summary_block {
  border: none;
  text-align: right;
  line-height: 1.6em;
  margin: 0.25em 0.25em 1.5em;
  padding: 5px;
}

.mark_subtotal {
  font-weight: 600;
  padding: 10px 20px;
}

.mark_total {
  background: $light-grey;
  border: 1px solid $grey;
  border-radius: $radius;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;

  .final_mark {
    float: right;
    font-size: 1.5em;
    font-style: italic;
  }
}

.padding_left {
  padding-left: 30px;
}

.padding_left_old {
  padding-left: 30px;
  background-color: #fdfebc;
}


/* Tag pane */

#tag_viewer {
  margin-bottom: 1em;
}

.tag_collector_pane {
  background: $light-grey;
  border: 1px solid $grey;
  border-radius: $radius;
  font-weight: 600;
  margin: 1em 0;
  padding: 10px;

  .tag_list {
    font-weight: 400 !important;
    line-height: 200%;
    padding-top: 5px;
    text-align: center;
  }
}

.tag_admin {
  text-align: center;
}

/* Resizable column panes */

.flex-pane {
  display: flex;
  flex-direction: column;
  height: 100%
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#panes-content {
  display: flex;
  flex-grow: 1;
  margin-top: 0.5em;
  width: 100%;

  #panes {
    display: flex;
    width: 100%;

    @include breakpoint(small) {
      display: block;
    }
  }

  #left-pane,
  #drag,
  #right-pane {
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  #left-pane,
  #right-pane {
    overflow: auto;

    @include breakpoint(small) {
      display: block;
      float: none;
      width: 100% !important;
    }
  }

  #left-pane {
    width: 70%;
    margin-right: 3px;

    @include breakpoint(small) {
      margin-bottom: 1em;
      padding-right: 0;
    }
  }

  #right-pane {
    width: 29.5%;
    margin-left: 3px;

    @include breakpoint(small) {
      padding-left: 0;
    }
  }

  #drag {
    background: #ccc;
    cursor: col-resize;
    height: 50%;
    overflow: hidden;
    position: absolute;
    margin: 5px 1px;
    width: 4px;

    @include breakpoint(small) {
      display: none;
    }
  }
}

.react-tabs__tab--disabled {
  display: none;
}
