@import 'mixins';
@import 'constants';

/* ==============================================================
   ANNOTATION SUMMARY RELATED STYLES
   ============================================================== */

/****************************************************
  Annotations highlight; two colours, one for single comment
  one for overlapping comment
 ****************************************************/
.annotations1 { background-color: #fffcc4; }
.annotations2 { background-color: #ff9; }

/****************************************************
  Link to line number in Annotations Summary
 ****************************************************/
.lineNumber {
  margin: 0 0 10px 0;

  a {
    padding: 0 20px 0 0;
  }
}

/****************************************************
  Style for the actual annotations content
*****************************************************/
.annotationContent, .manageAnnotations {
  font: italic 0.85em "Verdana", sans-serif;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
}

#student_selector {
  @include border-radius(5px);
  background: #ececec;
  border: 1px solid #ddd;
  padding: 2px 10px;
  margin: 0 0 10px 0;

  .left,
  .middle,
  .right {
    float: left;
  }

  .left {
    text-align: left;
    width: 20%;
  }

  .middle {
    text-align: center;
    width: 60%;
  }

  .right {
    text-align: right;
    width: 20%;
  }
}

#file_selector {
  margin: 20px 0 10px 0;
}

.dp-highlighter {
  .annotation_highlighted_text {
    background-color: #f99;
    color: #000;
  }

  .annotation_highlighted_text_overlap {
    background-color: #dd5;
    color: blue;
  }
}

.annotation_text_display {
  @include border-radius(5px);
  background: #f6f6f6;
  border: 2px solid #ccc;
  padding: 15px;
  position: absolute;
  width: 400px;
}

#annotation_menu {
  @include border-radius(5px);
  background: #b7d3ec;
	padding: 5px;
  margin: 0 0 10px 0;
}

#annotation_categories {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#new_annotation_button {
  float: left;
  margin: 0;
}

.edit_remove_annotation_button {
  @include border-radius(10px);
  background: #fff;
  border: 2px solid #ccc;
  color: #464646;
  font: bold 0.85em $sans-serif-font-stack;
  margin: 5px;
  min-width: 0;
  padding: 3px 10px 3px 10px;
}

li.annotation_category {
  @include border-radius(10px);
  background: #fff;
  border: 2px #ccc solid;
  color: #464646;
  float: left;
  font-weight: bold;
  padding: 3px 5px;
}

.annotation_category:hover {
  color: #000;
  cursor: pointer;
}

.annotation_text_list {
  background: #ddd;
  border: 1px solid #000;
  height: 350px;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 300px;

  li {
    background: #fff;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    color: #464646;
    padding: 5px;
  }

  li:hover {
    background: #fffc4;
    color: #000;
    cursor: pointer;
  }
}

/* =================================================================================
  GENERAL LAYOUT STYLES
  #pane_holder
     #code_pane
        tabs => see livepipe/tabs.css
        #code_holder
            #annotations_menu
            #codeviewer
        #annotations_summary
            #annotation_summary_list
                #annotations1, #annotations2
     #pane_divider
     #mark_pane
        tabs => see livelipe/tabs.css
        #rubric_viewer
            #rubric_tools
            #rubric_criteria_pane
                #rubric_criteria_pane_list
        #summary_viewer .marks_summary_viewer
            #summary_criteria_pane
                #summary_citeria_pane_list
            #extra_marks_pane
        #annotations_holder
===================================================================================*/

#pane_holders {
  overflow: hidden;
}

  #pane_divider {
    background-color: #ddd;
    background: #eee url(handle.png) no-repeat 50%;
    cursor: col-resize;
    float: left;
    height: 722px;
    margin: 0 2px 10px 2px;
    width: 4px;
  }

  #code_pane, #mark_pane {
    @include border-radius(5px);
    background: #ececec;
    border: 1px solid #ddd;
    float: left;
    height: 700px;
    margin: 0 0 10px 0;
    padding: 10px;
  }

  #code_pane {
    width: 60%;
   /* width: 536px;*/
  }

  #mark_pane {
   width: 34%;
    /*width: 370px;*/
  }

    #mark_viewer, #summary_viewer, #annotations_summary {
      height: 650px;
      overflow: auto;
    }

    #code_holder {
      padding: 0;
    }

      #sel_box {
        border: thin dashed red;
        display: none;
        position: absolute;
      }

      #image_preview {
        display: block;
      }

      .annotation_holder {
        position: absolute;
        opacity: 0.2;
        filter: alpha(opacity=20);
        background: orange;
        border: solid;
        border-color: black;
      }

#toolbar {
  @include border-radius(5px);
  background: #ededed;
  margin: 0 0 20px 0;
  padding: 5px;
}

.code_scroller {
  height: 550px;
  margin: 0;
  overflow: auto;
  padding: 0 0 0 50px !important;
}

.image_container {
  height: 650px;
  overflow: auto;
  width: auto;
}

#create_annotation_dialog textarea {
  height: 50px;
  width: 300px;
}

#mark_criteria_pane_list {
  height: 100%;
  overflow: auto;
}

.modal {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #333;
}

.window {
  @include border-radius(10px);
  background: url("/stylesheets/window_background.png") top left;
  color: #fff;
  font: bold 0.8em $sans-serif-font-stack;
  min-height: 100px;
  min-width: 150px;
  padding: 10px;
  text-align: center;

  .window_contents {
    height: 100%;
    margin-top: 10px;
    width: 100%;
  }

  .window_header {
    text-align: center;
  }

  .window_title {
    cursor:move;
    font-size:11px;
    margin-bottom:7px;
    margin-top:-7px;
  }

  .window_close {
    background-image:url("/stylesheets/window_close.gif");
    cursor:pointer;
    display:block;
    height:13px;
    left:5px;
    position:absolute;
    top:4px;
    width:13px;
  }
}

/* Annotation summary list styles */

#annotation_summary_list {
  border-top: 1px solid #ddd;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;

  li {
    border-bottom: 1px solid #dadada;
    padding: 5px 10px;
  }

  a {
    color: blue;
  }
}

/* CSS for grading view */
/* Rubric Criteria - TO CHANGE! defaults to original rubric css for now! */
.padding_left {
  padding-left: 30px;
}

.padding_left_old {
  padding-left: 30px;
  background-color: #fdfebc;
}

#mark_criteria_pane_list {
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    border-bottom: 1px solid #dadada;
    padding: 5px;
  }

  li:nth-child(odd) {
    background: #ededed;
  }

  li:nth-child(even) {
    background: #fff;
  }
}

.mark_tools {
  margin-bottom: 1em;
  text-align: center;
}

/* ================ CRITERION STYLES ============== */
#old_summary_criteria_pane {
  display: none;
}

.assigned {
  border: 4px solid #b7d3ec;
}

  .mark_criterion_title {
    cursor: pointer;
  }

  .mark_criterion_holder_selected,
  .mark_level {
    background: #ccf;
  }

.mark_criterion_level {
  background: none;
  color: #000;
  font-size: 0.625em;
}

.mark_reset {
  background: none;
  color: #000;
  cursor: pointer;
  float: right;
  font-size: 0.625em;
}

.mark_criterion_level_selected {
  background-color: #ffc;
  font-size: 0.625em;
}

.mark_criterion_level_container {
  margin-left: 20px;
  margin-top: 10px;

  table {
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #dadada;
    padding: 4px;
  }

  td {
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    font-size: 1.1em;
    padding: 4px;
  }
}

.rubric_criterion_level {
  background: #fff;
}

.rubric_criterion_level_selected {
  background: #77fa52;
}

.rubric_criterion_level_old_mark {
  background: #fdfebc;
}

.mark_grade_input{
  font-size: 1em;
  margin: 1px 1px 4px;
  min-width: 0;
  padding: 2px;
}

  .editing {
    background: #f9ffb1;
    border: 1px dashed #d6de78;
  }

#selected_criterion_name {
  font-weight: bold;
}

.clear {
  clear: both;
}


/* Extra Mark holder */

.extra_mark_holder,
.link {
  background: #fbfbfb;
  border-bottom: 1px solid #dadada;
  min-width: 5px;
  padding: 5px;
}

  .extra_mark_title_div {
    cursor: pointer;
  }

  .extra_mark_holder_selected {
    background: #ccf;
  }

  .extra_mark_delete {
    float: right;
  }

  .extra_marks_pane {
    border: 1px solid #dadada;
  }

  .extra_marks_pane_list {
    border-bottom: 1px solid #dadada;
    margin: 0;
    padding: 0;
  }

/* Criterion summary holder */

.marks_summary_pane {
}

  .mark_summary_holder {
    background: #FBFBFB;
    border-bottom: 1px solid #dadada;
    padding: 5px;
  }

  .marks_summary_pane_list {
    margin: 0;
    padding: 0;

    th {
      background-color: #B7D3EC;
      padding: 5px;
    }
    tr {
      padding-left: 5px;
    }

    tr:nth-child(odd) {
      background: #EDEDED;
    }

    tr:nth-child(even) {
      background: #fff;
    }
  }

.mark_subtotal {
  font-weight: bold;
  padding: 10px 20px;
}

.mark_total {
  font-weight: bold;
  padding: 10px;
}
