@import 'common/core';

@import 'common/columns';

@import 'common/assignment_dropdown';


.col-left {
  width: 45%;
}

.col-right {
  width: 45%;
}

.col-center #icons {
  left: 50%;
}

.floatRight {
  float: right;
}
