@import 'common/core';

@import 'common/columns';

@import 'common/assignment_dropdown';

@import 'common/progress_bar';

.col-left {
  width: 45%;
}

.col-right {
  width: 45%;
}

.col-center #icons {
  left: 50%;
}

.floatRight {
  float: right;
}

.toolbar {
  display: none;
}

#viewerContainer {
  top: 0px;
}

#codeviewer {
  border-radius: 0px;
}

.display_pane {
  border: 1px solid $light-grey;
}

.input_pane {
  padding: 15px !important;
}

.input_pane input[type="text"] {
  margin-bottom: 5px;
  min-width: 50%;
}

.side_header {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* highlight results */
.ui-autocomplete span.hl_results {
  background-color: #ffff66;
}

/* scroll results */
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding for vertical scrollbar */
  padding-right: 5px;
}

.ui-autocomplete li {
  font-size: 16px;
  .stuid {
    font-size: 12px;
  }
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 250px;
}
