@import 'reset';
@import 'mixins';
@import 'constants';

@import 'core';
@import 'login';
@import 'navigation';

/* [TEMP] flexible criteria */

.wrapper {
  display: table;
  width: 100%;
}

#new_flexible_criterion {
  background: none;
  padding-right: 1em;

  #new_flexible_criterion_prompt {
    margin: 1em 0;
    width: 100%;
  }
}

#flexible_criteria_pane,
#flexible_edition_pane {
  display: table-cell;
  vertical-align: top;
}

#flexible_criteria_pane {
  width: 25%;
}

#flexible_edition_pane {
  @include border-radius(5px);
  display: table;
  width: 100%;
  border: 1px solid $grey;
  padding: 1em;
  margin-left: 2em;

  h2 {
    margin-bottom: 0.5em;
  }

  .float_right {
    float: right;
  }

  label {
    display: inline-block;
    font-weight: 600;
    min-width: 8em;

    & + input {
      margin-top: 0.5em;
    }
  }

  .criterion_description_edit {
    display: block;
    margin: 0.5em 0 1em;
  }

  input[type='submit'] {
    margin-top: 1em;
  }
}


/* [TEMP] annotation categories */


#add_annotation_category {
  background: none;
  padding-right: 1em;

  #add_annotation_category_prompt {
    margin: 1em 0;
    width: 100%;
  }
}

#annotations_pane,
#annotation_category_pane {
  display: table-cell;
  vertical-align: top;
}

#annotation_category {
  width: 25%;
}

#annotations_pane {
  padding-left: 2em;
  width: 75%;

  #annotation_list_holder {
    @include border-radius(5px);
    border: 1px solid $grey;
    padding: 1em;
  }

  .float_right {
    float: right;
  }

  fieldset {
    @include box-shadow(none);
    margin: 1em 0 2em;
    padding-top: 1.5em;

    input[type='text'] {
      margin: 0 1em;
    }
  }

  h2 a {
    font-size: 1rem;
  }
}

ul#annotation_list {
  padding-left: 0;

  li {
    border-bottom: 1px solid $grey;
    list-style: none;

    &:first-child {
      border-top: 1px solid $grey;
    }

    &#add_annotation_text,
    .edit_annotation_text {
      padding: 1em 0;

      textarea {
        margin-bottom: 1em;
      }
    }
  }

  textarea {
    width: 100%;
  }
}

.annotation_text_details {
  display: inline-block;
  font-style: italic;
  margin-left: 5px;
  min-width: 200px;

  .button_to {
    display: inline-block;
    margin-left: 0.25em;
  }
}

/** [TEMP] Dialog modal windows */

#about_dialog {
  width: 50%;
  max-height: 75%;

  #about_text {
    max-height: 200px;
    overflow: auto;
  }
}

.dialog {
  @include border-radius(5px);
  @include box-shadow(0 0 10px $grey);
  background: #fff;
  max-width: 100%;
  padding: 2.5em 1.5em;
  z-index: 10000;

  .dialog-actions {
    text-align: center;
    margin-top: 1.5em;

    button {
      margin: 0.5em;
    }

    div,
    input {
      display: inline-block;
    }
  }
}

/** [TEMP] Tab pane */

.columns {
  display: table;
  height: 100%;
  width: 100%;
}

.col-left,
.col-center,
.col-right {
  display: table-cell;
  vertical-align: top;
}

.col-left,
.col-right {
  width: 45%;
}

.col-center {
  width: 10%;

  #icons {
    left: 50%;
    margin-left: -25px;
    position: fixed;
    top: 50%;
  }

  .image_input {
    display: block;
    margin: 0.5em auto;
  }
}


.tab-pane {
  @include border-radius(5px);
  background: $light-grey;
  border: 1px solid $blue;
  padding: 0.5em;

  ul {
    margin: 0;
    padding: 0;

    li {
      @include border-radius-top(5px);
      background: $light-blue;
      display: inline-block;
      list-style: none;

      a {
        @include border-radius-top(5px);
        display: inline-block;
        outline: none;
        padding: 0.25em 1.5em;
      }

      &.ui-tabs-active {
        background: $primary-color;

        a {
          color: $grey;
        }
      }
    }
  }

  .ui-tabs-panel {
    @include border-radius-bottom(5px);
    background: $primary-color;
    padding: 0.5em;
  }
}

.tabbedArea {
  background: #fff;
}



/** [TEMP] Tables */

.table {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  overflow-x: auto;
  width: 100%;

  table {
    border-top: 1px solid $grey;
    width: 100%;

    thead,
    tfoot {
      background-color: $light-grey;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;

      .asc,
      .des {
        cursor: pointer;

        &::after {
          font-size: 0.75em;
          padding-left: 0.5em;
        }
      }

      .asc::after, {
        content: "▲";
      }

      .des::after {
        content: "▼";
      }
    }

    thead {
      border-bottom: 2px solid $grey;
    }

    tfoot {
      border-top: 2px solid $grey;
    }

    tr {
      border-bottom: 1px solid $grey;

      th,
      td {
        border-right: 1px solid $grey;
        padding: 0.5em 1em;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        @include transition(all, $time-quick);

        &:nth-child(odd) {
          background-color: #ff;
        }

        &:nth-child(even) {
          background-color: $light-grey;
        }

        &:hover {
          background: $light-blue;
        }
      }
    }
  }
}


/* [TEMP] Title Bar */

.title_bar {
  display: table;
  margin-bottom: 1.5em;
  width: 100%;

  span.menu_bar {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: normal;

    &::before {
      content: "|";
    }
  }

  input:hover,
  a:hover {
    background: none;
    border: none;
  }

  h1,
  .heading_buttons {
    display: table-cell;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .heading_buttons {
    text-align: right;
    vertical-align: middle;

    @include breakpoint(mobile) {
      text-align: left;
    }
  }
}


#new_files input {
  width: 300px;
}

.heading_buttons {
  display: inline-block;
  float: right;
  margin-top: 2.75em;
  text-align: right;
}

.wrapLeft,
.wrapRight {
  min-width: 75%;
}

.wrapLeftGroups,
.wrapRightGroups {
  min-width: 75%;
}

.colsLeftHeavy {
  min-width: 78.125em;
}

/* Left aligns show total checkbox on
   grade entry form properties */

#grade_entry_form_show_total {
  min-width: 0;
}


/* Global Action */

.global_action {
  display: inline;
}

.global_action_top {
  float: left;
  padding: 20px 0 0 0;
}

.global_action_bottom {
  float: left;
  padding: 0;
}

.global_action_left {
  float: left;
  padding: 10px 0;
}


/* Switch view*/

.switch_view {
  float: right;
  padding: 20px 0 0 0;
}


/* Toggle action */

#toggle_actions {
  display: inline;

  a {
    padding: 0 4px;
  }
}

.rubric_level_input {
  width: 35%;
  margin-bottom: 1.2em;
  margin-top: 2em;
}

.fit_to_space {
  min-width: 0;
  width: 90%;
}

.image_input {
  @include border-radius(0);
  background-color: transparent;
  border: transparent;
  font-weight: 600;
  margin: 0;
  min-width: 0;
  padding: 0;
}

.inline_checkbox,
.FilterTable_selectable,
.FilterTable_students_selectable,
.FilterTable_graders_selectable,
.FilterTable_groupings_selectable,
.FilterTable_criteria_selectable {
  min-width: 0;
}


/* Table */

.filter_selected {
  color: #000;
  font-weight: 600;

  &:hover {
    color: #000;
    cursor: default;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  tr td.loading,
  tr td:hover.loading {
    height: 30px;
    padding-left: 8px;
    border: 0;
    background-color: $primary-color;
  }
}

thead,
tfoot {
  background: #dfdfdf;
  text-align: left;

  a {
    color: $grey;
    font-weight: 600;
  }
}

thead {
  border-bottom: 1px solid #ccc;
}

th,
tfoot tr td {
  border: none;
  color: $grey;
  font-weight: 600;
  height: 18px;
  padding: 0.75em 0.5em;
}

th.center {
  text-align: center;
}

td {
  border: none;
  padding: 0.75em 0.5em;

  &.center {
    text-align: center;
  }

  p {
    margin: 0.5em 0 0 0;
  }
}

td.note {
  padding: 5px;
  text-align: left;

  form {
    display: inline-block;
    width: auto;
  }

  &:last-child {
    text-align: right;
  }
}

tbody tr {
  @include transition(all, $time-quick);
  border-bottom: 1px solid #ccc;

  &:first-child {
    border-top: 1px solid #ccc;
  }

  &:hover {
    background: #ececec;
  }
}

.table_menu {
  padding-left: 10px;

  a,
  button {
    color: $blue;
    font-size: 0.8em;
    font-family: $font-stack;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    background: none;
    border: none;
    padding: 2px;
    margin: 1px;
    min-width: 5px;

    &:hover {
      color: $hover;
    }

    &.delete:hover {
      color: #f00;
    }

    &.valid:hover {
      color: #0f0;
    }
  }
}

tr:hover .table_menu {
  visibility: visible;
}

.link {
  font-weight: 600;
  color: $blue;
  cursor: pointer;
  padding: 0.1em;
}

/* jQuery DataTable Plugin */
.dataTables_length {
  float: left;
}

.dataTables_filter {
  float: right;
}

table.display {
  thead th {
    padding: 3px 18px 3px 10px;
    border-bottom: 1px solid #000;
    font-weight: 600;
    cursor: pointer;
    *cursor: hand;
  }

  tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid #000;
    font-weight: 600;
  }

  tr.heading2 td {
    border-bottom: 1px solid #aaa;
  }

  td {
    padding: 3px 10px;
  }
}

.dataTables_info {
  float: left;
}

.dataTables_paginate {
  float: right;
  text-align: right;
}


/* Pagination nested */

.paging_two_button .ui-button {
  float: left;
  cursor: pointer;
  *cursor: hand;
}

.dataTables_paginate {
  width: auto;

  .ui-button {
    margin-right: -0.1em !important;
  }
}

.paging_full_numbers {
  width: 350px !important;

  .ui-button {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
  }
}

.dataTables_wrapper .ui-toolbar {
  padding: 5px;
}

.dataTables_info {
  padding-top: 3px;
}

div.dataTables_wrapper .ui-widget-header {
  font-weight: normal;
}

/* DataTable sort icon positioning */
div.DataTables_sort_wrapper span {
  display: inline-block;
}

table.display thead th div.DataTables_sort_wrapper {
  position: relative;
  padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}

/* Student's table */

tr.student_hidden {
  font-style: italic;
}


/* Grades table cell (user name, first name, last name) */

td.grades_table_cell {
  width: 10%;
}


/* Grades table checkbox */

td.grades_table_checkbox,
th.student_total {
  width: 7%;
  text-align: center;
}


/* Grade */

td.grade {
  width: 5%;
  text-align: center;

  input {
    min-width: 5%;
  }
}


/* Question total in grades table */
th.out_of {
  text-align: center;
  min-width: 80px;
}


/* A student's total mark in grades table */
td.student_total {
  text-align: center;

  input {
    background-color: transparent;
    border: none;
    color: #000;
    min-width: 7%;
    text-align: left;

    &:hover {
      background-color: transparent;
      border: none;
      color: #000;
      min-width: 7%;
      text-align: left;
    }
  }
}


/* Groups table*/

#checkbox {
  width: 2em;
  padding: 0;
}

#FilterTable_header_members {
  width: 55%;
}

#FilterTable_header_graders {
  width: 20%;
}

#FilterTable_header_valid {
  width: 2.5%;
}

#FilterTable_header_name {
  width: 35%;
}

#FilterTable_manage_graders_header_name {
  width: 32%;
}

#FilterTable_manage_graders_header_members {
  width: 40%;
}

#FilterTable_manage_graders_header_section {
  width: 12%;
}

#FilterTable_manage_graders_header_coverage,
#FilterTable_header_coverage {
  width: 8em;
}

input#extra_mark_description {
  width: 50%;
}

#add_extra_mark_prompt label {
  min-width: 20%;
}

.summary_block {
  border: 1px solid #ccc;
  float: right;
  line-height: 1.6em;
  margin: 5px 5px;
  min-width: 50%;
  padding: 5px;
}

.total_extra_points_label,
#total_extra_points {
  font-style: italic;
  margin: 2px 0;
  padding: 2px;
}

.status_inviter {
  font-style: italic;
  font-weight: 600;
}

.status_pending {
  font-style: italic;
}

.mark_total {
  @include border-radius(8px);
  background-color: #efefef;
  border: 1px solid #acacac;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
  padding: 10px;
}

.final_mark {
  float: right;
  font-size: 1.2em;
}

#current_total_mark_div {
  padding-left: 5px;
}

/* flash messages, & warning */
.banner {
  @include border-radius(5px);
  padding: 0.5em 2em;
  margin: 0.5em 0;
}

.success {
  @extend .banner;
  background: #bdfcc9 url(icons/accept.png) no-repeat 5px center;
  border: 1px solid #458b00;
}

.notice {
  @extend .banner;
  background: #ffffe0;
  border: 1px solid #e6db55;
}

.information {
  @extend .banner;
  background: #efefef url(icons/information.png) no-repeat 5px center;
  border: 1px solid #d1d1d1;
}

.help-icon {
  background: url(icons/help_icon.png) no-repeat;
  cursor: help;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  height: 28px;
  width: 28px;
}

.help {
  @extend .help-icon;
  float: right;
}

.title-help {
  @extend .help-icon;
  margin-left: 10px;
}

.help-message {
  @include border-radius(5px);
  background: #ffffe0;
  border: 1px solid #e6db55;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -15px;
  width: 350px;
}

.help-message-title {
  @extend .help-message;
  float: left;
  left: 35px;
}

.help-message-box {
  @extend .help-message;
  float: right;
  right: 35px;
}

.api_key_help a {
  font-size: 0.8rem;
}

.warning {
  @extend .banner;
  background: #ffffe0 url(icons/error.png) no-repeat 5px center;
  border: 1px solid #e6db55;
}

.error,
.errorExplanation {
  @extend .banner;
  background: #fbc5c5 url('icons/exclamation.png') no-repeat 5px center;
  border: 1px solid #cf3c2b;

  h1,
  h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    padding: 0.5em 0;
  }

  p {
    font-size: 1em;
    padding: 0.2em 0;
    margin: 0;
  }

  ul {
    font-size: 1em;
    margin: 0;
  }
}

.group form {
  margin: 0;
}

.fail-no-img {
  font-size: 80%;
  width: 250px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.cursor_hand {
  float: left;
  cursor: pointer;
}

.bonus_deduction {
  background-color: #b7d3ec;
  padding: 5px;
}

#standby_highlighting {
  background: yellow;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
}

.hidden_student {
  background: #ffa;
}

/* accordeon menu */
.left_section:hover .left_section_container {
  display: block;
}

.left_section_container {
  display: none;
}

#notes_dialog {
  .notes_existing {
    @include border-radius(10px);
    border: 2px solid #ccc;
    float: left;
    height: 248px;
    overflow: auto;
    width: 250px;
    word-wrap: break-word;
  }

  .notes_wrapper {
    display: table;
  }

  .notes_wrapper_row {
    display: table-row-group;
  }
}

.colLeftGroups,
.colRightGroups,
.colLeftGraders,
.colRightGraders {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
}

.colLeftGroups,
.colLeftGraders {
  min-width: 365px;
  width: 40%;
}

.colRightGroups,
.colRightGraders {
  width: 50%;

  @include breakpoint(large) {
    width: auto;
  }
}

.centreColumn {
  display: inline-block;
  overflow: hidden;
  width: 10%;

  @include breakpoint(large) {
    width: 65px;
  }

  #icons {
    position: fixed;
    text-align: center;
    top: 50%;
    width: 10%;

    @include breakpoint(large) {
      width: 65px;
    }
  }

  input {
    display: block;
    margin: 1em auto;
  }
}

.pane {
  @include border-radius(5px);
  background: #ececec;
  border: 1px solid $light-blue;
  margin: 0 0 10px 0;
  padding: 10px;
}

.globalActionIconsTop,
.globalActionIconsBottom {
  background: #dfdfdf;
  margin-bottom: -5px;
  margin-top: -5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}

.globalActionIconsTop {
  @include border-radius-top(5px);
}

.globalActionIconsBottom {
  @include border-radius-bottom(5px);
}


/* Student Interface: Assignment View*/

.block {
  @include border-radius(5px);
  border: 1px solid $light-blue;
  margin: 15px auto;
  padding: 0;
  width: 95%;

  h2 {
    @include border-radius-top(5px);
    background: #eee;
    border-bottom: 1px solid #ccc;
    color: $grey;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: 0.75em 10px;
  }
}

.block h3,
.section h3,
#section h3 {
  border-bottom: 1px solid #ccc;
  color: $grey;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0.5em 0.1em;
}

.block_content {
  padding: 10px 15px;

  li {
    margin-bottom: 0.5em;
    margin-left: -1em;
  }

  /* Invite button */
  input[type=button] {
    margin-bottom: 2em;
  }
}

.block_line {
  border-top: 1px solid #ccc;
  display: block;
  margin: 5px;
}

.sub_block {
  margin: 0 0 1em 0;
}

div.sub_block {
  span.prop_label {
    display: inline-block;
    font-weight: 600;
    min-width: 150px;

    @include breakpoint(small) {
      display: block;
      min-width: 0;
    }
  }

  span.box {
    display: inline-block;
  }
}

#member_inviter {
  font-weight: 600;
}

.membership_status_pending {
  font-style: italic;
}

.membership_status_rejected {
  color: $grey;
  font-style: italic;
}

span.info_red,
span.info {
  font-size: 1em;
  line-height: 1.5em;
}

span.info_red {
  color: #f00;
}

span.info_number  {
  font: 1.5em/1.5em $font-stack;
  margin-right: 5px;
}

span.info_date{
  font: 300 1.2em/1.5em $font-stack;
  margin-right: 5px;
}

.section {
  .info_date {
    margin-left: 10px;
  }

  li {
    padding: 0.5em 0;
  }
}

a.assignment_list {
  display: inline-block;
  font-size: 1.2em;
  min-width: 15em;
}

span.title{
  border-bottom: 1px solid #ccc;
  color: $grey;
  display: block;
  font-family: $font-stack;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 100%;
}

/* Submissions table */
td#thinking_table_row {
  text-align: center;
}

.ap_filters {
  float: right;
  padding: 5px;
}

.ap_page_links {
  float: right;
}

.ap_selector {
  float: left;
}

#ap_select_all_div,
#ap_select_full_div {
  background: #FFFFE0;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

.ap_prev_link {
  margin-right: 15px;
}

.ap_next_link {
  margin-left: 15px;
}

th.ap_sorting_by {
  background: url('icons/bullet_arrow_up.png') no-repeat left;
  color: #000;
  padding-left: 1.3em;

  a {
    background: none;
    color: #000;
    font-weight: 600;
  }
}

th.ap_sorting_by_desc {
  background: url(icons/bullet_arrow_down.png) no-repeat left;
  color: #000;
  padding-left: 1.3em;
}

.ap_nav_box {
  border: 1px solid #ddd;
  padding: 0.5em;
  width: 100%;
}

/* end Submissions table */

/* Submission's file_manager*/
th#FilterTable_header_filename {
  width: 30%;
}

th#FilterTable_header_last_modified_date {
  width: 20%;
}

th#FilterTable_header_revision_by {
  width: 20%;
}

th#FilterTable_header_delete_file,
td#FilterTable_footer_delete_file {
  text-align: center;
}

th#FilterTable_header_filename:hover,
th#FilterTable_header_revision_number:hover,
th#FilterTable_header_revision_by:hover,
th.FilterTable_sortable:hover,
tfoot tr td:hover {
  cursor: pointer;
  color: #000;
}

.FilterTable_header,
.FilterTable_footer,
#list td {
  padding-left: 1.3em;
}

th.FilterTable_sorting_by,
tfoot tr td.FilterTable_sorting_by {
  background-image: url('icons/bullet_arrow_up.png');
  background-position: left;
  background-repeat: no-repeat;
  color: #000;
}

th.FilterTable_sorting_by_reverse,
tfoot tr td.FilterTable_sorting_by_reverse {
  background-image: url(icons/bullet_arrow_down.png);
  background-position: left;
  background-repeat: no-repeat;
  color: #000;
}

tfoot tr td {
  vertical-align: middle;
}

td a {
  text-transform: none;
}

td.delete_row {
  text-align: center;
}

td.grade_entry_form_results_name {
  width: 27%;
}

td.grade_entry_form_result {
  width: 40%;
}

/* Grader's view*/

#file_selector button {
  min-width: 8px;
}

/* floating object */
.column_floatRight,
.column_floatLeft {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  @include breakpoint(small) {
    display: block;
    width: 100%;
  }
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.search_box {
  overflow: hidden;
  padding: 0.5em 0.25em;
}

.invisible_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#working {
  @include border-radius(5px);
  @include box-shadow(0 0 5px 0 $light-blue);
  background: $light-blue;
  border: 1px solid $blue;
  color: $primary-color;
  font-size: 1.25em;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5em;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 1.5em;
  width: 15em;
  z-index: 99999;

  #ellipsis {
    display: inline-block;
    text-align: left;
    width: 1em;

    &::after {
      -webkit-animation: ellipsis 2s infinite;
      -moz-animation: ellipsis 2s infinite;
      -ms-animation: ellipsis 2s infinite;
      -o-animation: ellipsis 2s infinite;
      animation: ellipsis 2s infinite;
      content: "\2026";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}

@-webkit-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-moz-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-ms-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@-o-keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}
@keyframes ellipsis {
  from { width: 2px; }
  to   { width: 1em; }
}


a.icon_remove {
  background: url('icons/cancel.png') no-repeat;
  height: 20px;
  text-indent: -3000em;
  width: 20px;

  &:hover {
    background: url('icons/cancel.png') no-repeat;
  }
}



/* Annotation category*/

#annotation_list_holder {
  h2 {
    margin: 0;
  }
}

ul#annotation_list {
  list-style: none;

  li {
    border-bottom: 1px solid #ccc;
  }

  textarea {
    width: 90%;
  }
}

.annotation_texts_size {
  color: $grey;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 5px;
}

.annotation_text_authors {
  color: $grey;
  display: inline-block;
  font-style: italic;
  margin-left: 5px;
  width: 200px;
 }

/* Admin interface: Assignment View*/
.disable {
  color: $grey;
  font-style: italic;
}

.assignment_info {
  font-size: 0.9em;
  font-style: italic;
}

fieldset.period {
  margin: 10px 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.PeriodDeltaChain {
  font-size: 0.9em;
  font-style: italic;
  padding-left: 10em;
}

.PeriodDeltaChain_ToTime,
.PeriodDeltaChain_FromTime {
  font-weight: 600;
  padding: 0 10px;
}

span.due_date {
  color: $grey;
  display: block;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 5px;
  padding-left: 5px;
}

#penalty_periods,
#grace_periods,
#penalty_decay_periods {
  margin-left: 5em;
  width: 80%;
}

#sub_rule_link {
  margin-left: 5em;
}

#grade_entry_items {
  width: 500px;
}

#rubric_viewer {
  #criteria_pane{
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table,
  table tr {
    background: $primary-color;
    padding: 4px;
  }
}

.fieldWithErrors {
  label{
    font-style: italic;
  }

  input{
    border: 2px solid #e6cb55;
  }
}

fieldset.disabled {
  background-color: #eee;
  font-style: italic;
}

.disabled label,
.disabled span,
.disabled p{
  color: $grey;
  font-style: italic;
}

.invalid,
.required_field {
  color: #f00;
}

.required_field {
  margin-left: 0.25em;
}

.hidden {
  display: none;
}

#api_key_box {
  @include border-radius(5px);
  border: 1px solid #ccc;
  overflow: auto;
  padding: 0.75em;

  #api_key,
  form {
    display: inline-block;
    width: auto;
  }
}

div#test_results_controls {
  display: inline;
  margin-left: 30px;
}

form#grader_view_file_selector_form {
  display: inline;
}

pre#test_result_content {
  font-size: 1.3em;
}

/* For the passed due date in dashboard. */
.red {
  color: red;
}

.graph_layout {
  height: 350px;
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}

/* Dashboard Assignment Summary */
#assignment_summaries {
  text-align: center;
}

.assignment_summary {
  @include border-radius(5px);
  background-color: $light-grey;
  border: 1px solid $light-blue;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: auto;

  .left {
    display: inline-block;
    width: 400px;
  }

  .right {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    width: 250px;
  }

  .title {
    color: #0a67ad;
    font-weight: 300;
    margin: 0 0 15px 0;
    padding: 0;
  }

  .due_date {
    font-weight: 600;

    .after {
      color: red;
    }

    .before {
      color: green;
    }
  }

  table {
    tr {
      border: none;

      td {
        border: none;
        padding-right: 10px;
      }
    }
  }

  ul {
    list-style-type: square;
    margin-top: 0;
  }

  .grader_distribution {
    margin-bottom: 0;
  }
}

#section_due_dates_type_form {
  margin-top: 10px;
}

.section_due_date_form {
  margin-left: 60px;
}

#current_time {
  padding: 0 0 10px 0;
}

.table-button {
  margin: 2px;
  min-width: 0;
  padding: 2px;
}


/* Error status page */

#error {
  height: 4em;
  margin-top: -2em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
