@import 'common/core';


.table {
  margin-top: $dimen-vertical;
}

.button_to {
  display: inline-block;
}

fieldset {
  padding-top: 0;
}

input[type='submit'] {
  display: inline-block;
  width: auto;
}

table {
  td {
    padding-bottom: 1em;
    padding-right: 1em;
  }
}
