@import 'common/core';
@import 'common/assignment_dropdown';

.peer-review-amount-spinner {
  background-color: $background-support;
  border: $line 1px solid;
  padding: 5px;
}

.peer-review-amount-spinner input {
  margin-left: 5px;
}
