@import 'common/core';
@import 'common/assignment_dropdown';
@import 'automated_tests';

#remark_request {
  h3 + h3 {
    margin: 1em 0 0.5em;
  }
}

#standby_highlighting {
  background: $light-yellow;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
}

.no_tags_hidden {
  display: none;
}

.no_tags {
  display: inline;
}

.wrapper_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top_bar {
  background-color: #e8f4f2;
}

.title_bar {
  margin-bottom: 0 !important;
}

.download_text a{
  line-height: 32px;
}

.logo {
  display: flex;
  flex-grow: 1;
}

#content {
  z-index: auto !important;
}

.expanded_view {
  z-index: auto !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 !important;
}

.wrapLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.expanded_view .page {
  margin: 0 auto;
  border: none;
}

#help_dialog table {
  margin-top: 10px;

  tr {
    height: 28px;

    td {
      width: 50%;

      kbd {
        padding:0.2em 0.6em;
        -moz-border-radius:3px;
        -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        -webkit-border-radius:3px;
        -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        background-color:#f7f7f7;
        border:1px solid #ccc;
        border-radius:3px;
        box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        color:#333;
        display:inline-block;
        font-family: Arial,Helvetica,sans-serif;
        font-size:11px;
        line-height:1.4;
        margin:0 .1em;
        text-shadow:0 1px 0 #fff;
      }
    }
  }
}

.rt-td.hidden {
  display: block;
}

.actual_output {
  white-space: normal !important;
}

#image_container {
  position: relative;
}

.remove-icon::before {
  content: asset_url('icons/cross.png');
  padding-right: 5px;
  vertical-align: middle;
}

.edit-icon::after {
  content: asset_url('icons/pencil.png');
  padding-left: 5px;
  vertical-align: text-top;
}

.button.previous::before {
  content: asset_url('icons/arrow_left.png');
  padding-right: 5px;
  vertical-align: top;
}

.button.next::after {
  content: asset_url('icons/arrow_right.png');
  padding-left: 5px;
  vertical-align: top;
}

.set-complete::before {
  content: asset_url('icons/accept.png');
  padding-right: 5px;
  vertical-align: top;
}

.set-incomplete::before {
  content: asset_url('icons/pencil.png');
  padding-right: 5px;
  vertical-align: top;
}

.release::before {
  content: asset_url('icons/email_go.png');
  padding-right: 5px;
  vertical-align: top;
}

.fullscreen-enter::before {
  content: asset_url('icons/fullscreen_enter.png');
  padding-right: 5px;
  vertical-align: middle;
}

.fullscreen-exit::before {
  content: asset_url('icons/fullscreen_exit.png');
  padding-right: 5px;
  vertical-align: middle;
}
