@import 'common/core';
@import 'common/assignment_dropdown';
@import 'common/progress_bar';
@import 'automated_tests';

#remark_request {
  h3 + h3 {
    margin: 1em 0 0.5em;
  }
}

#standby_highlighting {
  background: $light-yellow;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
}

.no_tags_hidden {
  display: none;
}

.no_tags {
  display: inline;
}

.wrapper_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top_bar {
  background-color: #e8f4f2;
}

.title_bar {
  margin-bottom: 0 !important;
}

.results_title_bar {
  display: flex;
  flex-direction: row;
  height: 34px;
  padding: 0 3.5em;
  border-bottom: 2px solid #89b1dd;
}

.flex_vertical_center {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.download_text a{
  line-height: 32px;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.title_text {
  display: flex;
  flex-grow: 5;
}

.header_text_links {
  display: flex;
  margin-left: 20px;
}

#content {
  z-index: auto !important;
}

.expanded_view {
  z-index: auto !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 !important;
}

.wrapLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#results-logo-img {
  display: block;
  margin: 0 auto;
  background: transparent asset-url('markus_logo_small.png') no-repeat center center / 90px 30px;
  height: 30px;
  width: 90px;

  @include hidpi {
    background-image: asset-url('markus_logo_small@2x.png');
  }
}

.expanded_view .page {
  margin: 0 auto;
  border: none;
}

#help_dialog table {
  margin-top: 10px;

  tr {
    height: 28px;

    td {
      width: 50%;

      kbd {
        padding:0.2em 0.6em;
        -moz-border-radius:3px;
        -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        -webkit-border-radius:3px;
        -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        background-color:#f7f7f7;
        border:1px solid #ccc;
        border-radius:3px;
        box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
        color:#333;
        display:inline-block;
        font-family: Arial,Helvetica,sans-serif;
        font-size:11px;
        line-height:1.4;
        margin:0 .1em;
        text-shadow:0 1px 0 #fff;
      }
    }
  }
}

.rt-td.hidden {
  display: block;
}

.actual_output {
  white-space: normal !important;
}

.remove-icon::before {
  content: asset_url('icons/cross.png');
  padding-right: 5px;
  vertical-align: middle;
}

.edit-icon::after {
  content: asset_url('icons/pencil.png');
  padding-left: 5px;
  vertical-align: text-top;
}

.fullscreen-enter::before {
  content: asset_url('icons/fullscreen_enter.png');
  padding-right: 5px;
  vertical-align: middle;
}

.fullscreen-exit::before {
  content: asset_url('icons/fullscreen_exit.png');
  padding-right: 5px;
  vertical-align: middle;
}
