@import 'common/core';
@import 'common/assignment_dropdown';
@import 'automated_tests';

#remark_request {
  h3 + h3 {
    margin: 1em 0 0.5em;
  }
}

#standby_highlighting {
  background: $light-yellow;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
}

.no_tags_hidden {
  display: none;
}

.no_tags {
  display: inline;
}

.run_tests {
  margin-bottom: 5px !important;
}

.test_points {
  font-size: large;
}
