@import 'common/core';
@import 'common/assignment_dropdown';
@import 'automated_tests';

#remark_request {
  h3 + h3 {
    margin: 1em 0 0.5em;
  }
}

#standby_highlighting {
  background: $light-yellow;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
}

#old_summary_criteria_pane .summary_block{
  background: $light-yellow;
}

.no_tags_hidden {
  display: none;
}

.no_tags {
  display: inline;
}

.run_tests {
  margin-bottom: 5px !important;
}

.test_points {
  font-size: large;
}

.wrapper_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top_bar {
  background-color: #e8f4f2;
}

.title_bar {
  margin-bottom: 0 !important;
}

.results_title_bar {
  display: flex;
  flex-direction: row;
  height: 34px;
  padding: 0 3.5em;
  border-bottom: 2px solid #89b1dd;
}

.flex_vertical_center {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.title_text {
  display: flex;
  flex-grow: 5;
}

.header_text_links {
  display: flex;
  margin-left: 20px;
}

#content {
  z-index: auto !important;
}

.expanded_view {
  z-index: auto !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5em !important;
}

.wrapLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#results-logo-img {
  display: block;
  margin: 0 auto;
  background: transparent url(markus_logo_small.png) no-repeat center center / 90px 30px;
  height: 30px;
  width: 90px;

  @include hidpi {
    background-image: url(markus_logo_small@2x.png);
  }
}
