@import 'constants';
@import 'mixins';

/* [TEMP] Rubrics styling */

.wrapper {
  display: table;
  width: 100%;
}

#new_rubric_criterion {
  background: none;
  padding-right: 1em;

  #new_rubric_criterion_prompt {
    margin: 1em 0;
    width: 100%;
  }
}

#rubric_criteria_pane,
#rubric_levels_pane {
  display: table-cell;
  vertical-align: top;
}

#rubric_criteria_pane {
  width: 25%;
}

#rubric_levels_pane {
  @include border-radius(5px);
  display: table;
  width: 100%;
  border: 1px solid $grey;
  padding: 1em;
  margin-left: 2em;

  h2 {
    margin-bottom: 0.5em;
  }

  .float_right {
    float: right;
  }

  label.bold_inline_label {
    display: inline-block;
    font-weight: 600;
    min-width: 8em;

    & + input {
      margin-top: 0.5em;
    }
  }

  .main_rubric_criteria_edit {
    display: table-cell;
    padding-right: 1em;
    width: 250px;

    span {
      display: block;
      margin-bottom: 0.25em;
    }
  }

  .rubric_criteria_levels {
    border-left: 1px solid $grey;
    display: table-cell;
    padding-left: 1em;

    .rubric_level_header {
      margin-bottom: 0.5em;
    }

    input {
      margin-bottom: 0.5em;
    }

    textarea {
      height: 150px;
      margin-bottom: 1.5em;
      width: 100%;
    }
  }
}
