#rubric_status_pane {
        float: right;
        text-align: right;
}

#rubric_criteria_pane, #flexible_criteria_pane, #rubric_levels_pane {
  border: 2px solid #DADADA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-bottom: 0;
  float: left;
  margin: 10px 0 20px 30px;
  width: 45%;
}

#rubric_criteria_pane_menu, #flexible_criteria_pane_menu, #rubric_levels_pane_menu, #flexible_edition_pane_menu {
   background: #ccc;
}

#rubric_criteria_pane_menu h2, #flexible_criteria_pane_menu, #rubric_levels_pane_menu h2, #flexible_edition_pane_menu h2 {
  border-bottom: 2px solid #DADADA;
  color: #000;
  margin: 0;
  padding: 10px;
}

  #rubric_criteria_pane_menu h2#rubricCriteria {
    float: left;
    width: 70%;
  }

  #rubric_criteria_pane_menu span#addCriterion {
    display: block;
    float: right;
    text-align: right;
    padding: 10px;
  }

    #rubric_criteria_pane_menu span#addCriterion a {
        -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
	font-weight: bold;
        border: 2px solid #464646;
        padding: 3px 10px;
    }

ul#rubric_criteria_pane_list, ul#flexible_criteria_pane_list, ul#rubric_levels_pane_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

  #rubric_levels_pane_list .rowA { background: #FFFCC4; }
  #rubric_levels_pane_list .rowB { background: #FFFBB6; }

/* ================ CRITERIONS ============== */

  .criterion_holder {
    border-bottom: 1px solid #DADADA;
    padding: 10px;
  }

  .criterion_title_div {
    cursor: pointer;
  }

  .criterion_holder_selected {
    background: #FFFAA8;
  }

/* ============= CRITERIONS EDITING ========== */

  .criterion_input_name, .level_input_name, .criterion_input_weight {
    background: #fff;
  }

  .editing {
        background: #f9ffb1;
        border: 1px dashed #d6de78;
  }

  .criterion_delete {
        float: right;
  }
  .criterion_input_name {
          width: 300px;
          float: left;
  }
  .criterion_input_weight {
    width: 50px;
    display: inline;
    text-align: center;
  }

  .criterion_textarea_description, .level_textarea_description {
    background: #fff;
    width: 400px;
    padding: 10px
  }

/* ================= LEVELS ================= */

  .rubric_level {
    padding: 5px;
    border-bottom: 1px solid #DADADA;
    padding: 10px;
  }

  #rubric_criteria_pane_instructions {
          border: 1px solid #7777FF;
          background: #DDDDFF;
          padding: 10px;
          font-weight: bold;
  }
  #rubric_status {
          font-weight: bold;
          padding-left: 10px;
          padding-right: 10px;
  }
  #selected_criterion_name {
          font-weight: bold;
  }

  .clear {
          clear: both;
  }
  .error {
      width: 350px;
  }
