@import 'common/core';
@import 'common/assignment_dropdown';
@import 'common/modals';

#disable {
  color: $secondary-one !important;
}

.react_buttons {
  margin-bottom: 1em;

  button {
    margin-right: 1em;
  }
}

#file_form {
  margin-top: 1em;
}

.submission_collected {
  background-color: $confirmed !important;
}

.submission_error {
  background-color: $light-red !important;
}

/* Tag CSS Elements */

.tag_list {
  text-align: left;
  list-style: none;
  margin: 0px;
  cursor: pointer;

  li {
    margin-left: -40px;
    position: left;
    transition: all 0.2s;

    &:hover {
      color: $primary-one;

      // When hover is activated on li, shows the menu
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    ul {
      background-color: $background-main;
      cursor: pointer;
      list-style: none;
      margin: 0;
      opacity: 0;
      position: absolute;
      text-align: left;
      transition: all 0.2s;
      visibility: hidden;

      li {
        color: $primary-one !important;
        padding: 2px;
        text-align: left;

        &:hover {
          background-color: $line;
        }
      }
    }
  }
}

// Removes CSS formatting for titles and search bars
.tag_list_search:hover,
.tag_list_title:hover {
  background-color: $background-main !important;
  cursor: default !important;
}

#file_manager {
  fieldset {
    box-shadow: none;
    margin-bottom: 1em;
  }

  input[type=checkbox] {
    margin-right: 3px;
  }
}

/* Student view */

#current_time {
  margin-bottom: 1em;
}

.global_action {
  margin: 1em 0;
}
