@import '../mixins';
@import '../constants';

/* Goes around the whole tab component, including the tabs. */
.tabbedContainer {
  @include border-radius(5px);
  background: #ececec;
  border: 1px solid #ddd;
  margin: 0;
  padding: 10px;
}

/* Goes around each content area that is associated with a tab. */
.tabbedArea {
  @include border-radius-bottom(5px);
  background: #fff;
}

ul.subsection_tabs {
  border-bottom: 1px solid #fff;
  height: 27px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &.tab {
      @include border-radius-top(5px);
      background: $light-blue;
      display: inline-block;
      text-align: center;

      a {
        @include border-radius-top(5px);
        background: $light-blue;
        color: #fff;
        display: block;
        height: 26px;
        padding: 4px 10px 0 10px;

        &.active,
        &:hover,
        &:focus {
          background: #fff;
          color: #000;
        }

        &.active {
          font-weight: 400;
        }
      }
    }

    &.tab_selected {
      @include border-radius-top(5px);
      background: #fff;
      float: left;
      margin: 0 2px 0 0;
      text-align: center;
    }

    &.button_tab {
      float: left;
      margin: -10px 25px 0 0;
      position: absolute;
      right: 0;
    }

    &.source_code {
      float: right;
    }
  }
}
