<h1>Your Key Pairs</h1>

<br>

<table>
  <tr>
    <th>Time of upload</th>
    <th>Key Content</th>
    <th></th>
  </tr>


<% @key_pairs.each do |key_pair, key_string| %>
  <tr>
    <td><%= key_pair.created_at %></td>
    <td><textarea cols="55" rows="10"><%= key_string %></textarea></td>
    <td><%= link_to 'Remove Key', key_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Key pair', new_key_pair_path %>
