<div id="annotation_list_holder">
  <fieldset>
    <%= render :partial => "annotation_categories/annotation_category_edit", :locals => {:annotation_category => annotation_category}
    %>
  </fieldset>
<h2>Annotations</h2>
<ul id="annotation_list">
<% @annotation_texts.each do |annotation_text| %>
  <%= render :partial => 'annotation_text', :locals => {:annotation_text => annotation_text} %> 
<% end %>
</ul>
<div id="add_annotation_text_control">
   <%=link_to_function "Add Annotation", %| if($('add_annotation_text_prompt') != null) {
          $('add_annotation_text_prompt').select();
          $('add_annotation_text_prompt').focus();
        } else {
        #{remote_function :url => {:action => "add_annotation_text", :id => @annotation_category.id}, :method => 'get'}
        }|%>
  
</div>
</div>
