<div class="annotation_category_edit">
 <div class="float_right">
   <%= link_to_remote "Delete annotation category",
        :url => {:action => "delete_annotation_category",
	         :id => @annotation_category.id},
	:confirm => t('annotations.delete.annotation_category'),
	:html => {:class => 'delete'}
   %>
 </div>

 <span id="annotation_category_inputs">
   <label>Annotation category</label>
   <input type="text" class="annotation_category_input_name"></input>
 </span>
</div>

