<li id='annotation_category_<%= annotation_category.id %>'>
  <span>
    <%= link_to truncate(annotation_category.annotation_category_name, length: 30),
                [@assignment, annotation_category],
                remote: true %>
  </span>
  <span class='right'>
    (<%= annotation_category.annotation_texts.size %>)
  </span>
</li>
