<div id='annotation_list_holder'>
  <%= render partial: 'annotation_categories/annotation_category_edit',
             locals: { annotation_category: annotation_category } %>
  <h2>
    Annotations
    <% path = new_annotation_text_assignment_annotation_categories_path(
      assignment_id: annotation_category.assignment.id,
      annotation_category_id: annotation_category.id
    ) %>
    <%= link_to t('annotation_categories.add_annotation'),
                'javascript:void(0);',
                onclick: "add_annotation_prompt('#{path}')" %>
  </h2>

  <div id='add_annotation_text_control'></div>

  <ul id='annotation_list'>
    <%= render partial: 'annotation_text',
               collection: annotation_category.annotation_texts %>
  </ul>
</div>
