<div id='annotation_list_holder'>
  <%= render partial: 'annotation_categories/annotation_category_edit',
             locals: { annotation_category: annotation_category } %>
  <h2>
    Annotations
    <% path = add_annotation_text_assignment_annotation_category_path(
            id: annotation_category.id) %>
    <%= link_to t('annotations.update.add_annotation'),
                'javascript:void(0);',
                onclick: "add_annotation_prompt('#{path}')" %>
  </h2>

  <div id='add_annotation_text_control'></div>

  <ul id='annotation_list'>
    <%= render partial: 'annotation_text',
               collection: annotation_category.annotation_texts %>
  </ul>
</div>
