<div class='listings sorted-list sortable'>
  <header>
    <span><%= AnnotationCategory.model_name.human %></span>
  </header>
  <ul id='annotation_category_pane_list'>
    <% if @annotation_categories.length > 0 %>
      <% @annotation_categories.each do |annotation_category| %>
        <%= render partial: 'annotation_category',
                   locals: { annotation_category: annotation_category } %>
      <% end %>
    <% else %>
      <div id='no_annotation_categories_info' class='information'>
        <%= t('annotation_categories.none') %>
      </div>
    <% end %>
  </ul>
</div>
<div class="listings separate-listing">
  <%= render partial: 'uncategorized_annotations',
             locals: { assignment: @assignment } %>
</div>
