<li id="annotation_category_<%=annotation_category.id%>">
<span class="float_left"><%= link_to_remote annotation_category.annotation_category_name, :url => {:action => 'get_annotations', :id => annotation_category.id} %>
</span>
<span class="annotation_texts_size">
(<%= annotation_category.annotation_texts.size() %>)
</span>

</li>
