<li id='add_annotation_category'>
  <%= form_for :annotation_category,
               url: { action: 'create' },
               remote: true do |f| %>
    <div class='error' style='display:none;' id='new_annotation_category_error'></div>

    <%= f.label :annotation_category_name, t('annotations.name') %>
    <%= f.text_field :annotation_category_name,
                     size: 20 %>
    <%= f.submit t(:save) , data: { disable_with: t('working') } %>
  <% end %>
</li>
