<li id="add_annotation_category">
<%= form_for :annotation_category,
  	     :url => {:action => 'add_annotation_category',
	 	      :id => assignment_id},
	     :remote => true do |f| %>
  <div class="error" style="display:none;" id="new_annotation_category_error"></div>
  <%= label_tag "add_annotation_category_prompt", t("annotations.name") %>
  <br>
  <%= f.text_field :annotation_category_name,
		   :id => "add_annotation_category_prompt",
		   :size => 20 %><br>
  <%= f.submit t(:save) , :'data-disable-with' => I18n.t('working')%>
<% end %>
</li>
