<div id='annotation_list_holder'>
  <div>
    <h2 class='display-inline'>
      <%= t('annotations.uncategorized') %>
    </h2>
    <div class='float-right'>
      <%= link_to "Download One Time Annotations",
                  {action: 'onetime_annotation_download',
                   id: @assignment.id,
                   format: 'csv'},
                  class: 'button' %>
      </div>
  </div>

  <% if texts.empty? %>
    <p>
      <%= t('annotations.empty_uncategorized') %>
    </p>
  <% else %>
    <ul id='annotation_list'>
      <%= render partial: 'annotation_text',
                 collection: texts %>
    </ul>
  <% end %>
</div>
