<div id='annotation_list_holder'>
  <div>
    <h2 class='display-inline'>
      <%= t('annotations.uncategorized') %>
    </h2>
    <div class='float-right'>
      <%= link_to t('annotations.download_one_time_annotations'),
                  {action: 'uncategorized_annotations',
                   format: 'csv'},
                  class: 'button' %>
      </div>
  </div>
  <div id='one_time_annotations_table'></div>
</div>
