<div id='annotation_list_holder'>
  <h2>
    <%= t('annotations.non_categorized') %>
  </h2>
  <% if texts.empty? %>
    <p> There are no non categorized annotations :'( </p>
  <% else %>
    <ul id='annotation_list'>
      <%= render partial: 'annotation_text',
                 collection: texts %>
    </ul>
  <% end %>
</div>
