<div id='annotation_list_holder'>
  <h2>
    <%= t('annotations.non_categorized') %>
  </h2>
  <% if texts.empty? %>
    <p>
      <%= t('annotations.empty_uncategorized') %>
    </p>
  <% else %>
    <% text_info =  AnnotationText.joins(annotations: { result: { grouping: :group } })
                                  .joins('INNER JOIN users ON annotation_texts.creator_id = users.id')
                                  .where('annotation_texts.annotation_category_id': nil,
                                         'groupings.assessment_id': params[:assignment_id])
                                  .order('users.user_name', 'results.id')
                                  .pluck_to_hash('groups.group_name AS group_name',
                                                 'groupings.assessment_id AS assignment_id',
                                                 'results.id AS result_id',
                                                 'results.submission_id AS submission_id') %>
    <ul id='annotation_list'>
      <%= render partial: 'annotation_text',
                 collection: texts,
                 locals: { text_info: text_info } %>
    </ul>
  <% end %>
</div>
