<li id='uncategorized'>
  <span>
    <%= link_to 'Uncategorized Annotations',
                controller: 'annotation_categories',
                action: "uncategorized_annotations",
                remote: true %>
  </span>
  <span class='right'>
    (<%= AnnotationText.where(annotation_category: nil).count %>)
  </span>
</li>
