<% Assignment.all.each do |assignment|%>
  <% if assignment != @assignment %>
    <% if controller.controller_name == 'assignments' %>
      <li class="level2"><%= link_to h(assignment.name), :controller => 'assignments',
      :action => 'edit', :id => assignment.id %></li>
    <% elsif controller.controller_name == 'submissions' %>
      <li class="level2"><%= link_to h(assignment.name), :controller => 'submissions',
      :action => 'browse', :id => assignment.id %></li>
    <% elsif controller.controller_name == 'groups' %>
      <li class="level2"><%= link_to h(assignment.name), :controller => 'groups',
      :action => 'manage', :id => assignment.id %></li>
    <% elsif controller.controller_name == 'rubrics' %>
      <li class="level2"><%= link_to h(assignment.name), :controller => 'rubrics',
      :action => 'index', :id => assignment.id %></li>
    <% end %>
  <% end %>
<% end %>

