<div class="section">

  <% if @assignments.empty? %>
  
    <p>There are currently no assignments.</p>
    
  <% else %>
  
    <p>Current assignments:</p>
  
    <ul>
    
    <% for assignment in @assignments %>
      <li>
        <%= link_to h(sanitize(assignment.short_identifier)), 
            :controller => controller, 
            :action => action, 
            :id => assignment  %>:  <%= h(assignment.description) %>
      </li>
    <% end %>
    
    </ul>
  <% end %>
</div>
