<a href="<%= root_url %>"><%= image_tag 'markus_logo_small.png' %></a>
<% # TODO: The following requires restful routes, which we don't have yet
s = ""
url = request.path.split('?')  #remove extra query string parameters
levels = url[0].split('/') #break up url into different levels
levels.each_with_index do |level, index|
  unless level.blank?
    if index == levels.size-1 || 
       (level == levels[levels.size-2] && levels[levels.size-1].to_i > 0)
	s += "#{level.gsub(/_/, ' ')} \n" unless level.to_i > 0
    else
        link = "/"
        i = 1
        while i <= index
          link += "#{levels[i]}/"
          i+=1
        end
        s += "<a href=\"#{link}\">#{level.gsub(/_/, ' ')}</a> >\n"
    end
  end
end
s
-%>

