<footer>
  <%= link_to t(:about_markus),
              about_main_index_path,
              remote: true %>

  <% if @current_user.admin? or @current_user.ta? %>
    <span class="issues">
      <a href="https://github.com/MarkUsProject/Markus/issues/"><%= t(:issues) %></a>
    </span>
  <% end %>
</footer>
