<footer>
  <%= link_to t(:about_markus),
              about_main_index_path,
              remote: true %>

  <% if @current_role && ( @current_role.admin? or @current_role.ta? ) %>
    <span class="issues">
      <a href="https://github.com/MarkUsProject/Markus/issues/"><%= t(:issues) %></a>
    </span>
  <% end %>
</footer>
