<footer>
  <%= link_to t(:about_markus),
              about_main_index_path,
              remote: true %>

  <span class="issues">
    <a href="https://github.com/MarkUsProject/Markus/issues/"><%= t(:issues) %></a>
  </span>
</footer>
