<div id="header">  
  <div id="user_info">
    Logged in as <span id="user_name"><b><%= h( @current_user.first_name + " " + @current_user.last_name ) %></b> <%= h( "(" + @current_user.user_name + ")" ) %></span> | 
    <%= link_to "Log out", :controller => 'main', :action => 'logout' %>
  </div>
  <div id="working" style="display:none;">
    Working...
  </div>
  <div id="course"><b><%=h COURSE_NAME %></b></div>
</div>
<div id="logo">
</div>
