<aside class='dialog' id='download_dialog'>
  <h2>
    <%= yield(:modal_download_title) %>
  </h2>
  <%= yield(:modal_download_content) %>

  <section class='dialog-actions'>
    <%= yield(:modal_download_actions) %>
  </section>
</aside>