<noscript>
  <div class='warning'>
    <p>This page uses Javascript. Your browser either doesn't support JavaScript or you have turned it off.</p>
    <p>To see this page as it is meant to appear, please use a JavaScript-enabled browser.</p>
  </div>
</noscript>
