<div id="redirect_dialog" style="display:none;">
  <%= form_tag do %>
    <p><strong><%= t(:session_expired)%></strong></p>
    <br>
    <%= button_tag t(:log_in), class: 'submit' %>
    <section class='dialog-actions'>
      <input type='reset' value='<%= t(:cancel) %>' />
    </section>
  <% end %>
</div>
