<div id="redirect_dialog" style="display:none;">
  <%= form_tag do %>
    <p><strong><%= I18n.t(:session_expired)%></strong></p>
    <br>
    <%= button_tag I18n.t(:log_in), onclick: 'redirectToLogin()' %>
    <%= button_tag I18n.t(:cancel), onclick: 'redirect_modal.close()' %>
  <% end %>
</div>
