<div id="redirect_dialog" style="display:none;">
  <%= form_tag do %>
    <p><strong><%= t(:session_expired)%></strong></p>
    <br>
    <%= button_tag t(:log_in), class: 'submit' %>
    <%= button_tag t(:cancel), class: 'cancel' %>
  <% end %>
</div>
