<aside class='dialog' id='redirect_dialog' style='display:none'>
  <%= form_tag do %>
    <p>
      <strong><%= t(:session_expired)%></strong>
    </p>

    <section class='dialog-actions'>
      <%= button_to_function t(:log_in), 'redirectToLogin()' %>
      <%= button_to_function t(:cancel), 'redirect_modal.close()' %>
    </section>
  <% end %>
</aside>
