<%= content_for :modal_id, 'session_expired_dialog' %>

<%= content_for :modal_content do %>
  <div id='session_expired_text'>
    <%= t('main.session_expired') %>
  </div>
  <section class='dialog-actions'>
    <%= button_tag t('main.log_in'), id: 'session-expired-modal-close' %>
  </section>
<% end %>
