<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if @notebook_type == 'jupyter-notebook' %>
      <%= stylesheet_link_tag('jupyter-notebook') %>
    <% end %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>
