<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title>Test Result: <%= @test_result.filename %></title>
  <%= yield :head %>
</head>
<body>
  <%= yield :layout %>
</body>
</html>
